<div class="gtc-container">
    <h2 class="text-center font-weight-normal">FREQENTLY ASKED QUESTIONS</h2>
    <div class="row m-t-md">
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question1" aria-expanded="false" aria-controls="question1">
                <span class="float-left m-r symbol-q">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">Can I get a unique name and URL to promote my Store?</span>
            </div>
            <div class="collapse bg-gray" id="question1">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Yes, Every store will have a unique URL dedicated to your own store.</span>
                </div>
            </div>
        </div>
		<div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question2" aria-expanded="false" aria-controls="question2">
                <span class="float-left m-r symbol-q">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What kind of SEO & Marketing tools do you offer?</span>
            </div>
            <div class="collapse bg-gray" id="question2">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Global Trade Connect is a a SEO optimized platform that will already enhance your marketing efforts.  You will also have access to various SEO specialists and social media strategists that can take your KLOUT to a whole new level.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question3" aria-expanded="false" aria-controls="question3">
                <span class="float-left m-r symbol-q">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">Can I syncronize my GTC wholesale inventory with my current website inventory?</span>
            </div>
            <div class="collapse bg-gray" id="question3">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Yes you can!  GTC has a simple to use one-touch import tool where you can sync your products from Aliexpress, Ebay, Wordpress or your Amazon account.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question4" aria-expanded="false" aria-controls="question4">
                <span class="float-left m-r symbol-q">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What level of support do i get with my subscription?</span>
            </div>
            <div class="collapse bg-gray" id="question4">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">You will have access to 24 hour email support and a live agent 7 days a week during prime business hours - Mountain Standard Time.
					</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question5" aria-expanded="false" aria-controls="question5">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What sales and accounting reports do you offer?</span>
            </div>
            <div class="collapse bg-gray" id="question5">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a">A</span>
                    <span class="float-right card-text">You will have the ability to generate reports to make proper financial decisions, evaluate your key performance indicators as well as prepare reports for your accountant. </span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question6" aria-expanded="false" aria-controls="question6">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">Do you have an app?</span>
            </div>
            <div class="collapse bg-gray" id="question6">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a">A</span>
                    <span class="float-right card-text">2019 will be the launch of the Global Trade Pass app available on iTunes and Google Play Store. </span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question7" aria-expanded="false" aria-controls="question7">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">How do I place my order?</span>
            </div>
            <div class="collapse bg-gray" id="question7">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a">A</span>
                    <span class="float-right card-text">Once you have finished adding items to your shopping cart and are ready to complete your transaction, move your cursor to the upper-right corner of the screen and click on the SHOPPING BAG icon and click either View Cart or Checkout from the dropdown.
						If you have a coupon code, you may enter it on the box intended and click the "Update Cart" button in order to have it applied to your order.
						Once you have decided how to proceed, click "Checkout" and you will be brought to a screen that provides an order summary. You will be prompted to enter your billing information and the name and address of the intended recipient of your shipment (i.e. your delivery information)
						You will also need to enter your payment details.  . Once you are ready to complete your order, click on the "Place order" button to the lower right of your screen.  You will receive an on-screen order confirmation, as well as a second confirmation via e-mail.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question8" aria-expanded="false" aria-controls="question8">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">How do I view what’s in my shopping cart?</span>
            </div>
            <div class="collapse bg-gray" id="question8">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">To view the contents of your cart, click on the “View cart” icon in the upper-right corner of your computer screen. Once you click on this icon, you can easily change the quantity you want to purchase of a particular item in your cart by updating the quantity listed and then clicking the “Update cart” link. You can also delete any item in your cart by clicking the “x” button at the left side of that item and then updating your cart with the "Update cart" link.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question9" aria-expanded="false" aria-controls="question9">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">How do I add items to my cart?</span>
            </div>
            <div class="collapse bg-gray" id="question9">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">To add an item to your cart, navigate to the page of the item you are interested in and then choose your desired version of that item and click "Add to Cart". Once you had completed you order, click the “View Cart” link, you will be brought to your "Shopping cart" page where you can then enter the quantity of the item that you would like to order using the "Qty".</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question10" aria-expanded="false" aria-controls="question10">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">How will I know that you have received my order?</span>
            </div>
            <div class="collapse bg-gray" id="question10">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">After you complete the checkout process, it will direct you to the on-screen order confirmation. The order ID will appear on your screen detailing your final order including shipping charges, your billing address, and the items that are being sent to your shipping address. Please keep this information for your reference. You will also receive confirmation via e-mail that we have received your order. (Please be sure to enter your e-mail address correctly on the order form so that we can be sure to deliver your confirmation to you.)</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question11" aria-expanded="false" aria-controls="question11">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What are your shipping and handling rates?</span>
            </div>
            <div class="collapse bg-gray" id="question11">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text justify-content-center align-self-center">Shipping and handling rates are set by each seller. Shipping and handling rates also vary depending on the destination of the order and are based on the total cost of the order.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question12" aria-expanded="false" aria-controls="question12">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What is your return policy?</span>
            </div>
            <div class="collapse bg-gray" id="question12">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a">A</span>
                    <span class="float-right card-text">Each seller has their own return/refund/exchange policy. We encourage you to read the seller’s return policy prior to making a purchase.</span>
                </div>
            </div>
        </div>
    </div>
</div>