<div class="gtc-container">
    <h2 class="text-center font-weight-normal">FREQENTLY ASKED QUESTIONS</h2>
    <div class="row m-t-md">
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question1" aria-expanded="false" aria-controls="question1">
                <span class="float-left m-r symbol-q">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">Can I get a unique name and URL to promote my Store?</span>
            </div>
            <div class="collapse bg-gray" id="question1">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question2" aria-expanded="false" aria-controls="question2">
                <span class="float-left m-r symbol-q">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What kind of SEO & Marketing tools do you offer?</span>
            </div>
            <div class="collapse bg-gray" id="question2">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question3" aria-expanded="false" aria-controls="question3">
                <span class="float-left m-r symbol-q">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">Can I syncronize my GTC wholesale inventory with my current website inventory?</span>
            </div>
            <div class="collapse bg-gray" id="question3">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question4" aria-expanded="false" aria-controls="question4">
                <span class="float-left m-r symbol-q">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What level of support do i get with my subscription?</span>
            </div>
            <div class="collapse bg-gray" id="question4">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question5" aria-expanded="false" aria-controls="question5">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What sales and accounting reports do you offer?</span>
            </div>
            <div class="collapse bg-gray" id="question5">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question6" aria-expanded="false" aria-controls="question6">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">Do you have an app?</span>
            </div>
            <div class="collapse bg-gray" id="question6">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question7" aria-expanded="false" aria-controls="question7">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">Can I get a unique name and URL to promote my Store?</span>
            </div>
            <div class="collapse bg-gray" id="question7">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question8" aria-expanded="false" aria-controls="question8">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What kind of SEO & Marketing tools do you offer?</span>
            </div>
            <div class="collapse bg-gray" id="question8">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question9" aria-expanded="false" aria-controls="question9">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">Can I syncronize my GTC wholesale inventory with my current website inventory?</span>
            </div>
            <div class="collapse bg-gray" id="question9">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question10" aria-expanded="false" aria-controls="question10">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What level of support do i get with my subscription?</span>
            </div>
            <div class="collapse bg-gray" id="question10">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question11" aria-expanded="false" aria-controls="question11">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">What sales and accounting reports do you offer?</span>
            </div>
            <div class="collapse bg-gray" id="question11">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                    <span class="float-right card-text justify-content-center align-self-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
        <div class="card col-md-4 no-padding d-inline-table">
            <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question12" aria-expanded="false" aria-controls="question12">
                <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                <span class="float-right card-text justify-content-center align-self-center">Do you have an app?</span>
            </div>
            <div class="collapse bg-gray" id="question12">
                <div class="card-body d-flex">
                    <span class="float-left m-r symbol-a">A</span>
                    <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                </div>
            </div>
        </div>
    </div>
</div>