<div class="col-sm-10">
	<div class="ibox">
		<div class="ibox-content">
			<div class="content-body text-center"><br/><br/>
				<p>Your plan has expired. Please renew by clicking the below link.</p><br/>
				<a href="/upgradeplan">
				<button class="ladda-button btn btn-md update-btn m-t">RENEW PLAN</button></a>
			</div><br/><br/>
		</div>
	</div>
</div>