<div class="vendor-alert msg-warning" tabindex="1">
	<div class="gtc-container text-center">
		<span><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Please update contact email in your &#10077;<strong>Profile Settings</strong>&#10078; page, in order to receive all kind of notification mail.</span>
	</div>
</div>