<div class="vendor-alert msg-warning" tabindex="1">
	<div class="gtc-container text-center">
		<span><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please update contact email in your ' Profile Settings ' page, in order to receive all kind of notification mails.</span>
	</div>
</div>