<script type="text/javascript">
</script>
{{> header/top-header LoggedInUser = LoggedInUser}}
<section>
	{{> vendor/vendor-header VendorDetail = VendorDetail}}
	<div class="logged_in_cont" >
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-12"  >
					{{> vendor/vendor-left VendorDetail = VendorDetail}}
				</div>
				<!--Product_Discussion-->
				<div class="col-md-10 col-12 discussion_bg ">
					<h3 class="discussion_head"> DISCUSSION BOARD</h3>
					
					<div class="row">
						<div class="col-md-9 col-12 discussion_logo" >
							<div class="row">
								<div class="col-md-7 col-12">
								{{#if LoggedInUser.Vendor.id}}
									<div class="row">
										<div class="col-md-2 col-3 discussion_para_bg">
											<img style="width: 45px; height:44px " class = "img-border-page" src="{{LoggedInUser.Vendor.vendor_profile_pic_url}}">
										</div>
										<div class="col-md-10 col-9 discussion_para_bg " >
											<div class="discussion_text">
												<div class="input-group">
													<input type="text" class="form-control promo_code_text1" placeholder="Ask Hayden Agencies a question or post" style="width: 80%">
													<span class="promo_code_text_span1"><i class="fas fa-camera"></i></span>
													<button class="discussion_butt">Post</button>
												</div>
											</div>
										</div>
									</div>
									<div class="row showing_categ" style="padding: 3px;margin: 10px auto;">
									</div>
									{{/if}}
									<div class="row">
										<div class="col-md-2 col-2 discussion_para_bg">
											<img style="width: 45px; height:44px " class = "img-border-page" src="{{LoggedInUser.Vendor.vendor_profile_pic_url}}">
										</div>
										<div class="col-md-10 col-10 discussion_para_bg">
											<p class="discussion_para" ><span class="discussion_span">Hayden Agencies Ltd.</span>-Here's our next product being released in 10days - <span style="color: #BDBDBD;">1 day ago</span></p>
											<img src="../img/discuss_cnt_img.png" alt="img" style="width: 100%;margin-top: 10px;">
											<div class="row">    	
												<div class="col-md-8 col-5  discussion_com">
													<p>Comments(10)</p>
												</div>
												<div class="col-md-2 col-4 common_padding1 discussion_lin">
													<p>31 Likes</p>
												</div>
												<div class="col-md-2 col-3  common_padding1 discussion_com "><button class="discussion_butt">Like</button></div>
											</div>
											<div class="row" style="margin-bottom: 10px;">
												<div class="col-md-2 col-2">
													<img style="width: 40px;height:39px " class = "img-border-page"src="{{LoggedInUser.user_pic_url}}">
												</div>
												<div class="col-md-10 col-10">
													<p class="discussion_here"><span class="discussion_hayden">Hayden Agencies Ltd.</span>-Here's our next product being released in 10 days - <span class="discussion_day">1 day ago</span></p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-2 col-2">
													<img style="width: 40px;height:39px " class = "img-border-page"src="{{LoggedInUser.user_pic_url}}">
												</div>
												<div class="col-md-10 col-10">
													<div class="discussion_text">
														<div class="input-group">
															<input type="text" class="form-control promo_code_text1" placeholder="Write Comment">
															<span class="promo_code_text_span1"><i class="fas fa-camera"></i></span>
															<button class="discussion_butt">Post</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row showing_categ" style="padding: 3px; margin: 10px auto;">
									</div>
									
								</div>
								<div class="col-md-5 col-12 discussion_most-bg">
									<div class="dis_side_bar">
										<p class="discussion_most_head">MOST POPULAR POSTS</p>
										<ul>
											<li>It is Time to Color Your Business</li>
											<li>Color Your Business Days with These Tips</li>
											<li>90's Business Models Remain the Best</li>
											<li>Why are Mondays Hated?</li>
											<li>Technology can Improve Your Business</li>
										</ul>
									</div>
									<div class="dis_side_bar">
										<p class="discussion_most_head">MOST POPULAR POSTS</p>
										<ul>
											<li>It is Time to Color Your Business</li>
											<li>Color Your Business Days with These Tips</li>
											<li>90's Business Models Remain the Best</li>
											<li>Why are Mondays Hated?</li>
											<li>Technology can Improve Your Business</li>
										</ul>
									</div>
								</div>						
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>						
{{> footer/bottom-footer}}