<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Global Trade Connect</title>
    <base href="/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700%7CRoboto:400,600">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/gtc-style.css">
    <link rel="stylesheet" href="css/gtc-custom-style.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="plugins/jquery-ui/css/jquery-ui.min.css">
    <link rel="stylesheet" href="plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="plugins/datepicker/css/datepicker.min.css"  />
    <link rel="stylesheet" href="/resources/demos/style.css">
    {{!-- <link rel="stylesheet" href="plugins/select2/css/select2.min.css"> --}}
    <script src="https://apis.google.com/js/api:client.js"></script>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="plugins/select2/js/select2.min.js"></script>-->
    <script type="text/javascript" src="auth.service.js"></script>
    <script type="text/javascript" src="intercept.js"></script>
    <script src="plugins/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            $('.sticky-top').toggleClass('scrolled', $(this).scrollTop() > 50);
        });
    </script>
    <script src="plugins/datepicker/js/datepicker.min.js"></script>
    <script src="plugins/select2/js/select2.min.js"></script>
</head>

<body>

    {{> environment}} {{> header/defaultHeader}} {{{body}}} {{> footer/footer}}

</body>

</html>