<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript">
        window.FontAwesomeConfig = {
            searchPseudoElements: true
        };
    </script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Trade Connect</title>
    <base href="/">
    <link rel="stylesheet" href="css/gtc-custom-fonts.css">
    <link rel="stylesheet" type="text/css" href="gtc-assets/plugins/bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/gtc-style.css">
    <link rel="stylesheet" href="css/gtc-custom-style.css">
    <link rel="stylesheet" type="text/css" href="gtc-assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="gtc-assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="gtc-assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="gtc-assets/css/responsive-new.css">
    <link rel="stylesheet" href="plugins/jquery-ui/css/jquery-ui.min.css">
    <link rel="stylesheet" href="plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="plugins/datepicker/css/datepicker.min.css">
    <link rel="stylesheet" href="plugins/jquery-bar-rating/themes/fontawesome-stars.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugins/cropperjs/cropper.min.css">
    <link rel="stylesheet" href="plugins/ladda/ladda-themeless.min.css">
    <link rel="stylesheet" href="plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">


    <script src="https://apis.google.com/js/api:client.js"></script>
    <script type="text/javascript" src="gtc-assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="gtc-assets/js/popper.min.js"></script>
    <script type="text/javascript" src="js/Chart.js"></script>
    <script type="text/javascript" src="js/line.js"></script>
    <script type="text/javascript" src="gtc-assets/plugins/bootstrap-4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="auth.service.js"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            $('.sticky-top').toggleClass('scrolled', $(this).scrollTop() > 50);
        });
    </script>
    <script src="plugins/jquery-validate/jquery.validate.min.js"></script>
</head>

<body>
    {{> environment}} {{{body}}}


    <script src="plugins/jquery-ui/js/jquery-ui.min.js"></script>

    <script src="plugins/datepicker/js/datepicker.min.js"></script>
    <script src="plugins/select2/js/select2.min.js"></script>
    <script src="plugins/jquery-bar-rating/jquery.barrating.min.js"></script>
    <script src="plugins/lodash/lodash.min.js"></script>
    <script src="plugins/cropperjs/cropper.min.js"></script>
    <script src="plugins/notifyjs/notify.min.js"></script>
    <script src="plugins/ladda/spin.min.js"></script>
    <script src="plugins/ladda/ladda.min.js"></script>
    <script src="plugins/ladda/ladda.jquery.min.js"></script>
    <script src="plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <script>
        $(function () {
            // Bind normal buttons
            Ladda.bind('.ladda-button', { timeout: 2000 });
            // Bind progress buttons and simulate loading progress
            Ladda.bind('.progress-demo .ladda-button', {
                callback: function (instance) {
                    var progress = 0;
                    var interval = setInterval(function () {
                        progress = Math.min(progress + Math.random() * 0.1, 1);
                        instance.setProgress(progress);

                        if (progress === 1) {
                            instance.stop();
                            clearInterval(interval);
                        }
                    }, 200);
                }
            });
            var l = $('.ladda-button-demo').ladda();
            l.click(function () {
                // Start loading
                l.ladda('start');

                // Timeout example
                // Do something in backend and then stop ladda
                setTimeout(function () {
                    l.ladda('stop');
                }, 12000)
            });
        });

    </script>

    {{!-- <link href="plugins/summernote/summernote.css" rel="stylesheet">
    <script type="text/javascript" src="plugins/summernote/summernote.js"></script> --}}
    
     
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

</body>

</html>