  {{> header/top-header LoggedInUser = LoggedInUser}}  {{> vendor/vendor-menu}}
  <section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8" style="background-color: #fff;">
					<p class="vend_edit_lists_pstyle"></p>
					<div class="row">
						<div class="col-md-10">
							<input type="submit" value="COMPOSE" class="vend_edit_lists_buttonstyle" />  <input type="submit" value="REFRESH" class="vend_edit_lists_buttonstyle" /> <input type="submit" value="DELETE" class="vend_edit_lists_buttonstyle" />
						</div>
						<div class="col-md-2">
							<input type="text" placeholder="Search Mail" class="vend_edit_lists_searchstyle float-right" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle">333,333 items total</p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right">Entries per page: 10 25 100 All</p>
						</div>
					</div>
					<div class="row">
						<table class="table table-hover">
							<thead>
								<tr>
									<th><input type="checkbox"></th>
									<th>From</th>
									<th>Subject</th>
									<th>Date</th>
									<th>Size</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr>
								<tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr>
								<tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr>
								<tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td>Global Trade Connect</td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>1 KB</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle">333,333 items total</p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right">Entries per page: 10 25 100 All</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					
				</div>				
			</div>
		</div>
	</div>
</section>
{{> footer/bottom-footer}}
