 {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
  <section class="showing_categ">
	<div class="" >
		
			<div class="row">
				{{> vendor/navbar}}
               
				<div class="col-md-8 list_bg">
					<h5 class="gtc-title"> Payment Settings </h5>
					<div class="row currency">
						<div class="col-md-5">
								<select class="payment-selection">
										<option value="Currency" selected>Currency($)</option>
									</select>
						</div>
						<div class="col-md-5 payment-settings">
								<p>This controls what currency your products will ne displayed in </p>
						</div>
					</div>
					
					{{!-- <div class="row currency">
							<div class="col-md-5">
									<select class="payment-selection">
											<option value="Currency" selected>Selling Location(s)</option>
										</select>
							</div>
							<div class="col-md-5 payment-settings">
									<p> This let's you limit which countries you are willing sell to</p>
							</div>
						</div>
						<div class="row currency">
								<div class="col-md-5">
										<select class="payment-selection">
												<option value="Currency" selected>Shipping Location(s)</option>
											</select>
								</div>
								<div class="col-md-5 payment-settings">
										<p> This let's you limit which countries you are willing to ship to</p>
								</div>
							</div> --}}
								
                <hr/>
                <h5 class="gtc-title">Connect Your Accounts </h5>
                <p class="cya1">Sell more by accepting more payment options. Connect your PayPal ans Stripe account or sign up for your free account today.</p>
                <div class="row">
               	 <div class="col-md-5 paypal">
                	<img class="paypal-img" src="../../img/paypal.jpg" width="100%">
                	<p class="cya">Connect an existing PayPal account: </p>
                	<div class="row">
                		<div class="col-md-8">
                		<input class="paypal-email" type="text" name="email" placeholder="Enter Your Paypal Email"/>
                		</div>
                		<div class="col-md-4">
                		<button class="connect-btn">CONNECT </button>
                		</div>
                	</div>
                    <p class="cya">Don't have a PayPal account? </p>
                    	<div class="row">
                        	<div class="col-md-12">
                            <button class="connect-btn"> CREATE A NEW PAYPAL ACCOUNT </button>
                            </div>
                        </div>
                        <p class="cya">Cost for a PayPal account is 0% monthly, with 2.9% +.030 per transaction. </p>
                	</div>
                <div class="col-md-5">
                <img src="../../img/stripe.jpg" width="100%">
                <p class="cya">Connect an existing Stripe account: </p>
                	<div class="row">
                    	<div class="col-md-8">
                        <input class="paypal-email" type="text" name="id" placeholder="Enter Your Stripe Id"/>
                        </div>
                        <div class="col-md-4">
                        <button class="connect-btn">CONNECT </button>
                        </div>
                    </div>
                    <p class="cya">Don't have a stripe account?</p>
                		<div class="row">
                        <div class="col-md-12">
                        <button class="connect-btn"> CREATE A NEW STRIPE ACCOUNT  </button>
                        </div>
                        </div>
               			<p class="cya">Cost for a PayPal account is 0% monthly, with 2.9% +0.30 per transaction. </p>
                </div>
                              
                </div>
                <hr/>
                <p><button class="update-btn" style="padding: 5px 20px;">UPDATE </button> <button class="cancel-btn" style="padding: 5px 20px;">CANCEL </button>  </p>
                </div>
            </div>
		
</section>
{{> footer/bottom-footer}}
