<script>
	$(document).ready(function() {


	
	$(function () {
  $('[data-toggle="popover"]').popover({
		html: true,
		content: function() {
			return ($("#shareRemainingIcons").html());
		}
	});

})
    var vendorID =$('#vendor_id').val();
	var vendorName=$('#vendor_name').val();
	var url =  window.location.protocol + "//" + window.location.host + "/"+"vendor"+"/"+vendorID
   $("#shareRemainingIcons").jsSocials({
		url: url,
		text: vendorName,
		showLabel: false,
		showCount: false,
		shares: ["googleplus", "whatsapp"]
	});
		$("#shareIcons").jsSocials({
		url: url,
		text: vendorName,
		showLabel: false,
		showCount: false,
		shares: ["linkedin","twitter","facebook","pinterest","email"],
	});
		});
</script>

{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
<style>
	.bg-promote-img3 a{
	padding: 2px 7px 7px 7px;
    font-size: 17px;
	margin-left:1px;
	}
	.jssocials-share {
		margin:0.0.0em;
	}

</style>
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#ifCond LoggedInUser.Vendor.VendorPlans.[0].status '==' statusCode.ACTIVE}}
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>Promote Store</h2>
						</div>
						<div class="content-body">
							<div class="row">
								<div class="col-md-4">
									<div class="bg-promote-img">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<h5>CREATE A GTC AD</h5>
													<p>Create a top level advertisement for your store or product, features in all prime positions throughout GTC.</p>
													<a class="btn btn-danger" href="/advertisement">GET STARTED</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="bg-promote-img2">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<h5>FEATURE A PRODUCT</h5>
													<p>Choose a product to take preferred placement on the GTC homepage, department pages, and your profile!</p>
													<a class="btn btn-warning" href="/listings/services">GET STARTED</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="bg-promote-img3">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<h5>SHARE YOUR STORE!</h5>
													<input type="hidden" id="vendor_id" name="vendor_id" value = {{LoggedInUser.Vendor.id}}>
													<input type="hidden" id="vendor_name" name="vendor_name" value="{{LoggedInUser.Vendor.vendor_name}}">
													<p>Let everyone know where to buy your products on GTC!</p>
													<div class="alignright text-right">
														<a id="shareIcons" class="alignleft"></a>
														<a href="javascript:;" data-toggle="popover" data-placement="top"  id="sharesremaining" >
															<img src="../../gtc-assets/img/social-icons/plus.png"    style="margin-top:11%;margin-left: -15px;" alt="Plus" title="Plus">
														</a>
														<div id="shareRemainingIcons"  style="display:none;" class="alignleft"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{else}}
				{{> plan-inactive}}
			{{/ifCond}}
		</div>
	</div>
</div>
											
													  
													{{!-- <div class="row social-img">
										                     				
	      													<div class="col-md-1">
														
																
																<div id="shareIcons"></div>
															
															
														</div>
														<div class="col-md-1">
															<a href="javascript:;">
																<img src="../../img/social-icons/twitter.png" />
															</a>
														</div>
														<div class="col-md-1">
															<a href="javascript:;">
																<img src="../../img/social-icons/facebook.png" />
															</a>
														</div>
														<div class="col-md-1">
															<a href="javascript:;">
																<img src="../../img/social-icons/pintrest.png" />
															</a>
														</div>
														<div class="col-md-1">
															<a href="javascript:;">
																<img src="../../img/social-icons/google.png" />
															</a>
														</div>
														
														<div class="col-md-1">
															<a href="javascript:;">
																<img src="../../img/social-icons/plus.png" />
															</a>
														</div>
													</div> --}}
{{!-- 												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> --}}
{{> footer/bottom-footer}} {{!-- {{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
<section class="showing_categ">
	<div class="">
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-10" style="background-color: #fff;">
					<h5 style="padding-top: 20px;">Promote Your Store</h5>




				</div>
			</div>
		</div>
	</div>
</section>
{{> footer/bottom-footer}} --}}