 <script>
    function addProduct() {
      location.href = 'add-product/shop';
    }
    
    function skip(){
       location.href = 'reporting'; 
    }
  </script>
  <style>
      #addProduct{
          cursor: pointer;
      }
  </style>

{{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/header}}

<section class="showing_categ">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-2 showing_categ">
                </div>
                <div class="col-md-8 jumbotron text-center" style="background-color: #fff;">
                    <i class="fas fa-download ven_cnt_dwn_icon"></i>
                    <p class="ven_cnt_h1_title" style="font-size: 30px;font-family: 'Oswald', sans-serif;">BUILD YOUR STONE</p>
                    <p class="ven_cnt_h1_title">Create your Global Trade Connect database now! You can import from the following online services or add
                        your first product manually</p>
                    <div class="row">
                        <div class="col-md-3" style="margin: auto;">
                            <a href="#">
                                <img src="../../img/import-ebay.png" alt="ebay" style="width: 100%;margin: auto;" />
                            </a>
                            <a href="#" class="imp_text_style">IMPORT FROM EBAY</a>
                        </div>
                        <div class="col-md-3 " style="margin: auto;">
                            <a href="#">
                                <img src="../../img/import-aliexpress.png" alt="ebay" style="width: 100%;margin: auto;" />
                            </a>
                            <a href="#" class="imp_text_style">IMPORT FROM ALIEXPRESS</a>
                        </div>
                        <div class="col-md-3 " style="margin: auto;">
                            <a href="#">
                                <img src="../../img/import-wordpress.png" alt="ebay" style="width: 100%;margin: auto;" />
                            </a>
                            <a href="#" class="imp_text_style">IMPORT FROM WORDPRESS</a>
                        </div>
                        <div class="col-md-3 " style="margin: auto;">
                            <a href="#">
                                <img src="../../img/import-amazon.png" alt="ebay" style="width: 100%;margin: auto;" />
                            </a>
                            <a href="#" class="imp_text_style">IMPORT FROM AMAZON</a>
                        </div>

                    </div>
                    <p class="ven_cnt_h1_title">or</p>
                    <input class="list_butt_2" type="submit" id="addProduct" onclick="addProduct(); return false;" value="ADD YOUR FIRST PRODUCT" />
                    <p class="ven_cnt_h1_title">
                        <a href="javascript:void(0)" onclick="skip(); return false;" class="text_blue_color">Skip this step</a>
                    </p>
                    <p class="ven_cnt_h1_title">Please note: Global Trade Connect is not responsible for any information not imported and it is recommend
                        <br/>that they check the products to ensure the information has been relayed properly</p>
                </div>
                <div class="col-md-2 showing_categ">
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer/footer}}