{{> header/top-header LoggedInUser = LoggedInUser}}
{{> vendor/vendor-menu}}

<script type="text/javascript">
	$(document).ready(function() {
		$('#btnFaSpinner').hide();
		$('#btnAliExpressFaSpinner').hide();
		$('#AmazonBtnFaSpinner').hide();

		$('input[type="text"]').keyup(function() {
			if ($(this).val() != '') {
				$(':input[type="submit"]').prop('disabled', false);
			}
		});

		$("#importAliExpressForm").submit(function(e) {
			e.preventDefault();

			var data = {}
			$("#popupError p").remove();
			$(':input[type="submit"]').prop('disabled', true);

			if ($('#importAliExpressForm').valid()) {
				data['marketplace_id'] = 2;
				data['vendor_id'] = $('#inputSellerId').val();

				$('#btnAliExpressFaSpinner').show();

				$.ajax({
					type: 'POST',
					url: '/api/product/import-aliexpress',
					data: data,
					success: function(data, response) {
						$('#btnAliExpressFaSpinner').hide();
						 $('#importAliExpressModal').modal('toggle');
						$('#logMessage').append('<p class="text-center text-primary m-b-xs">products added successfully.</p>');
					},
					error: function(response, status, error) {
						$('#btnAliExpressFaSpinner').hide();
						$('#popupError').append('<p class="text-center label-control text-danger">' + response.responseText + '</p>');
					}
				});
			}
		});

		$("#importAliExpressForm").validate({
			rules: {
				seller_id: "required"
			},
			messages: {
				seller_id: "Please enter seller ID"
			}
		});

		$("#importWooCommerceForm").submit(function(e) {
			e.preventDefault();

			var credentials = {};
			$("#popupError p").remove();
			$(':input[type="submit"]').prop('disabled', true);

			if ($('#importWooCommerceForm').valid()) {
				credentials['marketplace_id'] = 2;
				credentials['store_url'] = $('#inputStoreURL').val();
				credentials['consumer_key'] = $('#inputConsumerKey').val();
				credentials['consumer_secret'] = $('#inputConsumerSecret').val();
				$('#btnFaSpinner').show()
				$.ajax({
					type: 'POST',
					url: '/api/product/import-woocommerce',
					data: credentials,
					success: function(data, response) {
						$('#btnFaSpinner').hide();
						$('#logMessage').append('<p class="text-center text-primary m-b-xs">' + data.successProduct + ' products added successfully.</p>');
						$('#importWooCommerModal').modal('toggle');
					},
					error: function(response, status, error) {
						$('#btnFaSpinner').hide();
						$('#popupError').append('<p class="text-center label-control text-danger">' + response.responseText + '</p>');
					}
				});
			}
		});

		$("#importWooCommerceForm").validate({
			rules: {
				store_url: "required",
				consumer_key: "required",
				consumer_secret: "required"
			},
			messages: {
				store_url: "Please enter store url.",
				consumer_key: "Please enter consumer key.",
				consumer_secret: "Please select consumer secret."
			}
		});

		$("#importEbay").click(function() {
			var ebayOAuthURL = `https://signin.sandbox.ebay.com/authorize?client_id=ChandruM-GlobalTr-SBX-9ed62ccbf-855742ca&redirect_uri=Chandru_M-ChandruM-Global-bojdlvvw&response_type=code&scope=https%3A%2F%2Fapi.ebay.com%2Foauth%2Fapi_scope%2Fsell.account%20https%3A%2F%2Fapi.ebay.com%2Foauth%2Fapi_scope%2Fsell.inventory`;
			var ebayWindow = window.open(ebayOAuthURL, 'ebayOAuthPopup', 'location=0,status=0,width=800,height=400');
		});

		$("#importAmazonModalForm").validate({
			rules: {
				amazon_seller_id: "required",
				amazon_auth_token: "required",
				amazon_marketplace: "required"
			},
			messages: {
				amazon_seller_id: "Please enter your seller or merchant id",
				amazon_auth_token: "Please enter the auth Token",
				amazon_marketplace: "Please select the marketplace region"
			}
		});

		$('#importAmazonModalForm').submit(function(e){
			e.preventDefault();

			if ($('#importAmazonModalForm').valid()) {
				$(':input[type="submit"]').prop('disabled', true);
				$("#amazonPopupError p").remove();

				let credentials = {};
				credentials['marketplace_id'] = 2;
				credentials['amazon_seller_id'] = $('#amazon_seller_id').val();
				credentials['amazon_auth_token'] = $('#amazon_auth_token').val();
				credentials['amazon_marketplace'] = $('#amazon_marketplace').val();

				$('#AmazonBtnFaSpinner').show();
				$.ajax({
					type: 'POST',
					url: '/api/product/import-amazon',
					data: credentials,
					success: function(data, response) {
						$('#AmazonBtnFaSpinner').hide();
						$('#logMessage').append('<p class="text-center text-primary m-b-xs">'+ data +'</p>');
						$('#importAmazonModal').modal('toggle');
					},
					error: function(response, status, error) {
						$('#AmazonBtnFaSpinner').hide();
						$('#amazonPopupError').append('<p class="text-center label-control text-danger">' + response.responseText + '</p>');
					}
				});
			}
		})


	});
</script>

<div class="wrapper-content bg-gray">
    <div class="gtc-container">
        <div class="row">
            <div class="col-md-12">
                <div class="landing bg-white">
                	<div id="logMessage"></div>
                    <div class="icon-import">
                    	<svg xmlns="http://www.w3.org/2000/svg" width="73.5" height="58" viewBox="0 0 73.5 58"><g fill="#D9D9DA"><path d="M0 33.4c3.2.1 6.5.1 9.7.2h2.5v12.2h49V33.4h12.3V58H0V33.4zM54.8 15.2c-6.2 6.1-12.1 12-17.8 17.7L19.3 15.2h8.3V0H46v15.2h8.8z"/></g></svg>
                    </div>
                    <h1 class="m-t-sm">BUILD YOUR STORE</h1>
                    <p class="m-t-lg content-txt">Create your Global Trade Connect database now! You can import from the following online services or add your first product manually.</p>
                    <div class="row m-t-lg">
                    	<div class="col-md-3">
                    		<div class="import">
                    			<a href="javascript:;" id="importEbay">
	                    			<img src="gtc-assets/img/import-ebay.png" alt="import ebay" title="import from ebay">
	                    			<p class="content-txt text-black m-t-xs font-weight-bold">IMPORT FROM EBAY</p>
                    			</a>
                    		</div>
                    	</div>
                    	<div class="col-md-3">
                    		<div class="import">
                    			<a href="#" data-toggle="modal" data-target="#importAliExpressModal" data-whatever="@mdo">
                    				<img src="gtc-assets/img/import-aliexpress.png" alt="import aliexpress" title="import from aliexpress">
                    				<p class="content-txt text-black m-t-xs font-weight-bold">IMPORT FROM ALIEXPRESS</p>
                    			</a>
                    		</div>
                    	</div>
                    	<div class="col-md-3">
                    		<div class="import">
                    			<a href="#" data-toggle="modal" data-target="#importWooCommerModal" data-whatever="@mdo">
                    				<img src="gtc-assets/img/import-wordpress.png" alt="import wordpress" title="import from wordpress">
                    				<p class="content-txt text-black m-t-xs font-weight-bold">IMPORT FROM WORDPRESS</p>
                    			</a>
                    		</div>
                    	</div>
                    	<div class="col-md-3">
                    		<div class="import">
								<a href="#" data-toggle="modal" data-target="#importAmazonModal" data-whatever="@mdo">
                    				<img src="gtc-assets/img/import-amazon.png" alt="import amazon" title="import from amazon">
                    				<p class="content-txt m-t-xs font-weight-bold">IMPORT FROM AMAZON</p>
                    			</a>
                    		</div>
                    	</div>
                    </div>
                    <div class="row m-t-lg">
                    	<div class="col-md-12">
                    		<p><small>or</small></p>
                    		<a href="listings/shop/add-product" class="btn btn-gray button-small font-weight-bold">ADD YOUR FIRST PRODUCT</a>
                    		<p class="m-t-lg"><small>Please note: Global Trade Connect is not responsible for any information not imported and it is recommend that the check the products to ensure the information has been relayed properly.</small></p>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="importAliExpressModal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Import Products From Ali Express</h5>
			</div>
			<form id="importAliExpressForm" class="form">
				<div class="modal-body">
					<div class="row">
	                    <div class="col-lg-12">
	                        <div class="form-group">
	                            <label class="label-control d-block">Ali Express Seller ID :</label>
	                            <input type="text" id="inputSellerId" name="seller_id" class="form-control-customized form-control-sm" required/>
	                        </div>
	                    </div>
	                    <div class="col-lg-12" id="popupError"></div>
	                </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-small btn-muted" data-dismiss="modal"><b>Close</button>
					<button type="submit" class="btn btn-small btn-primary"><strong>Submit</strong><i id="btnAliExpressFaSpinner" class="fa fa fa-spinner fa-spin m-l-xs"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="importWooCommerModal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Import Products From Wordpress</h5>
			</div>
			<form id="importWooCommerceForm" class="form">
				<div class="modal-body">
					<div class="row">
	                    <div class="col-lg-12">
	                        <div class="form-group">
	                            <label class="label-control d-block">Your store URL <a class="alignright" target="_blank" href="https://woocommerce.github.io/woocommerce-rest-api-docs/?javascript#requirements">Requirements for woocommerce setup</a></label>
	                            <input type="text" id="inputStoreURL" name="store_url" class="form-control-customized form-control-sm" required/>
	                        </div>
	                    </div>
	                    <div class="col-lg-12">
	                        <div class="form-group">
	                            <label class="label-control d-block">Generating API Key and Secret <a class="alignright" target="_blank" href="https://woocommerce.github.io/woocommerce-rest-api-docs/?javascript#rest-api-keys">Requirements for woocommerce setup</a></label>
	                            <input type="text" id="inputConsumerKey" name="consumer_key" class="form-control-customized form-control-sm" required/>
	                        </div>
	                    </div>
	                    <div class="col-lg-12">
	                        <div class="form-group">
	                            <label class="label-control">Your consumer secret</label>
	                            <input type="text" id="inputConsumerSecret" name="consumer_secret" class="form-control-customized form-control-sm" required/>
	                        </div>
	                    </div>
	                    <div class="col-lg-12" id="popupError"></div>
	                </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-small btn-muted" data-dismiss="modal"><b>Close</button>
					<button type="submit" class="btn btn-small btn-primary"><strong>Submit</strong><i id="btnFaSpinner" class="fa fa fa-spinner fa-spin m-l-xs"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="importAmazonModal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Import Products from Amazon</h5>
			</div>
			<form id="importAmazonModalForm" class="form">
				<div class="modal-body">
					<div class="row">
	                    <div class="col-lg-12">
	                        <div class="form-group">
	                            <label class="label-control d-block">Developer ID</label>
	                            <input type="text" id="amazon_dev_id" name="amazon_dev_id" value="{{AmazonDeveloperID}}" class="form-control-customized form-control-sm" disabled required style="cursor:not-allowed;"/>
	                        </div>
							<p class="label-control d-block">Note: Copy paste our Developer ID into Amazon seller central console, authorize us and provide the Merchant Id and Auth token below to import produts into GTC. For more information visit - <a href="https://docs.developer.amazonservices.com/en_IT/faq.html#faq__developForSeller" target="_blank">Amazon seller central - Authorize a Developer</a></p>
	                    </div>
						<div class="col-lg-12">
	                        <div class="form-group">
	                            <label class="label-control d-block">Merchant ID or Seller ID</label>
	                            <input type="text" id="amazon_seller_id" name="amazon_seller_id" class="form-control-customized form-control-sm" required/>
	                        </div>
	                    </div>
						<div class="col-lg-12">
	                        <div class="form-group">
	                            <label class="label-control d-block">AuthToken</label>
	                            <input type="text" id="amazon_auth_token" name="amazon_auth_token" class="form-control-customized form-control-sm" required/>
	                        </div>
	                    </div>
						<div class="col-lg-12">
							<div class="select-container custom-select-container"> 
								<label class="label-control d-block">Choose MarketPlace Region</label>
								<select class="form-control-customized form-control-sm" id="amazon_marketplace"name="amazon_marketplace" required>
									<option value="">Select Seller Country</option>
									<option value="CA">Canada</option>
									<option value="US">United States</option>
									<option value="MX">Mexico</option>
									<option value="ES">Spain</option>
									<option value="GB">UK</option>
									<option value="FR">France</option>
									<option value="DE">Germany</option>
									<option value="IT">Italy</option>
									<option value="BR">Brazil</option>
									<option value="IN">India</option>
									<option value="CN">China</option>
									<option value="JP">Japan</option>
									<option value="AU">Australia</option>
								</select>
							</div>
						</div>
	                    <div class="col-lg-12" id="amazonPopupError"></div>
	                </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-small btn-muted" data-dismiss="modal"><b>Close</button>
					<button type="submit" class="btn btn-small btn-primary"><strong>Submit</strong><i id="AmazonBtnFaSpinner" class="fa fa fa-spinner fa-spin m-l-xs"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>