{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/header}}
  <section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8" style="background-color: #fff;">
					<h5 style="padding-top: 20px;">Billing Settings</h5>
					<div class="row">
						<div class="col-md-12">
							<p style="font-size: 10px;" class="vend_edit_lists_pstyle">Credit Cards on File</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-8" style="font-size: 10px;">
									<img src="../../img/cc-visa.png" alt="visa" style="width:12%; border: 1px solid #A4A0C4;padding:1px;" />&nbsp;&nbsp;&nbsp;&nbsp;**** **** **** 5602 Expires 2018-03 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Primary)
								</div>
								<div class="col-md-4" style="font-size: 10px;">
									<p class="text_blue_color">Edit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Delete</p>
								</div>
							</div>
							<p style="font-size: 10px;padding-top: 15px;"><i class="fas fa-plus-circle text_orange_color" style="font-size: 18px;"></i> Add Another Card</p>
							<p style="font-size: 10px;padding-top: 15px;">Connect Paypal</p>
							<p style="padding-top: 10px;"><img src="../../img/payment-paypal.png" alt="paypal" style="width: 15%;margin-top: -2px;"/>&nbsp;&nbsp; <input type="text" placeholder="Enter Your Paypal Email" class="vend_edit_lists_textstyle1" style="width: 50%;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="list_butt_2" type="submit" value="CONNECT" /></p>
						</div>
					</div>
					<hr/>
					<div class="row" style="font-size: 11px;">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-8">
									<p style="margin-bottom: 15px;">Billing Address</p>
									<p>publishing World Inc</p>
									<p>Tina Olivero</p>
									<p>Po Box 21178</p>
									<p>St. John's, Newfoundland A1B 5C1</p>
									<p>Canada</p>
								</div>
								<div class="col-md-4">
									<p class="text_blue_color">Edit</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</section>

{{> footer/bottom-footer}}
