<script type="text/javascript"> 
	$(function () {
		$("#from").datepicker({
			format: 'yyyy-mm-dd',
			autohide: true, 

		});
		
		$("#to").datepicker({
			format: 'yyyy-mm-dd',
			autohide: true, 
    		// endDate: new Date(),
    		"endDate": {greaterStart: "#from"},
    		onSelect: $('#selectDate').val("")

    	});
	});
</script>
<script type="text/javascript">
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
</script>
<script type="text/javascript">
	function selectDatefun(){
		var val = $( "#selectDate option:selected" ).val();
		if(val){
			$('#from').val("");
			$('#to').val(""); 
		}
	}

</script>

{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/header}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
        <div class="row">
            <div class="col-sm-2">
                {{> vendor/vendor-side-navbar}}
            </div>
            <div class="col-sm-10">
            	<div class="ibox">
                    <div class="ibox-content">
                        <div class="ibox-title">
                            <h2>Order History</h2>
                        </div>
                        <div class="content-body">
                        	<form class="form">
                        		<div class="row">
                        			<div class="col-md-9">
                        				<div class="row">
                        					<div class="col-md-4">
                        					</div>
                        					<div class="col-md-2">
				<div class="form-group">
                    <div class="input-group">
                    	<div class="select-container">
	                        <select class="form-control-customized form-control-sm" name="location" id="inputGroupLocation">
	                            <option disabled selected>LAST 30 DAY</option>
	                        </select>
                        </div>
                    </div>
                </div>
                        					</div>
                        					<div class="col-md-2">
                        					</div>
                        					<div class="col-md-2">
                        					</div>
                        					<div class="col-md-2">
                        					</div>
                        				</div>
                        			</div>
                        			<div class="col-md-3"></div>
                        		</div>
                        	</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer/bottom-footer}}