/*h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.obj-fit {
  object-fit: cover;
}

i.fas.fa-exclamation-circle {
  font-size: 20px;
  color: red;
}

.edit-listing {
  font-size: 14px;
  border: none;
  margin: 0px;
  padding: 0px;
  color: gray;
  margin-top: -10px;
  margin-bottom: -5px;
  width:auto;
  outline:0px; 
}

.edit-listing-feature{
  font-size: 10px;
  border:none;
  margin:0px;
  padding: 0px;
  color:gray;
 
}

.edit-listing-discount {
  font-size: 10px;
  margin-right: 5px;
  color: gray;
}

.edit-listing-dis {
  font-size: 10px;
  color: gray;
}

.product-img-sm {
  width: 50px;
  height: 60px;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.product-title h5 {
  font-size: 12px;
}

/*.btn {
  cursor: pointer;
}*/

/*a {
  color: #4178bb;
  text-decoration: none;
}*/

.btn-w-m {
  min-width: 120px;
}

.btn-block {
  display: block;
  width: 100%;
}

/*.btn-group-sm>.btn,
.btn-sm {
  padding: 5px 10px;
  line-height: 1.5;
}*/

.text-primary {
  color: #cd8005 !important;
}

.custom-section {
  margin-bottom: 0;
}

.marketplace-category-header-box {
  background: #4177b1;
  height: 48px;
}

.marketplace-header-box {
  background: #638ac5;
  height: 68px;
}

.m-t-n-marketplace {
  margin-top: -68px;
}

.m-t-n-marketplace-category {
  margin-top: -48px;
}

.marketplace-category-header-box h5 {
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  padding: 15px 0px 7px;
  text-overflow: ellipsis;
  float: left;
}

.marketplace-header-box {
  background: #638ac5;
}

.marketplace-header-box h5 {
  color: #ffffff;
  display: inline-block;
  font-size: 25px;
  padding: 25px 0px 7px;
  text-overflow: ellipsis;
  float: left;
}

.public-bg {
  background: #4177b1;
}

.service-bg {
  background: #51b12c;
}

.lifestyle-bg {
  background: #c12c29;
}

.box-right {
  display: block;
  float: none;
  padding: 13px 0px 0px;
  position: relative;
  color: #fff;
  font-size: 12px;
  text-align: right;
}

.header-box {
  background: #cc8033;
}

.header-box h1 {
  color: #ffffff;
  margin: auto;
  font-size: 25px;
  padding: 7px;
  margin-top: 7px;
  text-align: -webkit-left;
  font-family: 'Oswald', sans-serif;
}

.wts-bg {
  background: #154a7f;
}

.wtb-bg {
  background: #2663a0;
}

.wtt-bg {
  background: #638ac3;
}

.rfq-bg {
  background: #88abd5;
}

.public-market-bg {
  background: #4178b1;
}

.service-market-bg {
  background: #3ab005;
}

.featured-product-bg {
  background: #8bb0dd;
}

.lifestyle-market-bg {
  background: #c00427;
}

.gtc-box {
  clear: both;
  margin-top: 0;
  padding: 0;
}

.gtc-box-title {
  color: #ffffff;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
}

.gtc-box-market-title {
  color: #ffffff;
  margin-bottom: 0;
  padding: 20px 15px 15px;
  min-height: 68px;
}

.gtc-box-market-title h5 {
  display: inline-block;
  font-size: 20px;
  margin: 7px 10px 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
  font-family: 'Oswald', sans-serif;
}

.gtc-box-title h5 {
  display: inline-block;
  font-size: 17px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
  font-family: 'Oswald', sans-serif;
}

.ibox-content {
  clear: both;
}

.gtc-box-content {
  display: grid;
  background-color: #ffffff;
  color: inherit;
  padding: 10px;
}

.feed-product {
  width: 60px;
  float: left;
}

.feed-product img {
  width: 60px;
  height: 60px;
}

.product-info {
  margin-left: 65px;
  height: 110%;
}

.product-title h5 {}

.product-info small {
  font-size: 11px;
}

.sm-text {
  font-size: 10px;
  color: #888888;
}

.absolute-b {
  position: absolute;
  bottom: 0;
  right: 0;
}

.flex {
  display: flex;
}

/*.label {
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
}*/

.banner-signup {
  background: url(../signup-hero-home.jpg);
  position: relative;
  min-height: 360px;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-pink {
  color: #e8294d;
  font-weight: normal;
  text-decoration: none;
  text-shadow: none;
}

/*.header {
  background: url(../bg-footer.jpg);
  position: relative;
  min-height: 84px;
  background-repeat: no-repeat;
}*/

.shop_price_doller {
  padding-left: 20px;
}

.link {
  color: #fff !important;
}

.cat_bg_title a {
  color: #fff !important;
}

.list-group>li.list-group-item.gtc-active {
  background: #D88505;
  border-radius: 0;
}

.list-group>li.list-group-item>a.text-black {
  color: #000 !important;
}

.custom-secondary-header {
  border-bottom-left-radius: 10px;
}

.category-fixed {
  max-height: 200px;
  overflow-y: scroll;
}

.collapse.show {
  display: block !important;
}

.topbar {
  background-color: #4075a2;
  background-image: none;
}

a:hover {
  text-decoration: none;
}

.social-links {
  background-color: #154980;
  padding: 10px;
  font-size: 12px;
}

.social-links a {
  color: #80a0ca;
}

.compare_pg {
  padding: 1rem 6rem;
}

.geo_button {
  color: #fff;
  width: 95%;
  background-color: #FFA025;
  border: none;
  margin-bottom: 30px;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.span_swichaccount {
  background-color: #D78306;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  font-size: small;
}

.checkout_title_color {
  background-color: #4178BB;
  color: #fff;
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 10px;
  font-family: 'Oswald', sans-serif;
}

.checkout_title_color_span {
  font-size: 12px;
}

.checkout_title_color_1 {
  background-color: #2561AA;
  color: #fff;
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 10px;
  font-family: 'Oswald', sans-serif;
}

.com_product_stock {
  font-size: 13px;
  color: #504d4d;
  font-weight: normal;
  line-height: 14px;
}

.com_product_desc {
  color: #C6C6C6;
  font-size: 12px;
}

.com_add_to_cart {
  color: #fff;
  font-size: small;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
}

/*.table td,
.table th {
  padding: 20px 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}*/

.topbar p {
  font-size: 10px;
  margin-bottom: 3px;
  margin-top: 9px;
}

.login-checkbox input:checked+i:before {
  content: "\2713";
  font-style: normal;
  font-size: 2.2em;
  font-weight: bold;
  line-height: 0.7;
}

.progress-bar {
  background-color: #2668af;
  border-radius: 8px;
}

p.order-details {
  font-weight: 900;
  font-size: 14px;
}

.custom-file {
  width: 50%;
}

/*.custom-file .custom-file-control:lang(en)::after {
  content: "Select file...";
}

.custom-file .custom-file-control:lang(en)::before {
  content: "<i class='fa fa-angle-down' aria-hidden=;true'></i>";
}*/

/*when a value is selected, this class removes the content */

/*.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}*/

.custom-file {
  /* overflow: hidden; */
  /*height: 15px !important;*/
}

.custom-file-control {
  white-space: nowrap;
}

/*.custom-file-input~.custom-file-label::after {
  content: "\f0d7";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}*/

/*.custom-file-label {
  font-size: 10px;
}*/

/*.custom-file-input {
  height: 1px !important;
}*/

.custom-header-style.topbar p {
  margin-top: 0px;
}

.shop_checkout_btn {
  background-color: #E62246;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  border: none;
  margin-top: 30px;
  padding: 8px 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.lstb2 p {
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 14px;
}

.login_head_ban {
  background: #FFA025;
  border: none;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  margin-top: 32px;
  padding: 3px 15px;
}

.verticalLine {
  border-right: solid #fdaa37;
  height: 66px;
  margin-top: -12px;
}

.verticalLine1 {
  border-right: solid #fdaa37;
  height: 55px;
}

.sepText {
  color: #007bff;
  font-size: 14px;
  font-weight: 800;
  margin-top: -82px;
}

@media (max-width:1200px) {
  .verticalLine {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .verticalLine1 {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.vend_product_style {
  border-radius: 20px !important;
  background-color: #eae8ea;
  border: none;
  font-size: 10px;
  padding: 5px 10px;
  width: 60%;
  margin-bottom: 25px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 50px;
  top: 35px;
  transition: 0.2s ease all;
}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
  top: 8px;
  bottom: 5px;
  left: 40px;
  font-size: 11px;
  opacity: 1;
}

.product-heading {
  font-size: 18px;
  background-color: #e4e4e4;
  color: #143ad6;
  text-align: center;
  -webkit-logical-height: 42px;
  margin-top: 18px;
  padding: 8px 10px 10px;
}

.pmp1_alter {
  padding-top: 15px !important;
}

.ts1_alter {
  padding-top: 15px !important;
}

.review-sort {
  font-weight: bold;
  font-size: 11px;
  /*margin-right: 10px;*/
}

.review-hr {
  margin-top: 10px !important;
}

.review-bottom {
  margin-bottom: 30px;
}

.rating-avg1 .rating-avg {
  display: inline-block;
}

p>span.text_blue_color {
  margin-left: 10px;
}

p.p1 {
  display: inline;
}

.vend_edit_lists_update_buttonstyle2 {
  background-color: #3BB804;
  border: none;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 5px;
  color: #fff;
  /*width: 8%;*/
}

.price_signup {
  margin: 11px 52px;
  padding: 7px 18px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(255, 160, 37);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.its_free_btn {
  background: #E62246;
  color: #fff;
  font-size: 12px;
  border: none;
  padding: 5px 20px;
  font-weight: 600;
}

.login_head_ban {
  background: #FFA025;
  border: none;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  margin-top: 32px;
  padding: 3px 15px;
  border-radius: 0px;
}

.Views-button {
  border: snow;
  border-radius: 20px;
}

.gtc-box-title {
  color: #ffffff;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
}

.marketplace-category-header-box {
  background: #4177b1;
  height: 48px;
}

.m-t-n-marketplace-category {
  margin-top: -48px;
}

.common_bottom {
  margin-bottom: 20px;
}

.common_bottom_extra {
  margin-bottom: 35px;
}

.ten_padding {
  padding: 10px;
}

.text_lowercase {
  text-transform: lowercase;
}

.img_fixed_height {
  min-width: 60px;
  height: 60px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.header_title {
  font-size: 11px;
}

.full_view_pad_eighty {
  padding-left: 80px;
  padding-right: 80px;
}

.custom_doller_value {
  float: right;
  font-size: 15px !important;
}

/* Media Queries for all screen sizes */

@media screen and (max-width: 576px) {
  .full_view_pad {
    padding-left: 20px;
    padding-right: 20px;
  }
  .box1 {
    background-image: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .full_view_pad {
    padding-left: 50px;
    padding-right: 50px;
  }
  .box1 {
    background-image: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .full_view_pad {
    padding-left: 65px;
    padding-right: 65px;
  }
  .box1 {
    background-image: none;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .full_view_pad {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1490px) {
  .full_view_pad {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1491px) and (max-width: 1824px) {
  .full_view_pad {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1825px) {
  .full_view_pad {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.marketplace-header-box {
  background: #638ac5;
  height: 78px;
}

.m-t-n-marketplace {
  margin-top: -78px;
}

.gtc-box-market-title {
  color: #ffffff;
  margin-bottom: 0;
  padding: 35px 15px 15px;
  min-height: 78px;
}

.search_prod {
  background-color: #868686;
  border: none;
  color: #fff;
  padding: 7px;
  font-family: 'Oswald', sans-serif;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.vend_edit_lists_buttonstyle {
  padding: 6px 3px !important;
}

.edit_lists_feature_buttonstyle
{
    border: none;
    font-size: 11px;
    width: 100px;
    padding: 6px 5px;
    margin-bottom: 10px;
}

.banner_bg{
background-repeat:no-repeat;
background-size:cover;
background-position:center;
}

.img-border {
  /*border: 1px solid #2668af!important;*/
  /*border-style: ridge !important;*/
  box-shadow: 0px 0px 2px 2px #f1f1f1;
}

.banner_bg_menu_shadow {
  box-shadow: 0px 0px 2px 2px #f1f1f1;
}

/* Three column layout */

.side {
  float: left;
  width: 20%;
  margin-top: 5px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 60%;
}

/* Place text to the right */

.right {
  text-align: right;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.rating-row {
  margin: 0px !important;
}

/* The bar container */

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.bar-select {
  border-radius: 5px 0px 0px 5px;
  height: 5px;
  background-color: #3E78B6;
}

/* Individual bars */

/*.bar-5 {}*/

/* Responsive layout - make the columns stack on top of each other instead of next to each other */

@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

.custom-checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.custom-checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.custom-checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
}

.custom-checkbox input[type="checkbox"]:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.custom-checkbox input[type="checkbox"]:checked+label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.custom-checkbox input[type="checkbox"]:disabled+label {
  opacity: 0.65;
}

.custom-checkbox input[type="checkbox"]:disabled+label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.custom-checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.custom-checkbox.checkbox-inline {
  margin-top: 0;
}

.custom-checkbox-warning input[type="checkbox"]:checked+label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.custom-checkbox-warning input[type="checkbox"]:checked+label::after {
  color: #fff;
}

.btn-submit{
  background-color: #4178BB;
    color: #FFF;
    border: none;
}
.img-border-page{
     border: 2px solid #ffab5e;
}
.logged_in_cont{
      padding-top: 45px!important;
}
button.update-btn1{
    border-radius: 0px;
    background-color: #7a7c7d;
    color: #000;
    font-size: 11px;
    padding: 6px 10px;
    color: black;
    margin-right: 15px;
    font-family: 'heebo', sans-serif;
    margin-top: 2px;
  }

/* vendor profile picture crop UserModel */
.crop_edit_icon {
  position: absolute;
  margin-top: 100px;
  font-size: 13px;
  text-align: center;
  right: 50%;
}

.edit_picture {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.edit-icon-align {
  right: 0px;
  position: absolute;
  background-color: #dbdadc;
  padding: 4px;
  cursor: pointer;
  border-radius: 3px;
}

.popover{
  max-width: 100%; 
}

/* profile picture edit*/
.profile_img_edit {
  position: relative;
}

.profileediticon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0px 2px;
  background-color: #dbdadc;
  color: #383434;
  font-size: 15px;
  cursor: pointer;
}

.profilepicedit {
  position: absolute;
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.icon_padding {
  padding-right: 5px;
}

.note-editor.note-frame.card{
  z-index: 10;
}
.verfication_header{
	padding-top: 20px;
	 padding-left: 5px; 
	 float: left;
}
.verfication_para{
	font-size: 13px;
	padding-bottom: 20px;
	font-weight:bold;
	padding-left:5px
}

.imageThumb {
	height: 150px;
	width: 150px;
	border: 2px solid;
	padding: 1px;
	cursor: pointer;
}

.pip {
	display: inline-block;
	margin: 10px 10px 0 0;
	position: relative;
}

.fas {
	cursor: pointer;
}

.productRemoveIcon {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 2px 2px 2px 2px;
	background-color: #dbdadc;
	color: #383434;
	font-size: 15px;
	cursor: pointer;
}