body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}

.gtc-box-title a {
   color: #fff;
}

.gtc-box-market-title a {
	color: #fff;
}

.btn-primary {
  background-color: #c28006;
  border-color: #c28006;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #c28006;
  border-color: #c28006;
  color: #FFFFFF;
}
.label-primary,
.badge-primary {
  background-color: #c28006;
  color: #FFFFFF;
}
.bg-primary {
  background-color: #c28006;
  color: #ffffff;
}
.panel-primary {
  border-color: #c28006;
}
.panel-primary > .panel-heading {
  background-color: #c28006;
  border-color: #c28006;
}

.gtc-header {
  background: url('../img/bg-footer.jpg') no-repeat;
}

.top-header {
  background-color: #154a80;
  border-bottom-left-radius: 10px;
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
  .gtc-container {
    max-width: 1292px;
  }
  .gtc-logo {
    width: 184px;
  }
}

@media only screen and (min-width : 1200px) {
  .gtc-container {
    max-width: 1220px;
  }
  .gtc-logo {
    width: 172px;
  }
  .gtc-header {
    min-height: 84px;
  }
  .gtc-logo {
    min-height: 72px;
  }
  .top-header {
    margin-right: -84px;
    min-height: 36px;
  }
  .inner-top-header {
    /*margin-right: 84px;*/
  }
}

.img-reponsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

.gtc-logo {
  position: relative;
  background-color: #fff;
  margin-top: 12px;
  border-color: #f9a025;
  border-style: solid;
  border-bottom: none;
  border-width: 2px;
}

.gtc-logo img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 14px;
}

.inner-top-header {
  float: left;
  display: table;
  width: auto;
  position: relative;
  height: 36px;
  padding-left: 10px;
}

.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-menu > li {
    display: inline-block;
    position: relative;
}

.top-menu > li > a > svg {
  margin-right: 5px;
}

.top-menu > li > a {
  height: 36px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-decoration: none;
  padding: 0 11px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.top-menu-link {
    white-space: nowrap;
    position: relative;
    font-size: 9px;
}

.text-white {
  color: #fff;
}

.gtc-geo-locate > a {
  color: #eec995;
}
.gtc-track-your-order > a {
  color: #5587bb;
}
.gtc-login > a {
  color: #5587bb;
}
.gtc-join-now > a {
  color: #b6607e;
}
.gtc-compare > a {
  color: #5587bb;
}
.gtc-wishlist > a {
  color: #5587bb;
}

.search-input-group {
  height: 32px;
}

.m-t-s {
  margin: 6px 0px;
}

.search-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 3px solid #fea022;
  border-bottom: 3px solid #fea022;
  border-top: 3px solid #fea022;
}

.search-input-group .input-group-addon {
  background: white !important;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 3px solid #fea022;
  border-bottom: 3px solid #fea022;
  border-top: 3px solid #fea022;
  line-height: 0;
}

.p-r-none {
  padding-right: 0px;
}

.search-input-group button {
  border: 0;
  background: transparent;
}

.mr-auto li.nav-item {
  margin-right: 0px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 0;
}