<div class="gtc-footer">
    <div class="gtc-container">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="footer-left">
                    <a href="#">
                        <img src="gtc-assets/img/logo-dashboard.svg" alt="Global Trade Connect">
                    </a>
                    <p class="title">CONNECT WITH US</p>
                    <ul class="footer-social-links">
                        <li>
                            <a href="http://www.facebook.com/">
                                <img src="gtc-assets/img/social-facebook.svg" alt="Global Trade Connect Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/">
                                <img src="gtc-assets/img/social-youtube.svg" alt="Global Trade Connect Youtube">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/">
                                <img src="gtc-assets/img/social-twitter.svg" alt="Global Trade Connect Twitter">
                            </a>
                        </li>
                        <li>
                            <a href="http://instagram.com/">
                                <img src="gtc-assets/img/social-instagram.svg" alt="Global Trade Connect Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/">
                                <img src="gtc-assets/img/social-linkedin.svg" alt="Global Trade Connect Linkedin">
                            </a>
                        </li>
                    </ul>
                    <p class="copyright">© Globaltradeconnect - All Rights Reserved</p>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="footer-menu">
                    <div class="row">
                        <div class="col-md-2 col-6">
                            <div class="b-l-3x">
                                <h4>HELP CENTER</h4>
                                <ul class="footer-menu-list">
                                    <li><a href="#">Customer Service</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="b-l-3x">
                                <h4>ACCOUNT CENTER</h4>
                                <ul class="footer-menu-list">
                                    {{#if LoggedInUser.id}}
                                    <li><a href="/user-profile">My Account</a></li>
                                    {{else}}
                                    <li><a href="/login">Sign Up / Sign In</a></li>
                                    {{/if}}
                                    <li><a href="/order-track">Track your Order</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>
                                    <li><a href="/cart">Shopping Cart</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="b-l-3x">
                                <h4>QUICK JUMP</h4>
                                <ul class="footer-menu-list">
                                    <li><a href="/products/search?field=product_rating&order=desc">Top Rated Products</a></li>
                                    <li><a href="#">Sale Products</a></li>
                                    <li><a href="/products/search?field=created_on&order=desc">Recent Products</a></li>
                                    <li><a href="/products/search?is_featured_product=1">Featured Products</a></li>
                                    <li><a href="/products/search?field=product_selling_count&order=desc">Best Selling Products</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="b-l-3x">
                                <h4>START SHOPPING</h4>
                                <ul class="footer-menu-list">
                                    <li><a href="/shop">Shop Online</a></li>
                                    <li><a href="/geo-locate">Geo-Locate / Map Search</a></li>
                                    <li><a href="/wholesale">Wolesale Market</a></li>
                                    <li><a href="/services">Service Market</a></li>
                                    <li><a href="/lifestyle">Lifestyle Subscriptions</a></li>
                                    <li><a href="/directory">Company Directory</a></li>
                                    <li><a href="/products">Product Directory</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="b-l-3x">
                                <h4>SEARCH BY CATEGORY</h4>
                                <div class="row">
                                    <div class="col-md-6 col-6">
                                        <ul class="footer-menu-list">
                                            {{#each bottomCategory.left}}
                                            <li><a href="/products/search?category={{this.id}}">{{#Titlecase this.name}}{{/Titlecase}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-6 no-padding">
                                        <ul class="footer-menu-list">
                                            {{#each bottomCategory.right}}
                                            <li><a href="/products/search?category={{this.id}}">{{#Titlecase this.name}}{{/Titlecase}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
