<section>
    <div class="jumbotron  footer_bg" style="margin-bottom:0">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="footer_logo">
                        <img src="img/logo/footer_logo_1.png">
                        <p>CONNECT WITH US</p>
                        <i class="fab fa-facebook-f social_foot"></i>
                        <i class="fab fa-youtube social_foot"></i>
                        <i class="fab fa-twitter social_foot"></i>
                        <i class="fab fa-instagram social_foot"></i>
                        <i class="fab fa-linkedin-in social_foot"></i>
                        <p class="copyright_con">&copy; Globaltradeconnect - All Right Reserved
                    </div>
                </div>
                <div class="col-md-2 help_f">
                    <p class="footer_help">HELP CENTER</p>
                    <p class="footer_help_para">Customer Service</p>
                    <p class="footer_help_para">Reund Policy</p>
                    <p class="footer_help_para">FAQs</p>
                    <p class="footer_help_para">Terms &amp; Conditions </p>
                    <p class="footer_help_para">Privancy Policy</p>
                    <p class="footer_help_para">Blog</p>
                </div>
                <div class="col-md-2 help_f">
                    <p class="footer_help">ACCOUNT CENTER</p>
                    <p class="footer_help_para">Singn Up / Singn in</p>
                    <p class="footer_help_para">My Account</p>
                    <p class="footer_help_para">Track Your Order</p>
                    <p class="footer_help_para">Wishlist</p>
                    <p class="footer_help_para">Shopping Cart</p>

                </div>
                <div class="col-md-2 help_f">
                    <p class="footer_help">QUICK JUMP</p>
                    <p class="footer_help_para">Top Rated Products </p>
                    <p class="footer_help_para">Sales Products</p>
                    <p class="footer_help_para">Recent Products</p>
                    <p class="footer_help_para">Featured Products</p>
                    <p class="footer_help_para">Best Seling Products</p>
                </div>
                <div class="col-md-2 help_f">
                    <p class="footer_help">START SHOPPING</p>
                    <p class="footer_help_para">Shop Online</p>
                    <p class="footer_help_para">Geo-Locate/Map Search</p>
                    <p class="footer_help_para">Wholesale Market</p>
                    <p class="footer_help_para">Service Market</p>
                    <p class="footer_help_para">Life Style Sub Scriptions</p>
                    <p class="footer_help_para">Company Directory</p>
                    <p class="footer_help_para">Product Directory</p>
                </div>
                <div class="col-md-2 help_f">
                    <p class="footer_help">SEARCH BY CATEGORY</p>

                    <p class="footer_help_para">Agriculture</p>
                    <p class="footer_help_para">Apparel &amp; Fashion</p>
                    <p class="footer_help_para">Business services</p>
                    <p class="footer_help_para">Chemicals</p>
                    <p class="footer_help_para">Computer</p>
                    <p class="footer_help_para">Electronics &amp; Electrical</p>



                    <!--<div class="col-md-2" >
                		<p class="footer_help_para"> Health &empty; Beauty</p>
                		<p class="footer_help_para"> Home Appliances</p>
                		<p class="footer_help_para">  Industral supplies</p>
                		<p class="footer_help_para"> Jewelry &empty; watches</p>
                		<p class="footer_help_para"> Office Supplies</p>
                		<p class="footer_help_para"> Sports &emp Entertainment</p>
                		<p class="footer_help_para"> Telecimmunications</p>
                		<p class="footer_help_para"> Toys</p>
                		</div>-->
                </div>
            </div>
        </div>
    </div>
</section>