{{> header/login-header}}
<style type="text/css">
	.message {
		border-radius: 10px;
	}
</style>
<script type="text/javascript">
	$(document).ready(function () {
		$('#loadingSpinner').hide();
		$('#gtc-forgotPwd-alert').hide();

 		$('#btnLogin').prop('disabled', true);

		$('#loginInputEmail, #loginInputPassword').keyup(function() {
			if ($('#loginInputEmail').val() != '' && $('#loginInputPassword').val() != '') {
				$('#btnLogin').prop('disabled', false);
			} else {
				$('#btnLogin').prop('disabled', true);
			}
		});

		$('#loginForm').submit(function(event) {
			event.preventDefault();
			$('#loadingSpinner').show();
			auth.login({
				email: $('#loginInputEmail').val(),
				password: $('#loginInputPassword').val()
			}).then(function(user) {
				$('#loadingSpinner').hide();
				socket.emit('user:join', user.id);
				window.location = "/";
			}).catch(function(error) {
				$('#loadingSpinner').hide();
				$('#loginErrorMessage').text(error.responseText);
			});
		});
		
		$('#forgotPwdForm').validate({
			rules: {
				email: {
					required: true,
					email: true
				}
			},
			messages: {
				email: {
					required: "Please enter email address",
					emai: "Please enter a valid email address"
				}
			}
		});
		$('#forgotPwdForm').submit(function (e) {
			e.preventDefault();
			let forgotPwdInput = $('#email').val();

			if ($('#forgotPwdForm').valid()) {

				$.ajax({
					url: 'api/users/forgot-password/' + forgotPwdInput,
					type: 'GET',
					success: function (data) {
						$('#gtc-forgotPwd-alert').removeClass('alert-danger').addClass('alert-success');
						$('#gtc-forgotPwd-alert .forgotPwd-message').text(data)
						$("#gtc-forgotPwd-alert").fadeTo(10000, 3000).slideUp(500, function () {
							$("#gtc-forgotPwd-alert").slideUp(1000);
							window.location.href = "/login";
						});
						$("#forgotPwdForm")[0].reset();
					},
					error: function (error) {
						$('#gtc-forgotPwd-alert').removeClass('alert-success').addClass('alert-danger');
						$('#gtc-forgotPwd-alert .forgotPwd-message').text(error.responseText);
						$("#gtc-forgotPwd-alert").fadeTo(10000, 3000).slideUp(500, function () {
							$("#gtc-forgotPwd-alert").slideUp(1000);
						});
						$("#forgotPwdForm")[0].reset();
					}
				});
			}
		});
	});
</script>

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-7">
				<div class="ibox">
					<div class="ibox-content">
						<div class="content-body">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">
										<b>Find Your Account</b>
									</h5>
								</div>
								<div class="alert" id="gtc-forgotPwd-alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times;</span>
									</button>
									<span class="forgotPwd-message"></span>
								</div>
								<form id="forgotPwdForm" class="form">
									<div class="modal-body">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-group">
													<label class="label-control d-block">Please enter your email address to search for your account.</label>
													<input type="text" id="email" name="email" class="form-control-customized form-control-sm" required/>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" id="submitBtn" class="btn btn-small btn-primary">
											<b>SUBMIT</b>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}