{{> header/top-header LoggedInUser = LoggedInUser}}
<style type="text/css">
	.message{
		border-radius: 10px;
	}
</style>
<script type="text/javascript">
 var timer = setTimeout(function() {
 	window.location.href = "/";
 }, 10000);
</script>
<div class="container">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9 text-left message m-t-lg m-b-lg">
				<h3><i class="fa fa-thumbs-up" aria-hidden="true"></i> Hi {{LoggedInUser.first_name}}, you have successfully joined GTC-Global Trade Connect</h3>
				<br>
				<p> You will be redirect to previous page in 10 seconds, Ok <a href="/">click here</a> to go back
				</p> 
				<br>
				<a href="/"><h7 style="color: blue;">Go to GTC - Global Trade Connect</h7></a>
				<br>
				<p>A confirmation email with instructions on how to verify your account has been sent to your mail address.</p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}