<div class="container-fluid">
    <div class="row" style="background-color:#fff;color: #000;">
        <div class="col-md-1">
            <img style="width: 100%" src="img/test-user.png" alt="test" />
        </div>
        <div class="col-md-2">
            <h6 style="font-size: 13px; padding-top: 25px;">Hayden Agencies Ltd</h6>
        </div>
        <div class="col-md-1">
            <h6 style="font-size: 13px; padding-top: 25px;">Wholesale</h6>
        </div>
        <div class="col-md-1">
            <h6 style="font-size: 13px; padding-top: 25px;">Message
                <span style="background-color: #BE0B24; color: #fff; padding: 1px;">1</span>
            </h6>
        </div>
        <div class="col-md-1 common_padding1">
            <h6 style="font-size: 13px; padding-top: 25px;">Notifications
                <span style="background-color: #BE0B24; color: #fff; padding: 1px;">4</span>
            </h6>
        </div>
        <div class="col-md-2">
            <h6 style="font-size: 13px; padding-top: 25px;">Promote Your Store</h6>
        </div>
        <div class="col-md-4">
            <h6 style="font-size: 13px; padding-top: 25px;" class="float-right">Support</h6>
        </div>
    </div>
</div>