{{> header/defaultHeader LoggedInUser = LoggedInUser}}

<section>
	<div class="jumbotron checkout_jempo text-center">
		<h4>WE HAVE RECEIVED YOUR ORDER</h4>
		<h2>Thank You!</h2>
		<p>Your order cofirmation number is <span class="checkout_thank_hash_code"> #394728349</span> </p>
		<p>This will appear is your <a href="#" class="checkout_thank_para_span_1">account billing history.</a></p>
		<p class="checkout_thank_para_1">Your confirmation email has been sent and your order is being processed and will be shipped in accordance with each Lorem ipSum dolor sit amet, consectetur adipiscing elit.</p>
		<h6>What's Next?</h6>
		<p><img src="../img/logo/icon_logo.png" alt="icon_logo" style="width: 35px; height: 35px;"><a href="#" class="checkout_jempo_a"><i class="fas fa-user-plus"></i> Follow</a></p>
		<p>You can <a href="#" class="checkout_thank_para_span_1">follow Merchant 123</a> and Stay Updated on their latest promotions, and product updates. </p>
		<p>You can also <a href="#" class="checkout_thank_para_span_1">track your order,</a> find us on <a href="#" class="checkout_thank_para_span_1">facebook, search for more products,</a> Or <a href="#" class="checkout_thank_para_span_1">return to the homepage.</a></p>
	</div>
</section> 

{{> footer/footer}}
