 <script>
$(document).ready(function(){
     submitForms = function() {
            
            $("#form1").trigger("click");
			$("#form2").trigger("click");

    }
});

 </script>
 
 {{> header/defaultHeader LoggedInUser = LoggedInUser}}
 <section>
	<div class="" >
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-12">
					<ul class="breadcrumb">
					  <li><a href="check_out2.html" class="active1">1. Customer Inforamation</a></li>
					  <li><a href="check_out3.html">2. Shipping Method</a></li>
					  <li><a href="check_out4.html">3. Payment Method</a></li>
					  <li><a href="checkout_thankyou.html">4. Confirmation</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-12">
					<p class="log_sunnysarpel">You're logged in as <span class="span_sunnysarpel">SunnySarpel</span> <a href="#" class="span_swichaccount">SWITCH ACCOUNT</a></p>
				</div>
			</div>
			<div class="row checkout_bg_color ">
                <div class="col-md-9 col-12 common_padding1 ">
                	<h4 class="checkout_title_color">CHECKOUT <span class="checkout_title_color_span">(8 Item Totals)</span></h4>
						<div class="row">
							<div class="col-md-9 col-12">
								<div class="container">
									<div class="row">
										<div class="col-md-3 col-12 checkout_cont">
											<p><b>Customer Information</b></p>
										</div>
										<div class="col-md-9 col-12 checkout_cont" style="">
											
											<div>
											<p><b>Sunny Sarpal</b> <span class="checkout_2_para_span_1">Switch Accouts</span></p>
											<p class="shop_shipping">833 That Street,</p>
											<p class="shop_shipping">Calgary, Alberta, Canada</p>
											<p class="shop_shipping">b2s 4t5</p>
											</div>
										
										<form id="billing-address-submission" name="billing-address-submission">
												<div class="row">
													<div class="col-md-6 col-12 common_padding1">
														<input type="text" placeholder="First Name" class="geo_textbox" required/>
													</div>
													<div class="col-md-6 col-12 common_padding1">
														<input type="text" placeholder="Last Name" class="geo_textbox" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 col-12 common_padding1">
														<input type="text" placeholder="Company (optional)" class="geo_textbox" style="width: 99%" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-9 col-12 common_padding1">
														<input type="text" placeholder="Address" class="geo_textbox" required/>
													</div>
													<div class="col-md-3 col-12 common_padding1">
														<input type="text" placeholder="Apt, Suite," class="geo_textbox" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 col-12 common_padding1">
														<input type="text" placeholder="City" class="geo_textbox" style="width: 99%" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-5 col-12 common_padding1">
														<select class="geo_textbox" required="required">
															<option value="">Country</option>
															<option value="ddd">Country</option>
														</select>
													</div>
													<div class="col-md-4 col-12 common_padding1">
														<select class="geo_textbox" required="required">
															<option value="">Province</option>
															<option value="ddd">Country</option>
														</select>
													</div>
													<div class="col-md-3 col-12 common_padding1">
														<input type="text" placeholder="Postal" class="geo_textbox" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6 col-12 common_padding1">
														<input type="text" placeholder="Phone" class="geo_textbox" required/>
													</div>
													<div class="col-md-6 col-12 common_padding1">
														
													</div>
												</div>
												 <button class="btn btn-primary" id="form1" type="submit" style="display:none;">Submit form</button>
											</form>


										</div>
									</div>
									<hr/>
									<div class="row">
										<div class="col-md-3 col-6 checkout_cont">
											<p><b>Shipping Address</b></p>
										</div>
										<div class="col-md-9 col-12 checkout_cont">
										<p><label class="login-checkbox1"><input type="checkbox"><i></i> Shipping Address is different then my billing address above</label></p>
											<form id="shipping-method-submission">
												<div class="row">
													<div class="col-md-6 col-12 common_padding1">
														<input type="text" placeholder="First Name" class="geo_textbox" required/>
													</div>
													<div class="col-md-6 col-12 common_padding1">
														<input type="text" placeholder="Last Name" class="geo_textbox" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 col-12 common_padding1">
														<input type="text" placeholder="Company (optional)" class="geo_textbox" style="width: 99%" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-9 col-12 common_padding1">
														<input type="text" placeholder="Address" class="geo_textbox" required/>
													</div>
													<div class="col-md-3 col-12 common_padding1">
														<input type="text" placeholder="Apt, Suite," class="geo_textbox" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 col-12 common_padding1">
														<input type="text" placeholder="City" class="geo_textbox" style="width: 99%" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-5 col-12 common_padding1">
														<select class="geo_textbox" required="required">
															<option value="">Country</option>
															<option value="ddd">Country</option>
														</select>
													</div>
													<div class="col-md-4 col-12 common_padding1">
														<select class="geo_textbox" required="required">
															<option value="">Province</option>
															<option value="ddd">Country</option>
														</select>
													</div>
													<div class="col-md-3 col-12 common_padding1">
														<input type="text" placeholder="Postal" class="geo_textbox" required/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6 col-12 common_padding1">
														<input type="text" placeholder="Phone" class="geo_textbox" required/>
													</div>
													<div class="col-md-6 col-12 common_padding1">
														
													</div>
													<button class="btn btn-primary" id="form2" type="submit" style="display:none;">Submit form</button>
												</div>
											</form>
										</div>
									</div>
									<hr/>
								</div>
								
								<div class="row">
									<div class="col-md-6 col-12">
										<input type="submit" value="RETURN TO CART" class="cont_shopping"/>
									</div>
									<div class="col-md-6 col-12">
										<a href="javascript:;">
											<input type="submit" onclick="submitForms()" value="CONTINUE TO SHIPPING METHOD" class="update_cart"/>
										</a>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="col-md-3 col-12 your_order_bg common_padding1 ">
					<h4 class="checkout_title_color_1">YOUR ORDER</h4>
                    <div class="col-md-12 col-12 ">
					<div class="container">
						<h6 class="yourorder_wholesalesum_head">Wholesale Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right">$8,763.00</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_shipping">Shipping Ground</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_shipping float-right">$314.52</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right">$9,283.00</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal"><b>WHOLESALE TOTAL</b></p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right"><b>$9,077.52</b></p>
							</div>
						</div>
						
						<h6 class="yourorder_shopsum_head">Shop Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right">$8,763.00</p>
							</div>
						</div>
						
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal"><b>WHOLESALE TOTAL</b></p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right"><b>$9,077.52</b></p>
							</div>
						</div>
						
						<h6 class="yourorder_servicesum_head">Service Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right">$8,763.00</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_shipping">Shipping Ground</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_shipping float-right">$314.52</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right">$9,283.00</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal"><b>WHOLESALE TOTAL</b></p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right"><b>$9,077.52</b></p>
							</div>
						</div>
						
						<h6 class="yourorder_subscriptionsum_head">Subscription Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right">$8,763.00</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_shipping">Shipping Ground</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_shipping float-right">$314.52</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right">$9,283.00</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal"><b>WHOLESALE TOTAL</b></p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right"><b>$9,077.52</b></p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8 col-8">
								<p class="shop_subtotal"><b>GRAND TOTAL</b></p>
							</div>
							<div class="col-md-4 col-4">
								<p class="shop_subtotal float-right"><b>$19,077.52</b></p>
							</div>
						</div>
						<hr class="common_margin" />
						<p class="promo_code_p">Promo Code #83749 Applied<br/><b>- 20% OFF</b></p>
						<input type="submit" value="CHANGE ORDER" class="shop_checkout_btn" />
						<img src="../img/payment-methods.jpg" alt="payment">
					</div>
                    </div>
				</div>
			</div>
    	</div>
	</div>
</section>
{{> footer/footer}}