{{> header/top-header LoggedInUser = LoggedInUser}}
<div class="wrapper-content">
	<div class="container-sm">
		<div class="title-header-1 gtc-p-l-r">
			<div class="alignleft">
				<ul class="breadcrumb">
					<li>
						<a href="#" class="active">1. Customer Information</a>
					</li>
					<li>
						<a href="#">2. Shipping Method</a>
					</li>
					<li>
						<a href="#">3. Payment Method</a>
					</li>
					<li>
						<a href="#">4. Confirmation</a>
					</li>
				</ul>
			</div>
			<div class="alignright">
				{{#if LoggedInUser.id}}
				<span class="text-sm">You're logged in as </span>
				<a class="text-sm" href="javascript:;">{{LoggedInUser.first_name}}</a>
				<button type="button" class="btn btn-sm btn-primary">SWITCH ACCOUNT</button>
				{{else}}
				<span class="text-sm">
					<a href="/login">Login</a> to see seller information</span>
				{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="body-content-1">
			<div class="row no-margins">
				<div class="col-sm-9half no-padding">
					<div class="header-left header-lg gtc-p-l-r">
						<h2 class="header-lg-text alignleft text-white">Customer Information</h2>
					</div>
					<div class="m-cart-body-1 bg-white">
						<div class="row">
							<div class="col-md-3 col-12">
								<label class="label-control text-sm text-black"><strong>Customer Information</strong></label>
							</div>
							<div class="col-md-8 col-12">
								<h2 class="horizontal-divider-line"><span>OR</span></h2>
								<form id="billingForm">
									<div class="row">
										<div class="col">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="First name">
											</div>
										</div>
										<div class="col">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Last name">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Company (optional)">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Address">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="App, Suite">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="City">
											</div>
										</div>
										<div class="col-4 p-n-r">
											<div class="form-group">
												<div class="select-container">
													<select class="form-control-customized form-control-sm input-rounded-border">
														<option>Choose Country...</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-4 p-n-r">
											<div class="form-group">
												<div class="select-container">
													<select class="form-control-customized form-control-sm input-rounded-border">
														<option>Choose Province...</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Postal">
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Phone">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="cart-hr-line"></div>
					</div>
					<div class="m-cart-body-1 bg-white">
						<div class="row">
							<div class="col-md-3 col-12">
								<label class="label-control text-sm text-black"><strong>Shipping Address</strong></label>
							</div>
							<div class="col-md-8 col-12">
								<h2 class="horizontal-divider-line"><span>OR</span></h2>
								<form id="billingForm">
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<div class="customCheckbox">
													<input type="checkbox" id="different_shipping_address" class="customCheckboxInput">
													<label for="different_shipping_address"></label>
													<small class="m-l-sm text-black">Shipping Address is different than my billing address above</small>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="First name">
											</div>
										</div>
										<div class="col">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Last name">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Company (optional)">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Address">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="App, Suite">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="City">
											</div>
										</div>
										<div class="col-4 p-n-r">
											<div class="form-group">
												<div class="select-container">
													<select class="form-control-customized form-control-sm input-rounded-border">
														<option>Choose Country...</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-4 p-n-r">
											<div class="form-group">
												<div class="select-container">
													<select class="form-control-customized form-control-sm input-rounded-border">
														<option>Choose Province...</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Postal">
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<input type="text" class="form-control form-control-sm input-rounded-border" placeholder="Phone">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3half no-padding">
					<div class="header-right header-lg gtc-p-l-r">
						<h2 class="header-lg-text">YOUR ORDER</h2>
					</div>
				</div>
			</div>
			<div class="row no-margins">
				<div class="col-sm-9half no-padding">
					<div class="m-cart-body-bottom bg-white">
						<button class="btn btn-md btn-success">RETURN TO CART</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}