   <div class="sticky-top topbar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6" style="padding: 0px;">
				  <div class="social-links">
					<a href="#" class="active"><i class="fa fa-map-marker"></i> Get Locate</a>
					<a href="#" class="font_icon"><i class="fa fa-map-marker"></i> Track your Order</a>
					<a href="#" class="font_icon"><i class="fa fa-user"></i> Welcome back, John</a>
					<a href="#" class="font_icon"><i class="fa fa-compress"></i> Compare</a>
					<a href="#" class="font_icon"><i class="fa fa-heart"></i> Wishlist</a>
					<a href="#" class="font_icon"><i class="fa fa-shopping-bag"></i> $144.00</a>
				  </div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-expand-sm menu_style navbar-dark">
					<a class="navbar-brand" href="javascript:void(0)"><img src="img/logo/header.png"/></a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
					  <span class="navbar-toggler-icon"></span>
					</button>
				  
					<div class="collapse navbar-collapse" id="navb">
					  <!-- Links -->
					  <ul class="navbar-nav mr-auto">
						<!-- Dropdown -->
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							DIRECTORY
						  </a>
						  <div class="dropdown-menu">
							<a class="dropdown-item" href="#">Link 1</a>
							<a class="dropdown-item" href="#">Link 2</a>
							<a class="dropdown-item" href="#">Link 3</a>
						  </div>
						</li>
						
						<!-- Dropdown -->
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							WHOLESALE
						  </a>
						  <div class="dropdown-menu">
							<a class="dropdown-item" href="#">Link 1</a>
							<a class="dropdown-item" href="#">Link 2</a>
							<a class="dropdown-item" href="#">Link 3</a>
						  </div>
						</li>
						
						<!-- Dropdown -->
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							SHOP
						  </a>
						  <div class="dropdown-menu">
							<a class="dropdown-item" href="#">Link 1</a>
							<a class="dropdown-item" href="#">Link 2</a>
							<a class="dropdown-item" href="#">Link 3</a>
						  </div>
						</li>
						
						<!-- Dropdown -->
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							SERVICES
						  </a>
						  <div class="dropdown-menu">
							<a class="dropdown-item" href="#">Link 1</a>
							<a class="dropdown-item" href="#">Link 2</a>
							<a class="dropdown-item" href="#">Link 3</a>
						  </div>
						</li>
						
						<!-- Dropdown -->
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							LIFESTYLE
						  </a>
						  <div class="dropdown-menu">
							<a class="dropdown-item" href="#">Link 1</a>
							<a class="dropdown-item" href="#">Link 2</a>
							<a class="dropdown-item" href="#">Link 3</a>
						  </div>
						</li>
						
						<!-- Dropdown -->
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							PRODUCTS
						  </a>
						  <div class="dropdown-menu">
							<a class="dropdown-item" href="#">Link 1</a>
							<a class="dropdown-item" href="#">Link 2</a>
							<a class="dropdown-item" href="#">Link 3</a>
						  </div>
						</li>
					  </ul>
					  <form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Search">
						<button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
					  </form>
					</div>
				</nav>
			</div>
		</div>
	</div>
  </div>