<div id="wrapper">
	<div class="header-bg">
		<div class="gtc-container">
			<div class="header">
				<nav class="navbar nav-menu navbar-expand-sm navbar-dark">
					<a class="brand-logo" href="/">
						<img src="gtc-assets/img/logo.svg" alt="logo" title="Global Trade Connect">
					</a>
					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse" id="navbarsExample03">
						<div class="row col no-margins no-padding">
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>