<div id="wrapper">
	<div class="header-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="header">
						<nav class="navbar nav-menu navbar-expand-sm navbar-dark">
							<a class="brand-logo" href="/">
								<img src="gtc-assets/img/logo.svg" alt="logo" title="Global Trade Connect">
							</a>
						</nav>
					</div>
				</div>
				<div class="col-md-6">
					<div class="login-panel">
						<form id="loginForm" class="form">
							<div class="row">
								<div class="col-lg-5">
									<div class="form-group m-b-none">
										<label class="login-label">Returning user ? Sign in : </label>
										<input type="email" name="vendor_name" class="form-control input-xs input-border input-rounded" tabindex="1" placeholder="Email" id="loginInputEmail" name="email" autofocus="true">
									</div>
								</div>
								<div class="col-lg-5">
									<div class="form-group m-b-none">
                                        <label class="login-label">Password | <a href="user/forgot-password" class="text-white"> Forgot Password</a> </label>
										<input type="password" class="form-control input-xs input-border input-rounded" tabindex="2" placeholder="Password" id="loginInputPassword" name="password">
									</div>
								</div>
								<div class="col-lg-2">
									<div class="form-group m-b-none m-t">
										<button type="submit" class="btn btn-sm btn-primary" id="btnLogin"><strong>LOG IN <i id="loadingSpinner" class="fa fa fa-spinner fa-spin m-r-xs"></i></strong></button>
									</div>
								</div>
							</div>
						</form>
						<p id="loginErrorMessage"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>