<div id="wrapper">
	<div class="header-bg">
		<div class="gtc-container">
			<div class="row">
				<div class="col-md-6">
					<div class="header">
						<nav class="navbar nav-menu navbar-expand-sm navbar-dark">
							<a class="brand-logo" href="/">
								<img src="gtc-assets/img/logo.svg" alt="logo" title="Global Trade Connect">
							</a>
						</nav>
					</div>
				</div>
				<div class="col-md-6" style="margin: auto;">
					<form class="form" style="margin-top: 12px;">
						<div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="login-label">Returning user? Sign in:</label>
                                    <input type="text" name="vendor_name" class="form-control-customized form-control-sm rounded form-control-border">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="login-label">Password</label>
                                    <input type="password" name="vendor_name" class="form-control-customized form-control-sm rounded form-control-border">
                                </div>
                            </div>
                            <div class="col-lg-4" style="margin: auto;">
                            	<button class="btn btn-sm btn-primary">LOG IN</button>
                            </div>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>