<div class="gtc-header">
	<div class="gtc-container container">
		<div class="row">
			<div class="col-md-2 no-padding">
				<div class="gtc-logo">
					<img src="img/logo/logo.svg" class="img-reponsive">
				</div>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-7">
						<div class="top-header">
							<div class="inner-top-header">
								<ul class="top-menu">
									<li class="gtc-geo-locate">
										<a href="#">
											<svg xmlns="http://www.w3.org/2000/svg" width="20.6" height="20.6" viewBox="0 0 20.6 20.6">
												<circle fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" cx="10.3" cy="10.3" r="7.8"></circle>
												<path fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" d="M0 10.3h20.6M10.3 0v20.6"></path>
												<circle fill="#154A80" cx="10.3" cy="10.3" r="4.8"></circle>
												<circle fill="currentColor" cx="10.3" cy="10.3" r="2"></circle>
											</svg>
											<span class="top-menu-link">Geo Locate</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<span class="text-white">menu</span>
					</div>
					<div class="col-md-7">
						<span class="text-white">search</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>