<script type="text/javascript">
	$(function() {
		$("#inputFromDate").datepicker({
			trigger: $("#inputFromDateRange"),
			format: "DD-mm-YYYY",
			autoHide: true
		});
		$("#inputToDate").datepicker({
			trigger: $("#inputToDateRange"),
			format: "DD-mm-YYYY",
			autoHide: true
		});
	});
</script>
{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#ifCond LoggedInUser.Vendor.VendorPlans.[0].status '==' statusCode.ACTIVE}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="ibox-title">
									<h2>
										<span>Accounting</span>
										<span class="font-sm m-t-xs text-muted float-right">Current location: <span class="text-black text-500">{{LoggedInUser.Vendor.city}}, {{LoggedInUser.Vendor.State.name}}, {{LoggedInUser.Vendor.Country.name}}</span></span>
									</h2>
							</div>
							<div class="hr-line"></div>
							<div class="content-body m-t-sm">
								<form class="inline-form">
									<div class="form-group m-r-lg">
										<label class="label-control">Date Range : </label>
									</div>
									<div class="form-group m-r">
										<div class="input-group">
											<input id="inputFromDate" type="text" class="form-control date_range_picker" placeholder="DD-MM-YYYY" aria-label="inputFromDateRange" aria-describedby="inputFromDateRange">
											<div class="input-group-append cursor-pointer">
												<span class="input-group-text" id="inputFromDateRange">
													<img class="calendar-icon" src="../../img/calendar.png">
												</span>
											</div>
										</div>
									</div>
									<div class="form-group m-r">
										<label class="label-control">to</label>
									</div>
									<div class="form-group m-r">
										<div class="input-group">
											<input id="inputToDate" name="to_date" type="text" class="form-control date_range_picker" placeholder="DD-MM-YYYY" aria-label="inputToDateRange" aria-describedby="inputToDateRange">
											<div class="input-group-append cursor-pointer">
												<span class="input-group-text" id="inputToDateRange">
													<img class="calendar-icon" src="../../img/calendar.png">
												</span>
											</div>
										</div>
									</div>
									<div class="form-group m-r">
										<div class="select-container">
											<select id="inputDateRange" class="form-control-customized form-control-sm custom-dropdown" name="date_range">
												<option value="1">Today</option>
												<option value="2">Yesterday</option>
												<option value="3">Last 7 Days</option>
												<option value="4">Last 30 Days</option>
												<option value="5">This Month</option>
												<option value="6">Last Month</option>
												<option value="7">Custom Range</option>
											</select>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				{{else}} 
					{{> plan-inactive}}
			{{/ifCond}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}