 {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/header}}
<section class="showing_categ">
    <div class="row">
        {{> vendor/navbar}}
        <div class="col-md-10 list_bg">
            <div class="row">
                <div class="col-md-8">
                    <h5 class="gtc-title">Accounting </h5>
                    <div class="row">
                        <div class="col-md-2">
                            <p class="report_da">Date Range</p>
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control social_input" name="username" placeholder="MM/DD/YYYY" aria-label="Username" aria-describedby="basic-addon1"
                                    id="datepicker">
                                <div class="input-group-prepend">
                                    <span class="input-group-text calender_face_1" id="basic-addon1">
                                        <i class="fa fa-calendar  "></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 common_padding1">
                            <p style="padding: 3px 17px; font-size: 12px;"> to</p>
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control social_input" name="username" placeholder="MM/DD/YYYY" aria-label="Username" aria-describedby="basic-addon1"
                                    id="datepicker1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text calender_face_1" id="basic-addon1">
                                        <i class="fa fa-calendar  "></i>
                                    </span>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-2">
                            <select class="acc-days">
                                <option value="Last 30 Days" selected>Last 30 Days</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <p class="float-right report_cur_pa">
                        <span class="report_cur"> Current location:</span> Calgary, Alberta, Canada (
                        <span class="report_chan">change</span>)</p>
                </div>


            </div>
            <div class="row">
                <div class="col-md-5">
                    <p class="report_dal">$33,000
                        <span class="report_dal_span"> CAD</span>
                    </p>
                    <p class="report_total">Total Ad Revenue, Processing Fees, Subscription Fees, Membership Fees, </p>
                </div>
                <div class="col-md-6">
                    <p class="report_dal_1">$12,000
                        <span class="report_dal_span_1">CAD</span>
                    </p>
                    <p class="report_total_1">Payments in Escrow </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <p class="report_dal_1">$34,000
                        <span class="report_dal_span_1">CAD </span>
                    </p>
                    <p class="report_total_2">Ad &nbsp;Featured Listings Revenue</p>
                    <p class="report_total_2">
                        <a href="">View Full Report</a>
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="report_dal_1">$6,000
                        <span class="report_dal_span_1">CAD </span>
                    </p>
                    <p class="report_total_2">Processing Fees</p>
                    <p class="report_total_2">
                        <a href="">View Full Report</a>
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="report_dal_1">$7,000
                        <span class="report_dal_span_1">CAD </span>
                    </p>
                    <p class="report_total_2">Subscription Fees</p>
                    <p class="report_total_2">
                        <a href="">View Full Report</a>
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="report_dal_1">$6,000
                        <span class="report_dal_span_1">CAD </span>
                    </p>
                    <p class="report_total_2">GTC Pay Escrow Fees</p>
                    <p class="report_total_2">
                        <a href="">View Full Report</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p class="report_dal_1">$12,000
                        <span class="report_dal_span_1">CAD </sub>
                    </p>
                    <p class="report_total_2">Marketing Service Fees</p>
                    <p class="report_total_2">
                        <a href="">View Full Report</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="report_other">Other </p>
                    <p class="report_tax">
                        <a href="dashboard-vendor-reports-tax.html"> Tax Summary (Collected based on Country, State/Province) </a>
                    </p>
                </div>
            </div>

</section>
{{> footer/bottom-footer}}