<script type="text/javascript">
	$(function() {
		$("#inputFromDate").datepicker({
			trigger: $("#inputFromDateRange"),
			autoHide: true
		});
	});
</script>
{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#ifCond LoggedInUser.Vendor.VendorPlans.[0].status '==' statusCode.ACTIVE}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="ibox-title">
									<h2>
										<span>Accounting</span>
										<span class="font-sm m-t-xs text-muted float-right">Current location: <span class="text-black text-500">{{LoggedInUser.Vendor.city}}, {{LoggedInUser.Vendor.State.name}}, {{LoggedInUser.Vendor.Country.name}}</span></span>
									</h2>
							</div>
							<div class="hr-line"></div>
							<div class="content-body custom">
								<form class="form-inline">
									<div class="form-group">
										<div class="input-group">
											<input id="inputFromDate" type="text" class="form-control date_range_picker" placeholder="MM/DD/YYYY" aria-label="inputFromDateRange" aria-describedby="inputFromDateRange">
											<div class="input-group-append cursor-pointer">
												<span class="input-group-text" id="inputFromDateRange">
													<img class="calendar-icon" src="../../img/calendar.png">
												</span>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				{{else}}
					{{> plan-inactive}}
			{{/ifCond}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}