{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="content-body">
							<div class="row">
								<div class="col-md-12">
									<h5 class="content-header-title">Membership Fees</h5>
									<p class="content-txt">Here you'll be able to generate reports on the ad revenue GTC has generated for both Custom Ads and Featured Lisitings.
										Search by ad type, date range or search by name. You can also export a CSV for your records or two import into
										another accounting program.</p>
									<span class="pull-right" style="font-size:12px">
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<table class="table order-table">
										<thead>
											<tr>
												<th>
													<div class="customCheckbox">
														<input type="checkbox" onclick="selectAll(this);" id="inputCheckbox" class="customCheckboxInput">
														<label class="checkbox-b" for="inputCheckbox"></label>
													</div>
												</th>
												<th scope="col">Ad/Listing Name</th>
												<th scope="col">type</th>
												<th scope="col">Position</th>
												<th scope="col">Start Date</th>
												<th scope="col">End Date</th>
												<th scope="col">Impressions </th>
												<th scope="col">Clicks</th>
												<th scope="col">CTR</th>
												<th scope="col">Cost to Vendor</th>
											</tr>
										</thead>
										<tbody>
											<td>
												<div class="customCheckbox">
													<input type="checkbox" id="inputTerms{{this.id}}" class="customCheckboxInput" name="selected" value= {{this.id}}>
													<label class="checkbox-b" for="inputTerms{{this.id}}"></label>
												</div>
											</td>
											<td>Domino’s Reverse Graffiti</td>
											<td>Ad</td>
											<td>Wholesale Landing</td>
											<td>Nov 24, 2018</td>
											<td>Nov 30, 2018</td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td>99.00</td>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>