{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			 {{#if LoggedInUser.Vendor.VendorPlans}}
			 <div class="col-sm-10">
				 <div class="ibox">
					 <div class="ibox-content">
						<div class="ibox-title">
							<h2>Tax Summary</h2>
						</div><br/>
						<div class="content-body">
							<div class="row">
								<div class="col-md-12">
									In Progress
								</div>
							</div>
						</div>
					 </div>
				 </div>
			 </div>
			 {{/if}}
		</div>
	</div>
</div>

{{> footer/bottom-footer}}