{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>Tax Summary(CAD)</h2>
                            <p style="float: right;">Current location: <span class="current-location">Calgary,Albetra,Canada</span> <span class="change-color">(Change)</span></p>
						</div>
						<div class="content-body">

                    <div class="row">
                        <div class="col-md-12">
                            <select class="vend_edit_lists_buttonstyle" style="width: 10%;">
                                <option>COUNTRY</option>
                            </select> Date Range <input data-date-format="dd/mm/yyyy" class="vend_edit_lists_buttonstyle" id="datepicker"> to <input data-date-format="dd/mm/yyyy" class="vend_edit_lists_buttonstyle"
                            id="datepicker"> <select class="vend_edit_lists_buttonstyle" style="width: 10%;">
                            <option>CURRENCY</option>
                        </select>
                        <input type="submit" value="UPDATE" class="vend_edit_lists_update_buttonstyle" style="padding: 5px 0px;     width: 10%;" />

                        <select class="vend_edit_lists_buttonstyle float-right" style="width: 10%;">
                            <option>EXPORT TO</option>
                        </select>
                        <input type="text" placeholder="Search History" class="vend_edit_lists_searchstyle" style="float: right;" />
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="col-md-12" style="    padding-top: 20px;">

                    <br><br>
                    <p class="vend_edit_lists_pstyle float-right" style="float: right;">Entries per page: 10 25 100 All</p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p class="vend_edit_lists_pstyle">333,333 items total from May 01, 2017 to June 30, 2017</p>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>Tax</th>
                                <th>Taxable Amount</th>
                                <th>Taxes</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>GST AB (5%)</td>
                                <td>12,339.00 CAD</td>
                                <td>$150.00 CAD</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>GST AB (5%)</td>
                                <td>12,339.00 CAD</td>
                                <td>$150.00 CAD</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>GST AB (5%)</td>
                                <td>12,339.00 CAD</td>
                                <td>$150.00 CAD</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>GST AB (5%)</td>
                                <td>12,339.00 CAD</td>
                                <td>$150.00 CAD</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>GST AB (5%)</td>
                                <td>12,339.00 CAD</td>
                                <td>$150.00 CAD</td>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>GST AB (5%)</td>
                                    <td>12,339.00 CAD</td>
                                    <td>$150.00 CAD</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>GST AB (5%)</td>
                                    <td>12,339.00 CAD</td>
                                    <td>$150.00 CAD</td>

                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>GST AB (5%)</td>
                                    <td>12,339.00 CAD</td>
                                    <td>$150.00 CAD</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>GST AB (5%)</td>
                                    <td>12,339.00 CAD</td>
                                    <td>$150.00 CAD</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>GST AB (5%)</td>
                                    <td>12,339.00 CAD</td>
                                    <td>$150.00 CAD</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>GST AB (5%)</td>
                                    <td>12,339.00 CAD</td>
                                    <td>$150.00 CAD</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>GST AB (5%)</td>
                                    <td>12,339.00 CAD</td>
                                    <td>$150.00 CAD</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Total Taxable Amount: $11,227.32 CAD</td>
                                    <td>Total Taxable Amount: $11,227.32 CAD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}




















