<script type="text/javascript">
	$(document).ready(function () {
		$('#message').summernote({
			placeholder: 'Type Message',
			tabsize: 2,
			height: 200
		});


		/*	var elt = $('#to');
	
			elt.tagsinput({
				itemValue: 'value',
				itemText: 'text'
			});
	
			elt.tagsinput('add', { "value": 1, "text": "Amsterdam", "continent": "Europe" });
			elt.tagsinput('add', { "value": 4, "text": "Washington", "continent": "America" });
			elt.tagsinput('add', { "value": 7, "text": "Sydney", "continent": "Australia" });
			elt.tagsinput('add', { "value": 10, "text": "Beijing", "continent": "Asia" });
			elt.tagsinput('add', { "value": 13, "text": "Cairo", "continent": "Africa" });

		   $('#emailForm').submit(function(e){
			   e.preventDefault();
   
			   var to = $('#to').val();
			   var subject=$('#subject').val();
			   var message = $('#message').val();		   	
   })*/

		$('#sent').click(function (e) {

			e.preventDefault();
			var sentInput = {};

			sentInput.to = $('#to').val();
			sentInput.subject = $('#subject').val();
			sentInput.message = $('#message').val();

			$.ajax({
				url: 'api/mail',
					type: 'POST',
					data: sentInput,
					success: function (data) {
					    console.log(data);
					},
					error: function (error) {
						console.log(error);
				}
			})
		})

		$('#draft').click(function (e) {

			e.preventDefault();
			var sentInput = {};

			DraftInput.to = $('#to').val();
			DraftInput.subject = $('#subject').val();
			DraftInput.message = $('#message').val();

			$.ajax({
				url: 'api/mail/draft',
					type: 'POST',
					data: DraftInput,
					success: function (data) {
					    console.log(data);
					},
					error: function (error) {
						console.log(error);
				}
			})
		})

	});
</script>
<style>
	.message-box-input .form-control {
		border-radius: unset;
		box-shadow: none;
		background-color: #f5f5f5;
		margin: 8px;
	}
</style>

{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="content-body">
							<p class="content-txt"></p>
							<div class="container main-section">
								<div class="row">
									<div class="col-lg-12 border main-section bg-white ">
										<div class="row">
											<div class="col-lg-6">
												<h3 class="pt-2">Compose Email</h3>
											</div>
										</div>
										<form id="emailForm">
											<div class="col-lg-12 p-0 message-box-input">

												<div class="form-group">
													<input type="text" id="to" name="to" class="form-control" aria-describedby="emailHelp" placeholder="To"> {{!--
													<select class="multiSelect form-control" name="email" id="exampleInputEmail1" multiple="multiple" aria-describedby="emailHelp"
													 placeholder="To"> --}}
													</select>
													<input type="text" class="form-control" id="subject" name="subject" aria-describedby="emailHelp" placeholder="Subject">
													<textarea class="form-control" id="message" name="message"></textarea>
												</div>
											</div>
											<div class="co-lg-12 message-box-last-content p-2">
												<button type="submit" id="sent" class="btn btn-success">Send</button>
												<button type="submit" id="draft" class="btn btn-light">Draft</button>
												<button type="submit" class="btn btn-danger">Discard</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}