 
 <script type="text/javascript">
	$(document).ready(function () {
		$('.multiSelect').select2();
	});
</script><style>
.message-box-input .form-control{
	border-radius: unset;
	box-shadow: none;
	background-color: #f5f5f5;
	margin:8px;
}
 </style>

 {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
 <div class="wrapper-content bg-gray">
 	<div class="gtc-container">
 		<div class="row">
 			<div class="col-sm-2">
 				{{> vendor/vendor-side-navbar}}
 			</div>
 			<div class="col-sm-10">
 				<div class="ibox">
 					<div class="ibox-content">
 						<div class="content-body">
 							<p class="content-txt"></p>
 							<div class="container main-section">
 								<div class="row">
 									<div class="col-lg-12 border main-section bg-white ">
 										<div class="row bg-dark text-white">
 											<div class="col-lg-6">
 												<h3 class="pt-2">New Message</h3>
 											</div>
 										</div>
 										<div class="col-lg-12 p-0 message-box-input">
 											<form>
 												<div class="form-group">
 													<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="To">
 													{{!-- <select class="multiSelect form-control" name="email" id="exampleInputEmail1" multiple="multiple" aria-describedby="emailHelp" placeholder="To"> --}}
													</select>
 													<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Subject">
 													<textarea class="form-control" id="exampleFormControlTextarea1" rows="6"> message</textarea>
 												</div>
 											</form>
 										</div>
 										<div class="co-lg-12 message-box-last-content p-2">
 											<a href="#" class="btn btn-success btn-sm pl-3 pr-3">SEND</a>
 											<a href="#" class="btn btn-primary btn-sm pl-3 pr-3">SAVE IN DRAFT</a>

 										</div>
 									</div>
 								</div>
 							</div>
 							<div class="col-md-12">

 							</div>

 						</div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>
 {{> footer/bottom-footer}}