<script>
    function changeStatus(e) {
        $.ajax({
            url: '/api/sub-categories?category_id=' + e.value,
            type: 'GET',
            success: function (result) {
                $("#sub_category").empty();

                for (var i = 0; i < result.rows.length; i++) {
                    var options;
                    options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
                    $("#sub_category").append(options)
                }
            },
            error: function (error) {
                console.log("Error", error);
            }
        });
    }
</script> 
{{> vendor/header}}
<section class="showing_categ">
    <div class="">
        <div class="container">
            <div class="row">
                {{> vendor/navbar}}
                <div class="col-md-8" style="background-color: #fff;">
                    <h5 style="padding-top: 20px;">Add Product</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="product_name" placeholder="Product Name" class="vend_edit_lists_textstyle" />
                        </div>
                        <div class="col-md-12">
                            <select class="vend_edit_lists_dropdownstyle" name="category" onChange="changeStatus(this);">
                                <option disabled selected>Category</option>
                                {{#each category}}
                                <option value="{{this.id}}">{{ this.name}}</option>
                                {{/each}}
                            </select>
                            <select class="vend_edit_lists_dropdownstyle" name="sub_category" id="sub_category" value="">
                                <option disabled selected>Sub Category</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <input type="text" placeholder="SKU" class="vend_edit_lists_textstyle1" />
                        </div>
                        <div class="col-md-12">
                            <input type="text" name="expiry_date" placeholder="Price" class="vend_edit_lists_textstyle1" />
                        </div>
                        <div class="col-md-12">
                            <input type="text" name="quantity_available" placeholder="Quantity Available" class="vend_edit_lists_textstyle1" />
                        </div>
                        <div class="col-md-12">
                            <input type="text" name="moq" placeholder="Maximum Order Quantity" class="vend_edit_lists_textstyle1" />
                        </div>
                        <div class="col-md-12">
                            <label>
                                <h5>Upload Image </h5>
                            </label>
                            <input type="file" class="vend_edit_lists_textstyle1" name="file" />
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="list_butt_1" type="submit" value="UPDATE" />
                            <input class="list_butt_2" type="submit" value="CANCEL" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="vend_edit_lists_pstyle"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</section>