<script>
    function changeCategory(e) {
        $.ajax({
            url: '/api/sub-categories?category_id=' + e.value,
            type: 'GET',
            success: function (result) {
                $("#sub_category").empty();
                for (var i = 0; i < result.rows.length; i++) {
                    var options;
                    options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
                    $("#sub_category").append(options)
                }
            },
            error: function (error) {
                console.log("Error", error);
            }
        });
    }
    function changeCountry(e) {
        $.ajax({
            url: '/api/states?country_id='+ e.value,
            type: 'GET',
            success: function (result) {
                $("#state").empty();
                for (var i = 0; i < result.rows.length; i++) {
                    var options;
                    options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
                    $("#state").append(options)
                }
            },
            error: function (error) {
                console.log("Error", error);
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#productSubmitBtn").click(function (e) {
            e.preventDefault();
            var obj = {};
            var newProduct = {};
            newProduct.product_name = $('#product_name').val(),
            newProduct.product_category_id = $('#category').val(),
            newProduct.sub_category_id = $('#sub_category').val(),
            newProduct.sku = $('#sku').val(),
            newProduct.price = $('#price').val(),
            newProduct.quantity_available = $('#quantity_available').val(),
            newProduct.moq = $('#moq').val(),
            newProduct.product_location = $('#country').val(),
            newProduct.state_id = $('#state').val(),
            newProduct.city = $('#city').val(),
            newProduct.status = 1;
            newProduct.vendor_id = 29;
            newProduct.marketplace_id = 3;
            newProduct.publish_date='2018-05-05'


            console.log("newProduct", newProduct);

            var form = new FormData();
            form.append("file", $("#file")[0].files[0]);
            form.append("filename", "test")

            $.ajax({
                type: 'POST',
                url: '/api/products/upload',
                data: form,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                    obj.type = 1;
                    obj.status = 1;
                    obj.url = data.imageURL;
                    $.ajax({
                        type: 'POST',
                        url: '/api/product-medias',
                        data: obj,
                        success: function (data) {
                            newProduct.product_media_id= data.id;
                            $.ajax({
                                type: 'POST',
                                url: '/api/products',
                                data: newProduct,
                                success: function (data) {
                                    console.log("data", data);
                                },
                                error: function (error) {
                                    console.log('error', error);
                                }
                            });
                        },
                        error: function (error) {
                            console.log('error', error);
                        }
                    });
                },
                error: function (error) {
                    console.log('error', error);
                }
            });

        });
    });
</script>
{{> header/defaultHeader LoggedInUser = LoggedInUser}}
{{> vendor/header}}
<section class="showing_categ">
    <div class="">
        <div class="container">
            <div class="row">
                {{> vendor/navbar}}
                <div class="col-md-8" style="background-color: #fff;">
                    <form id="productForm">
                        <h5 style="padding-top: 20px;">Add Product</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" name="product_name" id="product_name" placeholder="Product Name" class="vend_edit_lists_textstyle" required />
                            </div>
                            <div class="col-md-12">
                                <select class="vend_edit_lists_dropdownstyle" id="category" name="category" onChange="changeCategory(this);">
                                    <option disabled selected>Category</option>
                                    {{#each category}}
                                    <option value="{{this.id}}">{{ this.name}}</option>
                                    {{/each}}
                                </select>
                                <select class="vend_edit_lists_dropdownstyle" name="sub_category" id="sub_category" value="">
                                    <option disabled selected>Sub Category</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <select class="vend_edit_lists_dropdownstyle" id="country" name="country" onChange="changeCountry(this);">
                                    <option disabled selected>Country</option>
                                    {{#each country}}
                                    <option value="{{this.id}}">{{ this.name}}</option>
                                    {{/each}}
                                </select>
                                <select class="vend_edit_lists_dropdownstyle" name="state" id="state" value="">
                                    <option disabled selected>State</option>
                                </select>
                                <input type="text" name="city" id="city" placeholder="City" class="vend_edit_lists_textstyle1" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="sku" id="sku" placeholder="SKU" class="vend_edit_lists_textstyle1" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="price" id="price" placeholder="Price" class="vend_edit_lists_textstyle1" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="quantity_available" id="quantity_available" placeholder="Quantity Available" class="vend_edit_lists_textstyle1" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="moq" id="moq" placeholder="Maximum Order Quantity" class="vend_edit_lists_textstyle1" />
                            </div>
                            <div class="col-md-12">
                                <label>
                                    <h6>Upload Image </h6>
                                </label>
                                <input type="file" class="vend_edit_lists_textstyle1" id="file" name="file" />
                            </div>
                            <div class="col-md-12">
                                 <label>
                                    <h6>Description</h6>
                                </label>
                            <textarea id="description" name="" class="vend_edit_lists_textstyle1" ></textarea>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="list_butt_1" type="button" id="productSubmitBtn">Submit</button>
                                <button class="list_butt_2" type="reset" id="productCancelBtn">Cancel</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="vend_edit_lists_pstyle"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer/footer}}