<section>
	<div class="" >
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="breadcrumb">
					  <li><a href="#" class="active">My Account</a></li>
					  <li>Shopping Cart</li>
					</ul>
				</div>
				<div class="col-md-6">
					<p class="log_sunnysarpel">You're logged in as <span class="span_sunnysarpel">SunnySarpel</span> <a href="#" class="span_swichaccount">SWITCH ACCOUNT</a></p>
				</div>
			</div>
			<div class="row checkout_bg_color ">
                <div class="col-md-9 checkout_title_color">
                	<h4>MY SHOPPING CART <span class="checkout_title_color_span">(8 Item Totals)</span></h4>
            	</div>
                <div class="col-md-3 checkout_title_color_1">
					<h4>YOUR ORDER</h4>
            	</div>
            	
            </div>
			
			
			
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12 common_padding1">
							<p class="shop_wholesale_items">WHOLE SALE ITEMS (2)</p>
						</div>
					</div>
					<div class="container">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="shop_list_title">Product</th>
									<th class="shop_list_title">Price</th>
									<th class="shop_list_title">Qty</th>
									<th class="shop_list_title">Total Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="row">
											<div class="col-md-3">
												<img src="../img/iphone.png" style="width: 30px; height: 70px;">
											</div>
											<div class="col-md-9">
												<div class="row common_padding">
													<div class="col-md-12">
														<p class="shop_product_title">iPhone Pallets of Interest</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Origin</p>
													</div>
													<div class="col-md-9">
														<p>Canada</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Category</p>
													</div>
													<div class="col-md-9">
														<p>Electronic - Phones</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Seller</p>
													</div>
													<div class="col-md-9">
														<p>(<span class="shop_price_handling">Login for Seller Info</span>)</p>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_price_handling">Handling +$900.00</p>
												<p class="shop_price_min">Minimum Order Quantity: 40</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-6">
												<input type="number" min="1" max="5" class="shop_qty_num">
											</div>
											<div class="col-md-6">
												<p class="shop_price_handling">Update</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_total_remove text-center">REMOVE</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="row">
											<div class="col-md-3">
												<img src="../img/iphone.png" style="width: 30px; height: 70px;">
											</div>
											<div class="col-md-9">
												<div class="row common_padding">
													<div class="col-md-12">
														<p class="shop_product_title">iPhone Pallets of Interest</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Origin</p>
													</div>
													<div class="col-md-9">
														<p>Canada</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Category</p>
													</div>
													<div class="col-md-9">
														<p>Electronic - Phones</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Seller</p>
													</div>
													<div class="col-md-9">
														<p>(<span class="shop_price_handling">Login for Seller Info</span>)</p>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_price_handling">Handling +$900.00</p>
												<p class="shop_price_min">Minimum Order Quantity: 40</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-6">
												<input type="number" min="1" max="5" class="shop_qty_num">
											</div>
											<div class="col-md-6">
												<p class="shop_price_handling">Update</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_total_remove text-center">REMOVE</p>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="row">
						<div class="col-md-12 common_padding1">
							<p class="shop_shop_items">SHOP ITEMS (2)</p>
						</div>
					</div>
					<div class="container">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="shop_list_title">Product</th>
									<th class="shop_list_title">Price</th>
									<th class="shop_list_title">Qty</th>
									<th class="shop_list_title">Total Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="row">
											<div class="col-md-3">
												<img src="../img/iphone.png" style="width: 30px; height: 70px;">
											</div>
											<div class="col-md-9">
												<div class="row common_padding">
													<div class="col-md-12">
														<p class="shop_product_title">iPhone Pallets of Interest</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Origin</p>
													</div>
													<div class="col-md-9">
														<p>Canada</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Category</p>
													</div>
													<div class="col-md-9">
														<p>Electronic - Phones</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Seller</p>
													</div>
													<div class="col-md-9">
														<p>(<span class="shop_price_handling">Login for Seller Info</span>)</p>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_price_handling">Handling +$900.00</p>
												<p class="shop_price_min">Minimum Order Quantity: 40</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-6">
												<input type="number" min="1" max="5" class="shop_qty_num">
											</div>
											<div class="col-md-6">
												<p class="shop_price_handling">Update</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_total_remove text-center">REMOVE</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="row">
											<div class="col-md-3">
												<img src="../img/iphone.png" style="width: 30px; height: 70px;">
											</div>
											<div class="col-md-9">
												<div class="row common_padding">
													<div class="col-md-12">
														<p class="shop_product_title">iPhone Pallets of Interest</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Origin</p>
													</div>
													<div class="col-md-9">
														<p>Canada</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Category</p>
													</div>
													<div class="col-md-9">
														<p>Electronic - Phones</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Seller</p>
													</div>
													<div class="col-md-9">
														<p>(<span class="shop_price_handling">Login for Seller Info</span>)</p>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_price_handling">Handling +$900.00</p>
												<p class="shop_price_min">Minimum Order Quantity: 40</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-6">
												<input type="number" min="1" max="5" class="shop_qty_num">
											</div>
											<div class="col-md-6">
												<p class="shop_price_handling">Update</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_total_remove text-center">REMOVE</p>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="row">
						<div class="col-md-12 common_padding1">
							<p class="shop_service_items">SERVICE ITEMS (2)</p>
						</div>
					</div>
					<div class="container">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="shop_list_title">Product</th>
									<th class="shop_list_title">Price</th>
									<th class="shop_list_title">Qty</th>
									<th class="shop_list_title">Total Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="row">
											<div class="col-md-3">
												<img src="../img/iphone.png" style="width: 30px; height: 70px;">
											</div>
											<div class="col-md-9">
												<div class="row common_padding">
													<div class="col-md-12">
														<p class="shop_product_title">iPhone Pallets of Interest</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Origin</p>
													</div>
													<div class="col-md-9">
														<p>Canada</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Category</p>
													</div>
													<div class="col-md-9">
														<p>Electronic - Phones</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Seller</p>
													</div>
													<div class="col-md-9">
														<p>(<span class="shop_price_handling">Login for Seller Info</span>)</p>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_price_handling">Handling +$900.00</p>
												<p class="shop_price_min">Minimum Order Quantity: 40</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-6">
												<input type="number" min="1" max="5" class="shop_qty_num">
											</div>
											<div class="col-md-6">
												<p class="shop_price_handling">Update</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_total_remove text-center">REMOVE</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="row">
											<div class="col-md-3">
												<img src="../img/iphone.png" style="width: 30px; height: 70px;">
											</div>
											<div class="col-md-9">
												<div class="row common_padding">
													<div class="col-md-12">
														<p class="shop_product_title">iPhone Pallets of Interest</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Origin</p>
													</div>
													<div class="col-md-9">
														<p>Canada</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Category</p>
													</div>
													<div class="col-md-9">
														<p>Electronic - Phones</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Seller</p>
													</div>
													<div class="col-md-9">
														<p>(<span class="shop_price_handling">Login for Seller Info</span>)</p>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_price_handling">Handling +$900.00</p>
												<p class="shop_price_min">Minimum Order Quantity: 40</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-6">
												<input type="number" min="1" max="5" class="shop_qty_num">
											</div>
											<div class="col-md-6">
												<p class="shop_price_handling">Update</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_total_remove text-center">REMOVE</p>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="row">
						<div class="col-md-12 common_padding1">
							<p class="shop_subscription_items">SUBSCRIPTION ITEMS (2)</p>
						</div>
					</div>
					<div class="container">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="shop_list_title">Product</th>
									<th class="shop_list_title">Price</th>
									<th class="shop_list_title">Qty</th>
									<th class="shop_list_title">Total Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="row">
											<div class="col-md-3">
												<img src="../img/iphone.png" style="width: 30px; height: 70px;">
											</div>
											<div class="col-md-9">
												<div class="row common_padding">
													<div class="col-md-12">
														<p class="shop_product_title">iPhone Pallets of Interest</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Origin</p>
													</div>
													<div class="col-md-9">
														<p>Canada</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Category</p>
													</div>
													<div class="col-md-9">
														<p>Electronic - Phones</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Seller</p>
													</div>
													<div class="col-md-9">
														<p>(<span class="shop_price_handling">Login for Seller Info</span>)</p>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_price_handling">Handling +$900.00</p>
												<p class="shop_price_min">Minimum Order Quantity: 40</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-6">
												<input type="number" min="1" max="5" class="shop_qty_num">
											</div>
											<div class="col-md-6">
												<p class="shop_price_handling">Update</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_total_remove text-center">REMOVE</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="row">
											<div class="col-md-3">
												<img src="../img/iphone.png" style="width: 30px; height: 70px;">
											</div>
											<div class="col-md-9">
												<div class="row common_padding">
													<div class="col-md-12">
														<p class="shop_product_title">iPhone Pallets of Interest</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Origin</p>
													</div>
													<div class="col-md-9">
														<p>Canada</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Category</p>
													</div>
													<div class="col-md-9">
														<p>Electronic - Phones</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Seller</p>
													</div>
													<div class="col-md-9">
														<p>(<span class="shop_price_handling">Login for Seller Info</span>)</p>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_price_handling">Handling +$900.00</p>
												<p class="shop_price_min">Minimum Order Quantity: 40</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-6">
												<input type="number" min="1" max="5" class="shop_qty_num">
											</div>
											<div class="col-md-6">
												<p class="shop_price_handling">Update</p>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">
												<p class="shop_price_doller">$2,595.00</p>
												<p class="shop_total_remove text-center">REMOVE</p>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-md-6">
							<input type="submit" value="CONTINUE SHOPPING" class="cont_shopping"/>
						</div>
						<div class="col-md-6">
							<input type="submit" value="UPDATE CART" class="update_cart"/>
						</div>
					</div>
				</div>
				<div class="col-md-3 your_order_bg">
					<div class="container">
						<h6 class="yourorder_wholesalesum_head">Wholesale Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">$8,763.00</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<p class="shop_shipping">Shipping Ground</p>
							</div>
							<div class="col-md-4">
								<p class="shop_shipping float-right">$314.52</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">$9,283.00</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal"><b>WHOLESALE TOTAL</b></p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right"><b>$9,077.52</b></p>
							</div>
						</div>
						
						<h6 class="yourorder_shopsum_head">Shop Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">$8,763.00</p>
							</div>
						</div>
						
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal"><b>WHOLESALE TOTAL</b></p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right"><b>$9,077.52</b></p>
							</div>
						</div>
						
						<h6 class="yourorder_servicesum_head">Service Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">$8,763.00</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<p class="shop_shipping">Shipping Ground</p>
							</div>
							<div class="col-md-4">
								<p class="shop_shipping float-right">$314.52</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">$9,283.00</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal"><b>WHOLESALE TOTAL</b></p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right"><b>$9,077.52</b></p>
							</div>
						</div>
						
						<h6 class="yourorder_subscriptionsum_head">Subscription Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">$8,763.00</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<p class="shop_shipping">Shipping Ground</p>
							</div>
							<div class="col-md-4">
								<p class="shop_shipping float-right">$314.52</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">$9,283.00</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal"><b>WHOLESALE TOTAL</b></p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right"><b>$9,077.52</b></p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal"><b>GRAND TOTAL</b></p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right"><b>$19,077.52</b></p>
							</div>
						</div>
						<hr class="common_margin" />
						<p class="promo_code_p"><b>Have A Promo Code?</b> Enter it here:</p>
						<input type="text" placeholder="Enter Promo Code" class="promo_code_text" />
						<input type="submit" value="CHECKOUT NOW" class="shop_checkout_btn" />
						<img src="../img/payment-methods.jpg" alt="payment">
					</div>
				</div>
			</div>
    	</div>
	</div>
</section>
