 {{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/header}}
<section>
    <div class="compare_pg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#" class="active">My Account</a>
                        </li>
                        <li>Compare</li>
                    </ul>
                </div>
                <div class="col-md-6 col-12">
                    <p class="log_sunnysarpel">
                        <span style="color: #5B8AC4;">
                            <b>Login</b>
                        </span> to see seller information</p>
                </div>
            </div>

            <div class="row">
                <table class="table table-responsive-sm table_td_style">
                    <tbody>
                        <tr>
                            <td class="checkout_title_color_1">&nbsp;</td>
                            <td class="checkout_title_color" colspan="3">
                                <h4>COMPARE
                                    <span class="checkout_title_color_span">(3 Item Totals)</span>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td align="center">
                                <img src="../img/iphone.png" style="width: 60px" alt="iphone">
                            </td>
                            <td align="center">
                                <img src="../img/iphone.png" style="width: 60px" alt="iphone">
                            </td>
                            <td align="center">
                                <img src="../img/iphone.png" style="width: 60px" alt="iphone">
                            </td>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <td>
                                <a href="#">
                                    <p class="com_product_title">Dr.Dre Head phones Beats by Dre with Bluetooth Capabilities</p>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <p class="com_product_title">Dr.Dre Head phones Beats by Dre with Bluetooth Capabilities</p>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <p class="com_product_title">Dr.Dre Head phones Beats by Dre with Bluetooth Capabilities</p>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>
                                <p class="com_product_title">$129.99</p>
                            </td>
                            <td>
                                <p class="com_product_red">$109.99
                                    <span class="com_product_red_span">save $20.00</span>
                                </p>
                            </td>
                            <td>
                                <p class="com_product_title">$129.99</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Availability</th>
                            <td>
                                <p class="com_product_stock">100 in Stock</p>
                            </td>
                            <td>
                                <p class="com_product_stock">100 in Stock</p>
                            </td>
                            <td>
                                <p class="com_product_stock">100 in Stock</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>
                                <p class="com_product_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book.
                                    <a href=""> More...</a>
                                </p>
                            </td>
                            <td>
                                <p class="com_product_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book.
                                    <a href=""> More...</a>
                                </p>
                            </td>
                            <td>
                                <p class="com_product_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book.
                                    <a href=""> More...</a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>Seller</th>
                            <td>
                                <p class="com_product_title">(Login for Seller info)</p>
                            </td>
                            <td>
                                <p class="com_product_title">(Login for Seller info)</p>
                            </td>
                            <td>
                                <p class="com_product_title">(Login for Seller info)</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">User Rating</th>
                            <td>
                                <p class="com_product_title">
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #B7B7B9;"></i>
                                    <i class="fas fa-star" style="color: #B7B7B9;"></i> (23 Ratings-See All)</p>
                            </td>
                            <td>
                                <p class="com_product_title">
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #B7B7B9;"></i>
                                    <i class="fas fa-star" style="color: #B7B7B9;"></i> (23 Ratings-See All)</p>
                            </td>
                            <td>
                                <p class="com_product_title">
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #FEB14B;"></i>
                                    <i class="fas fa-star" style="color: #B7B7B9;"></i>
                                    <i class="fas fa-star" style="color: #B7B7B9;"></i> (23 Ratings-See All)</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Weight</th>
                            <td>
                                <p class="com_product_stock">24K (4.4ibs)</p>
                            </td>
                            <td>
                                <p class="com_product_stock">24K (4.4ibs)</p>
                            </td>
                            <td>
                                <p class="com_product_stock">24K (4.4ibs)</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Dimensions</th>
                            <td>
                                <p class="com_product_stock">30*20cm (1ft*8in)</p>
                            </td>
                            <td>
                                <p class="com_product_stock">30*20cm (1ft*8in)</p>
                            </td>
                            <td>
                                <p class="com_product_stock">30*20cm (1ft*8in)</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Brand</th>
                            <td>
                                <p class="com_product_stock">Dr.Dre</p>
                            </td>
                            <td>
                                <p class="com_product_stock">Dr.Dre</p>
                            </td>
                            <td>
                                <p class="com_product_stock">Dr.Dre</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td>
                                <p class="com_product_stock">Black</p>
                            </td>
                            <td>
                                <p class="com_product_stock">Black</p>
                            </td>
                            <td>
                                <p class="com_product_stock">Black</p>
                            </td>
                        </tr>
                        <tr>
                            <th>EAN</th>
                            <td>
                                <p class="com_product_stock">#1245734</p>
                            </td>
                            <td>
                                <p class="com_product_stock">#1245734</p>
                            </td>
                            <td>
                                <p class="com_product_stock">#1245734</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Add to Bag</th>
                            <td>
                                <div class="row">
                                    <div class="col-md-2 col-12">
                                        <p class="com_product_stock">Qty:</p>
                                    </div>
                                    <div class="col-md-3 col-12 common_padding1">
                                        <input type="text" placeholder="1" class="geo_textbox" />
                                    </div>
                                    <div class="col-md-7 col-12 common_padding1">
                                        <a href="#" class="com_add_to_cart">
                                            <i class="fas fa-shopping-bag"></i> ADD TO BAG</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-2 col-12">
                                        <p class="com_product_stock">Qty:</p>
                                    </div>
                                    <div class="col-md-3 col-12 common_padding1">
                                        <input type="text" placeholder="1" class="geo_textbox" />
                                    </div>
                                    <div class="col-md-7 col-12 common_padding1">
                                        <a href="#" class="com_add_to_cart">
                                            <i class="fas fa-shopping-bag"></i> ADD TO BAG</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-2 col-12">
                                        <p class="com_product_stock">Qty:</p>
                                    </div>
                                    <div class="col-md-3 col-12 common_padding1">
                                        <input type="text" placeholder="1" class="geo_textbox" />
                                    </div>
                                    <div class="col-md-7 col-12 common_padding1">
                                        <a href="#" class="com_add_to_cart">
                                            <i class="fas fa-shopping-bag"></i> ADD TO BAG</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Remove</th>
                            <td>
                                <a href="#" class="span_swichaccount">REMOVE FROM COMPARE</a>
                            </td>
                            <td>
                                <a href="#" class="span_swichaccount">REMOVE FROM COMPARE</a>
                            </td>
                            <td>
                                <a href="#" class="span_swichaccount">REMOVE FROM COMPARE</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 ts2">
                    <h6 class="float-left" style="color:#fff;">RELATED PRODUCTS</h6>
                </div>
                <section class="box6" style="margin-bottom: 20px;">
                    <div class="container clearfix">
                        <div class="row">
                            <div class="col-md-4 col-12 common_top">
                                <div class="row">
                                    <div class="col-md-3 col-2">
                                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                                    </div>
                                    <div class="col-md-9 col-10">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8">
                                                <p class="wts_header">
                                                    <a href="#">Dr. Dre Headphones Beats by Dre with Bluetooth Capability</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value">$79.99</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Canada</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Electronic - Phones</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>(
                                                    <b>Login for Seller Info</b>)</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12 common_top">
                                <div class="row">
                                    <div class="col-md-3 col-2">
                                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                                    </div>
                                    <div class="col-md-9 col-10">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8">
                                                <p class="wts_header">
                                                    <a href="#">Historic & Natural Walking Tour Expeditions</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value">$79.99</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Canada</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Electronic - Phones</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>(
                                                    <b>Login for Seller Info</b>)</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12 common_top">
                                <div class="row">
                                    <div class="col-md-3 col-2">
                                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                                    </div>
                                    <div class="col-md-9 col-10">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8">
                                                <p class="wts_header">
                                                    <a href="#">Real Estate Interior Photography & Drone Photography</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value">$79.99</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Canada</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Electronic - Phones</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>(
                                                    <b>Login for Seller Info</b>)</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-12 common_top">
                                <div class="row">
                                    <div class="col-md-3 col-2">
                                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                                    </div>
                                    <div class="col-md-9 col-10">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8">
                                                <p class="wts_header">
                                                    <a href="#">Dr. Dre Headphones Beats by Dre with Bluetooth Capability</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value_red">$79.99</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Canada</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value_save">Save $20</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Electronic - Phones</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>(
                                                    <b>Login for Seller Info</b>)</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12 common_top">
                                <div class="row">
                                    <div class="col-md-3 col-2">
                                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                                    </div>
                                    <div class="col-md-9 col-10">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8">
                                                <p class="wts_header">
                                                    <a href="#">Historic & Natural Walking Tour Expeditions</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value_red">$79.99</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Canada</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value_save">Save $20</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Electronic - Phones</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>(
                                                    <b>Login for Seller Info</b>)</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12 common_top">
                                <div class="row">
                                    <div class="col-md-3 col-2">
                                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                                    </div>
                                    <div class="col-md-9 col-10">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8">
                                                <p class="wts_header">
                                                    <a href="#">Real Estate Interior Photography & Drone Photography</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value_red">$79.99</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Canada</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value_save">Save $20</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Electronic - Phones</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>(
                                                    <b>Login for Seller Info</b>)</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4 col-12 common_top">
                                <div class="row">
                                    <div class="col-md-3 col-2">
                                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                                    </div>
                                    <div class="col-md-9 col-10">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8">
                                                <p class="wts_header">
                                                    <a href="#">Dr. Dre Headphones Beats by Dre with Bluetooth Capability</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value">$79.99</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Canada</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Electronic - Phones</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>(
                                                    <b>Login for Seller Info</b>)</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12 common_top">
                                <div class="row">
                                    <div class="col-md-3 col-2">
                                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                                    </div>
                                    <div class="col-md-9 col-10">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8">
                                                <p class="wts_header">
                                                    <a href="#">Historic & Natural Walking Tour Expeditions</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value">$79.99</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Canada</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Electronic - Phones</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>(
                                                    <b>Login for Seller Info</b>)</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 common_top">
                                <div class="row">
                                    <div class="col-md-3 col-2">
                                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                                    </div>
                                    <div class="col-md-9 col-10">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8">
                                                <p class="wts_header">
                                                    <a href="#">Real Estate Interior Photography & Drone Photography</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p class="doller_value">$79.99</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Canada</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>Electronic - Phones</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5">
                                                <p>(
                                                    <b>Login for Seller Info</b>)</p>
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <p>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{{> footer/footer}}