<script type="text/javascript">
    $("#gtc-cart-alert").hide();
    function gtcAddToCart(e) {
        $('#gtc-add-to-cart').prop('disabled', true);
        var cartInfo = {};
        cartInfo.product_quantity = $('#product-quantity').val();

        $.ajax({
                type: "POST",
                url: "/api/cart/add-cart/" + e,
                data: cartInfo,
                success: function(res) {
                    $('#gtc-add-to-cart').prop('disabled', false);
                    if (res && res.message === "SUCCESS") {
                     outputPop(res.message_details);
                     console.log(res)
                     location.reload(true);
                 }
             },
             error: function(error) {
                $('#gtc-add-to-cart').prop('disabled', false);
                if (error) {
                    if (error.status === 401)
                        return location.href = "/login";
                    
                    outputErrorPop(error);
                    location.reload(true);
                }
            }
        });
    }

    function removeFromCompare(argument) {
        var newData = {};
        newData.product_id = argument;
        $.ajax({
            type: "POST",
            url: "/api/product-view/remove-from-compare/",
            data: newData,
            success: function(res) {
                $('#gtc-add-to-cart').prop('disabled', false);
                if (res && res.message === "SUCCESS") {
                    outputPop(res.message_details);
                    location.reload(true);
                }
            },
            error: function(error) {
                $('#gtc-add-to-cart').prop('disabled', false);
                if (error) {
                    if (error.status === 401)
                        return location.href = "/login";
                    outputErrorPop(error);
                    location.reload(true);
                }
            }
        });
    }

    function outputPop(argument) {
        $('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
        $('#gtc-cart-alert .cart-message').text(argument)
        $("#gtc-cart-alert").fadeTo(5000, 500).slideUp(500, function() {
            $("#gtc-cart-alert").slideUp(500);
            location.reload();
        });
    }

    function outputErrorPop(argument) {
        $('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
        $('#gtc-cart-alert .cart-message').text(argument.responseJSON.message + " : " + argument.responseJSON.message_details)
        $("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function() {
            $("#gtc-cart-alert").slideUp(500);
        });
    }
    $(function() {
        $("#gtc-cart-alert").hide();
    });
</script>
{{> header/top-header LoggedInUser = LoggedInUser}}
<div class="wrapper-content">
    <div class="container">
        <div class="title-header-1">
            <div class="alignleft">
                <ul class="breadcrumb">
                    <li>
                        <a href="#" class="active">My Account</a>
                    </li>
                    <li>Compare</li>
                </ul>
            </div>
            <div class="alignright">
                <span class="text-sm"><a href="/login">Login</a> to see seller information</span>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="body-content-1">
            <div class="row">
                <div class="col col-2-12">
                    <span>Hello</span>
                </div>
                <div class="col col-10-12">
                    <span>Hello</span>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer/bottom-footer}}