{{> vendor/header}} 
  <section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				{{> vendor/navbar}} 
				<div class="col-md-8" style="background-color: #fff;">
					<p class="vend_edit_lists_pstyle"></p>
					<div class="row">
						<div class="col-md-10">
							<input type="submit" value="ADD COUPON" class="vend_edit_lists_buttonstyle" /> <select class="vend_edit_lists_buttonstyle">
								<option>CHANGE STATUS</option>
							</select> <input type="submit" value="EDIT / FEATURE" class="vend_edit_lists_buttonstyle" />
						</div>
						<div class="col-md-2">
							<input type="text" placeholder="Search Coupons" class="vend_edit_lists_searchstyle float-right" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle">333,333 items total</p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right">Entries per page: 10 25 100 All</p>
						</div>
					</div>
					<div class="row">
						<table class="table table-hover">
							<thead>
								<tr>
									<th><input type="checkbox"></th>
									<th>Coupon Name</th>
									<th>Publish Date</th>
									<th>Type</th>
									<th>Sales</th>
									<th>Discount</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr>
								<tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>$15.00 CAD</td>
									<td class="text_orange_color">Suspended</td>
								</tr>
								<tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>$15.00 CAD</td>
									<td class="text_red_color">Sold Out</td>
								</tr>
								<tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr><tr>
									<td><input type="checkbox"></td>
									<td class="text_blue_color">iPhone Pallets of Interest</td>
									<td>April 21, 2017</td>
									<td>Percentage</td>
									<td class="text_blue_color">3</td>
									<td>10%</td>
									<td class="text_green_color">Active</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle">333,333 items total</p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right">Entries per page: 10 25 100 All</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					
				</div>				
			</div>
		</div>
	</div>
</section>