 {{> header/top-header LoggedInUser = LoggedInUser}}
<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-2 geo_arrow_bg">
						<i class="fas fa-caret-left"></i>
					</div>
					<div class="col-md-10 geo_sort_bg">
						Sort by 
						<select class="acc_textbox"> <option value="Alphabetical">Alphabetical </option></select>
					</div>
				</div>
				<div class="row">
                      <div class="col-md-3 col-2" style="text-align: center;">
                          <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                      </div>
                      <div class="col-md-9 col-10">
                          <div class="row common_padding">
                              <div class="col-md-8 col-8">
                                  <p class="wts_header"><a href="#">WTS - iphone Pallets</a></p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>MOQ: 40</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Origin</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>Canada</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p>&nbsp;</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Category</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>Electronic - Phones</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p>Seller Rating</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Seller</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>(<b class="geo_login">Login for Seller Info</b>)</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr/>
				<div class="row">
                      <div class="col-md-3 col-2" style="text-align: center;">
                          <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                      </div>
                      <div class="col-md-9 col-10">
                          <div class="row common_padding">
                              <div class="col-md-8 col-8">
                                  <p class="wts_header"><a href="#">WTS - iphone Pallets</a></p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>MOQ: 40</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Origin</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>Canada</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p>&nbsp;</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Category</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>Electronic - Phones</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p>Seller Rating</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Seller</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>(<b class="geo_login">Login for Seller Info</b>)</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr/>
				  <div class="row">
                      <div class="col-md-3 col-2" style="text-align: center;">
                          <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                      </div>
                      <div class="col-md-9 col-10">
                          <div class="row common_padding">
                              <div class="col-md-8 col-8">
                                  <p class="wts_header"><a href="#">WTS - iphone Pallets</a></p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>MOQ: 40</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Origin</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>Canada</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p>&nbsp;</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Category</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>Electronic - Phones</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p>Seller Rating</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Seller</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>(<b class="geo_login">Login for Seller Info</b>)</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr/>
				  <div class="row">
                      <div class="col-md-3 col-2" style="text-align: center;">
                          <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                      </div>
                      <div class="col-md-9 col-10">
                          <div class="row common_padding">
                              <div class="col-md-8 col-8">
                                  <p class="wts_header"><a href="#">WTS - iphone Pallets</a></p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>MOQ: 40</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Origin</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>Canada</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p>&nbsp;</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Category</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>Electronic - Phones</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p>Seller Rating</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Seller</p>
                              </div>
                              <div class="col-md-5 col-6">
                                  <p>(<b class="geo_login">Login for Seller Info</b>)</p>
                              </div>
                              <div class="col-md-4 col-3">
                                  <p><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i><i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr/>
				  <div class="row">
                    <div class="col-md-12" style="background-color: #F0F0F0;">
                       <p class="geo_show">Showing <span class="geo_pro"> 1660 products </span></p>
                       <p class="geo_adv">Advanced Search / Filter</p> 
                    </div>
                    </div>
			</div>
			<div class="col-md-9 common_padding1">
						<div id="map" style=""></div>
						<div id="bus_station" class="panel-collapse collapse"></div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRUc1Iw59m5NiV8kBRIwCRl2FFCJluk-g&libraries=places"></script>
<script type="text/javascript">
            var pointA = new google.maps.LatLng(-33.91721, 151.22630);
            var pointB = '';
            var map;
            var infowindow;
            var service;
            var directionsService, directionsDisplay;
            var idref = '';
            $(document).ready(function () {
                $('.accordion-main').click(function () {
                    var accType = $(this).attr('data-marker');
                    idref = $(this).attr('href')
                    $('.accordion-main').each(function (v, k) {
                        $(idref).removeClass('activemarker');
                    });
                    $(idref).addClass('activemarker');

                    initialize([accType]);
//                        console.log('sdfgdsfg');
//                        pointB=new google.maps.LatLng(12.8391219,77.65758319999998);
//                        $(this).attr('data-lat');
//                        $(this).attr('data-lat');
//                        directioninitmap(pointB)
                });
                $('.panel-group').on('click', '.panel-body', function () {
                    console.log($(this).attr('data-lat'));
                    console.log($(this).attr('data-lng'));
                    var lat = parseFloat($(this).attr('data-lat'));
                    var lng = parseFloat($(this).attr('data-lng'));
                    pointB = new google.maps.LatLng(lat, lng);
//                    pointB=new google.maps.LatLng(12.8391219,77.65758319999998);
                    calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);
                });
            });


            function initialize(accType)
            {
                map = new google.maps.Map(document.getElementById('map'), {
                    mapTypeId: google.maps.MapTypeId.HYBRID,
                    center: pointA,
                    zoom: 15
                });
                directionsService = new google.maps.DirectionsService,
                        directionsDisplay = new google.maps.DirectionsRenderer({
                            map: map
                        });
                var request = {
                    location: pointA,
                    radius: 2500,
                    types: accType
                };
                infowindow = new google.maps.InfoWindow();
                service = new google.maps.places.PlacesService(map);
                service.search(request, callback);
            }

            function callback(results, status) {
                if (status == google.maps.places.PlacesServiceStatus.OK) {
                    for (var i = 0; i < results.length; i++) {
                        createMarker(results[i]);
                    }
                }
            }

            function createMarker(place) {
                var placeLoc = place.geometry.location;
                var marker = new google.maps.Marker({
                    map: map,
                    position: place.geometry.location
                });
                var pCord = new google.maps.LatLng(-33.91721, 151.22630);
                var distance = google.maps.geometry.spherical.computeDistanceBetween(pCord, place.geometry.location) / 1000;

                var content = '<p><img src="../img/dell-logo.png" style="width: 50px; height: 50px;"><span style="font-size: 12px;">Dell Canada</span><span class="text_blue_color" style="font-size: 8px;left: 49px;position: absolute;top: 32px;font-weight: bold;">2002 Product Listed</span><span class="text_blue_color" style="font-size: 8px;left: 49px;position: absolute;top: 40px;">Online Payments</span></p><p><img src="../img/iphone.png" style="width: 20px; height: 30px;"> <img src="../img/iphone.png" style="width: 20px; height: 30px;"> <img src="../img/iphone.png" style="width: 20px; height: 30px;"> <img src="../img/iphone.png" style="width: 20px; height: 30px;"> <a href="#">See All</a></p>';
                //var more_content = '<img src="http://googleio2009-map.googlecode.com/svn-history/r2/trunk/app/images/loading.gif"/>';
                //$lihtml = '<div class="panel-body" data-lat="' + placeLoc.lat() + '" data-lng="' + placeLoc.lng() + '">' +
                        '<strong>' + place.name + '</strong><span>' + distance + 'kms</span></div> ';
                //$(idref).append($lihtml);
                //make a request for further details
                service.getDetails({reference: place.reference}, function (place, status)
                {
                    if (status == google.maps.places.PlacesServiceStatus.OK)
                    {
                        more_content = '<span target="details"></span>';

                        if (place.website)
                        {
                            more_content += '<span target="details"></span>';
                        }
                    }
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.setContent(content + more_content);
                    infowindow.open(map, this);
                });
            }

            google.maps.event.addDomListener(window, 'load', function () {
                var type = ['bus_station'];
                $('.accordion-main').each(function (v, k) {
                    type.push($(this).attr('data-marker'))
                })
                initialize(12.838062, 77.649407, type);
            });


            function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
                directionsService.route({
                    origin: pointA,
                    destination: pointB,
                    travelMode: google.maps.TravelMode.DRIVING
                }, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }

        </script>
{{> footer/bottom-footer}}
