<script type="text/javascript">
	$(document).ready(function() {
		$(".its_free_btn").css("cursor", "pointer");
		$('#loadingSpinner').hide();
		var url = window.location.href;
		var base_url = window.location.origin + window.location.pathname;
		var var_id = url.replace(base_url, "")
		if (var_id) {
			$('html, body').animate({
				scrollTop: $(var_id).offset().top
			}, 0);
		}
		$('#userPlanShow').show();
		$('#vendorPlanShow').hide();
		$('#userPlaninfo').hide();
		$('#btnLogin').prop('disabled', true);

		$('#loginInputEmail, #loginInputPassword').keyup(function() {
			if ($('#loginInputEmail').val() != '' && $('#loginInputPassword').val() != '') {
				$('#btnLogin').prop('disabled', false);
			} else {
				$('#btnLogin').prop('disabled', true);
			}
		});

		$('#loginForm').submit(function(event) {
			event.preventDefault();
			$('#loadingSpinner').show();
			auth.login({
				email: $('#loginInputEmail').val(),
				password: $('#loginInputPassword').val()
			}).then(function(user) {
				$('#loadingSpinner').hide();
				socket.emit('user:join', user.id);
				window.location = "/";
			}).catch(function(error) {
				$('#loadingSpinner').hide();
				$('#loginErrorMessage').text(error.responseText);
			});
		});
	});
	function forceSignup() {
		$('#myModal').modal('show');
	}
</script>
{{> header/login-header}}
<div class="login-banner">
    <div class="row no-margins">
        <div class="col-md-6 d-none d-sm-block no-padding">
            <img class="img-fluid" src="../img/signup-hero.jpg" alt="Sign Up" title="Sign Up">
        </div>
        <div class="col-md-6 no-padding">
            <div class="login-right-content">
                <h1>SIGN UP TODAY!</h1>
                <p class="text-primary m-b-xs">Why Setup Anywhere Else? GTC Has it All!</p>
                <small>Access Wholesale Deals, One touch retail buying, Access to service companies; Plumbers to Lawyers, Doctors to Nightclubs!</small>
                <div class="row m-t-sm">
                    <div class="col-md-10 offset-md-0">
                        <div id="signupLog"></div>
                        <div class="signup-box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="signup-left">
                                        <ul>
                                            <li>
                                                <a href="javascript:;" id="gtc-fb-login"><img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook" title="Login with Facebook"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" id="gtc-google-login"><img src="gtc-assets/img/login-google.png" alt="Login with Google" title="Login with Google"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" id="gtc-twitter-login"><img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter" title="Login with Twitter"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" id="gtc-linkedin-login"><img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn" title="Login with LinkedIn"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h2 class="divider-line"><span>OR</span></h2>
                                <div class="col-md-6 signup-right">
                                    <form id="signUpForm" class="form" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group m-b-sm">
                                                    <input type="email" id="inputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border" placeholder="Email" required="true">
                                                </div>
                                                <div class="form-group m-b-sm">
                                                    <input type="text" id="inputFirstname" name="first_name" class="form-control-customized form-control-sm rounded form-control-border" placeholder="First Name" required="true">
                                                </div>
                                                <div class="form-group m-b-sm">
                                                    <input type="password" id="inputPassword" name="password" class="form-control-customized form-control-sm rounded form-control-border" placeholder="Password" required="true">
                                                </div>
                                                <div class="form-group m-b-sm">
                                                    <div class="customCheckbox">
                                                        <input type="checkbox" id="inputTerms" class="customCheckboxInput">
                                                        <label class="checkbox-b" for="inputTerms"></label>
                                                        <small class="m-l-sm font-sm1">Accept terms and conditions</small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" id="btnSignup" class="btn btn-small btn-block btn-danger" disabled="">
                                                        <strong>CREATE ACCOUNT<i id="loadingSpinnersignUp" class="fa fa fa-spinner fa-spin m-l-xs" style="display: none;"></i></strong>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-banner-1 py-4 px-5">
    <div class="container-sm">
        <h1 class="text-center font-weight-normal">Why Use GTC for My Business?</h1>
        <p class="text-center font-weight-normal">GTC removes cross border barriers and we make trade easy, safe and fun! Our amazing, features rich platform giving you the power to buy <strong>sell on a local or globally</strong></p>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="../img/signup-feature-1.png" class="rounded img-fluid" alt="Get Your Profile" title="Get Your Profile">
                    <h5 class="m-t-md text-center font-weight-normal">GET YOUR PROFILE</h5>
                    <small class="text-center font-weight-light">
                        See <strong class="text-m1">deals in real time</strong>, share your experience and reviews via your wall and invite your friends and family to access deals.
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="../img/signup-feature-2.png" class="rounded img-fluid" alt="Get Connected" title="Get Connected">
                    <h5 class="m-t-md text-center font-weight-normal">GET CONNECTED</h5>
                    <small class="text-center font-weight-light">
                        Gain Access to <strong class="text-m3">Wholesale Deals, Retail Shopping, Local Service Providers and subscription based companies</strong> for the best deals either Local or Global - All with a click!
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="../img/signup-feature-3.png" class="rounded img-fluid" alt="Get Started" title="Get Started">
                    <h5 class="m-t-md text-center font-weight-normal">GET STARTED</h5>
                    <small class="text-center font-weight-light">
                        <a href="#">Sign up</a> is easy and quick - Join GTC today and be set up in <strong class="text-m4">just a matter of minutes!</strong>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-banner-2 py-4 px-5 d-flex">
    <div class="container-sm justify-content-center align-self-center">
        <div class="row">
            <div class="col-md-5 offset-md-6">
                <h1 class="font-weight-light">It's free and easy to get started.</h1>
                <small class="font-weight-normal d-block">Create your profile and within minutes access GTC tools to help grow your. Get direct access to daily, relevant offers</small>
                <button class="btn btn-small m-t font-weight-bold btn-red">BUILD YOUR STORE NOW</button>
            </div>
        </div>
    </div>
</div>
<div class="login-banner-3 py-4 px-5 d-flex">
    <div class="container-sm justify-content-center align-self-center">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <h1 class="font-weight-light">Unprecedented exposure on a global platform.</h1>
                <small class="font-weight-normal d-block">No matter what your industry, the GTC platform enables you to advertise services, post product catalogues, sell offers on the global stage.</small>
                <button class="btn btn-small m-t font-weight-bold btn-red">BUILD YOUR STORE NOW</button>
            </div>
        </div>
    </div>
</div>
{{> plan-detail}}
{{!-- <section>
    <div class="jumbotron text-center which_pkg_test" style="margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="quote_p">"</p>
                    <p class="quote_pp">"This is by far the easiest, cleanest and robust marketplace we have used yet the web"</p>
                    <p class="quote_ppp">- Allen P.- Com Tech America</p>

                </div>
                <div class="col-md-3">
                    <p class="quote_p">"</p>
                    <p class="quote_pp">We are members of many network sites, but none offer a platform even close to Global Trade Connect.com. We will be cancelling many memberships and focusion on growing our e-commerce digital warehouse with GTC"</p>
                    <p class="quote_ppp">- Jessica S. - Tech Solutions Inc.</p>
                </div>
                <div class="col-md-3">
                    <p class="quote_p">"</p>
                    <p class="quote_pp">Our company has expanded it's into many markets and have been able to focus on growth. GTC gave us the tools and exposure to ensure longevity and growth"</p>
                    <p class="quote_ppp">- Rishi P - Globe Metal Industries</p>
                </div>
                <div class="col-md-3">
                    <p class="quote_p">"</p>
                    <p class="quote_pp">GlobalTradeConnect.com has allowed our company to buy and sell internationally with ease".</p>
                    <p class="quote_ppp">- Amihan H. - DotCom Goods LLC"</p>
                </div>
            </div>
        </div>
    </div>
</section> --}}
<div class="login-banner-5 py-4 px-5 d-flex">
    <div class="container-sm justify-content-center align-self-center text-center">
        <h1 class="font-weight-normal">Want to Try Your Inventory on GTC?</h1>
        <small class="d-block font-weight-light">Start a 7-day trail of all Global Trade Connect's buyers features, claim your personal GTC Website Address.</small>
        <button class="btn btn-small m-t font-weight-bold btn-red">START A FREE TRIAL</button>
    </div>
</div>
<div class="login-banner-6 py-5">
    <div class="gtc-container">
        <h2 class="text-center font-weight-normal">FREQENTLY ASKED QUESTIONS</h2>
        <div class="row m-t-md">
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question1" aria-expanded="false" aria-controls="question1">
                    <span class="float-left m-r symbol-q">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">Can I get a unique name and URL to promote my Store?</span>
                </div>
                <div class="collapse bg-gray" id="question1">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question2" aria-expanded="false" aria-controls="question2">
                    <span class="float-left m-r symbol-q">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">What kind of SEO & Marketing tools do you offer?</span>
                </div>
                <div class="collapse bg-gray" id="question2">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question3" aria-expanded="false" aria-controls="question3">
                    <span class="float-left m-r symbol-q">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">Can I syncronize my GTC wholesale inventory with my current website inventory?</span>
                </div>
                <div class="collapse bg-gray" id="question3">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question4" aria-expanded="false" aria-controls="question4">
                    <span class="float-left m-r symbol-q">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">What level of support do i get with my subscription?</span>
                </div>
                <div class="collapse bg-gray" id="question4">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question5" aria-expanded="false" aria-controls="question5">
                    <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">What sales and accounting reports do you offer?</span>
                </div>
                <div class="collapse bg-gray" id="question5">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question6" aria-expanded="false" aria-controls="question6">
                    <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">Do you have an app?</span>
                </div>
                <div class="collapse bg-gray" id="question6">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question7" aria-expanded="false" aria-controls="question7">
                    <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">Can I get a unique name and URL to promote my Store?</span>
                </div>
                <div class="collapse bg-gray" id="question7">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question8" aria-expanded="false" aria-controls="question8">
                    <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">What kind of SEO & Marketing tools do you offer?</span>
                </div>
                <div class="collapse bg-gray" id="question8">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question9" aria-expanded="false" aria-controls="question9">
                    <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">Can I syncronize my GTC wholesale inventory with my current website inventory?</span>
                </div>
                <div class="collapse bg-gray" id="question9">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question10" aria-expanded="false" aria-controls="question10">
                    <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">What level of support do i get with my subscription?</span>
                </div>
                <div class="collapse bg-gray" id="question10">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question11" aria-expanded="false" aria-controls="question11">
                    <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">What sales and accounting reports do you offer?</span>
                </div>
                <div class="collapse bg-gray" id="question11">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a justify-content-center align-self-center">A</span>
                        <span class="float-right card-text justify-content-center align-self-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
            <div class="card col-md-4 no-padding d-inline-table">
                <div class="card-body cursor d-flex" data-toggle="collapse" data-target="#question12" aria-expanded="false" aria-controls="question12">
                    <span class="float-left m-r symbol-q justify-content-center align-self-center">Q</span>
                    <span class="float-right card-text justify-content-center align-self-center">Do you have an app?</span>
                </div>
                <div class="collapse bg-gray" id="question12">
                    <div class="card-body d-flex">
                        <span class="float-left m-r symbol-a">A</span>
                        <span class="float-right card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non magna aliquet, commodo quam sed, dignissim quam. Praesent at risus libero.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fadeadd-to-bag" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" align="center">
			<div class="row">
				<div class="col-md-12">
					<div class="row geo_bgimg1">
						<div class="row">
							<div class="col-md-12 offset-md-0">
								<h1>LIKE WHAT YOU SEE?</h1>
								<p class="modal_sign text-center">Sign Up &amp; Access Your Wholesale Marketplace.</p>
								<p class="modal_why_geo_p">If you' d like uniterupted access to our wholesale marketplace, we need you to
									create an
									account with Global Trade Connect
								</p>
							</div>
						</div>
						<div class="gtc-container banner-padding">
							<div class="home-banner-right">
								<div class="row">
									<div class="col-md-12 offset-md-0">
										<div class="signup-box">
											<div class="col-md-6 offset-md-6">
												<small id="modelSignUpErrorLog" class="error"></small>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="signup-left">
														<ul>
															<li>
																<a id="modal-gtc-fb-login">
																	<img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook" title="Login with Facebook">
																</a>
															</li>
															<li>
																<a id="modal-gtc-google-login">
																	<img src="gtc-assets/img/login-google.png" alt="Login with Google" title="Login with Google">
																</a>
															</li>
															<li>
																<a id="modal-gtc-twitter-login">
																	<img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter" title="Login with Twitter">
																</a>
															</li>
															<li>
																<a id="modal-gtc-linkedin-login">
																	<img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn" title="Login with LinkedIn">
																</a>
															</li>
															<li>
																<div class="form-group" style="padding:4px">
																	<p class="modal_sign">Already have a Account?</p>
																	<button type="submit" onclick="window.location.href='/login'" id="modelBtnLogin" class="btn btn-small btn-success">
																		<strong>LOGIN</strong>
																	</button>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<h2 class="divider-line" style="z-index:1"><span class="text-black">OR</span></h2>
												<div class="col-md-6 signup-right">
													<form id="modelSignUpForm" class="form">
														<div class="row">
															<div class="col">
																<div class="form-group m-b-xs">
																	<input type="email" id="modelInputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="Email" required="true">
																</div>
																<div class="form-group m-b-xs">
																	<input type="text" id="modelInputFirstname" name="first_name" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="First Name" required="true">
																</div>
																<div class="form-group m-b-xs">
																	<input type="password" id="modelInputPassword" name="password" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="Password" required="true">
																</div>
																<div class="form-group">
																	<input type="checkbox" id="modelInputTerms" name="input_terms" required="true">
																	<small>Accept terms and conditions</small>
																</div>
																<div class="form-group">
																	<button type="submit" id="modelBtnSignup" class="btn btn-small btn-block btn-danger">
																		<strong>CREATE ACCOUNT</strong>
																	</button>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{> footer/bottom-footer}}