<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81q1ljfijajynj
    authorize: false
</script>
<script src="js/`.js"><{{!}}</script>

<script type="text/javascript">
    // const auth = Auth();

    $(document).ready(function() {
   // var socket = io();
        $('#btnLogin').prop('disabled', true);

        $('#loginInputEmail, #loginInputPassword').keyup(function() {
            if ($('#loginInputEmail').val() != '' && $('#loginInputPassword').val() != '') {
                $('#btnLogin').prop('disabled', false);
            } else {
                $('#btnLogin').prop('disabled', true);
            }
        });

        $('#loginForm').submit(function(event) {
            event.preventDefault();

            auth.login({
                email: $('#loginInputEmail').val(),
                password: $('#loginInputPassword').val()
            }).then(function(user) {
                socket.emit('user:join', user);
                //emitSocket.userJoin(user);
               // console.log("socket io working", emitSocket);
                window.location = "/";
            }).catch(function(error) {
                $('#loginErrorMessage').text(error.responseText);
            });
        });
    });
</script>

{{> header/login-header}}

<section class="signup_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="row geo_bgimg1">
                    <h1 class="sign_up_td"style="font-size:52px">SIGN UP TODAY!</h1>
                    <p class="why_geo_p1">Why Setup Anywhere Else? GTC Has It All!</p>
                    <p class="why_geo_p">Access Wholesale Deals, One touch retail buying, Access to service companies; Plumbers to Lawyers, Doctors to Nightclubs!</p>
                    <div class="col-md-6 offset-md-4">
                        <small id="signUpErrorLog" class="error"></small>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a id="gtc-fb-login">
                                <img src="../img/login-facebook.png" alt="facebook" style="margin-bottom: 5px; width: 100%;" />
                            </a>
                            <a id="gtc-google-login">
                                <img src="../img/login-google.png" alt="facebook" style="margin-bottom: 5px;width: 100%;" />
                            </a>
                            <a id="gtc-twitter-login">
                                <img src="../img/login-twitter.png" alt="facebook" style="margin-bottom: 5px;width: 100%;" />
                            </a>
                            <a id="gtc-linkedin-login">
                                <img src="../img/login-linkedin.png" alt="facebook" style="margin-bottom: 5px;width: 100%;" />
                            </a>
                        </div>
                    
                        <div class="col-md-1">
                            <h2 class="divider-line" style="z-index:1">
                                <span class="text-black">OR</span>
                            </h2>
                    
                        </div>
                       
                        <div class="col-md-6">
                            <form id="signUpForm" method="post">
                                <div id="signUpErrorLog"></div>
                    
                                <input type="email" id="inputEmail" name="email" class="acc_textbox " placeholder="Email" required="true">
                                <input type="text" placeholder="First name" id="inputFirstname" name="first_name" class="acc_textbox">
                                <input type="password" placeholder="Password" id="inputPassword" name="password" class="acc_textbox">
                                <br/>
                                <input type="checkbox" id="inputTerms" name="input_terms" required="true"> Accept terms and conditions
                                <button type="submit" id="btnSignup" class="acc_button btn">CREATE ACCOUNT</button>
                                <br>
                            </form>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
</div>
</section>

<div class="jumbotron text-center why_use_gtc_my_bus" style="margin-bottom: 0px;">
    <h1>Why Use GTC for My Business?</h1>
    <p>GTC removes cross border barriers and we make trade easy, safe and fun! Our amazing, feature rich platform giving you the power to buy and <b>sell on a local level or globally.</b></p>
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-4 signup_global1">
                <div class="why_pws">
                    <p> <img src="../img/signup-feature-1.png" style="width: 100%;"/></p>
                    <h6>GET YOUR PROFILE</h6>
                    <p>See <span class="why_pws_span">deals in real time</span>. Share your experience and reviews via your wall and invite your friends and family to access deals. </p>
                </div>
            </div>
            <div class="col-md-4 signup_global1">
                <div class="why_pws">
                    <p><img src="../img/signup-feature-2.png" style="width: 100%;"/> </p>
                    <h6>GET CONNECTED </h6>
                    <p>Gain Access to <span class="why_pws3_span">Wholesale Deals, Retail Shopping, Local Service providers and subscription based companies</span> for the best deals either Local or Global - All with a click!</p>   
                </div>
            </div>
            <div class="col-md-4 signup_global1">
                <div class="why_pws">
                    <p><img src="../img/signup-feature-3.png" style="width: 100%;"/> </p>
                    <h6>GET STARTED </h6>
                    <p><a href="#" class="why_pws4_span">Sign up</a> is easy quick-Join GTC today and be set up in <span class="why_pws4_span">just a matter of minutes!</span> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="signup_highlight">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 its_free">
                <h1>It's free and easy to get started.</h1>
                <p class="why_geo_p">Create your profile and within minutes access GTC tools to help grow your business. Get direct access to daily, relevant offers. </p>
                <input type="submit" value="BUILD YOUR STORE NOW" class="its_free_btn" />
            </div>
        </div>
    </div>
</section>

<section class="signup_highlight_1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 its_free1" style="">
                <h1>Unprecedented exposure on a global platform.</h1>
                <p class="why_geo_p">No matter what your industry, the GTC platform enables you to advertise services, post product catalogues, sell offers on the global stage. </p>
                <input type="submit" value="BUILD YOUR STORE NOW" class="its_free_btn" />
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
</section>               

<section>
    <div class="text-center which_pkg" style="margin-bottom: 0px;">
        <div class="container">
            <h1 class="which_pkg_h1">Which Package Should I Choose?</h1>
            <p class="which_pkg_p">We have a several options to get you started, or dive in with the our most robust offering. </p>
            <div class="row">
                <div class="starter_seller">
                    <p class="starter_seller_p1">STARTER SELLER </p>
                    <h1 class="starter_seller_h1">FREE</h1>
                    <p>Build a GTC profile without the advanced reports, copuons, chat system and SEO support.</p>
                    <p class="starter_seller_list"><i class="fas fa-check"></i> Maximum <b>20 Product</b> Inventory</p>
                    <p class="starter_seller_list"><i class="fas fa-check"></i> Maxmium <b>1 Subscription</b></p>
                    <p class="starter_seller_list"><i class="fas fa-check"></i> <b>Unlimited</b> Transactions Per Month</p>
                    <p class="starter_seller_list"><i class="fas fa-check"></i> Secure <b> Escrow</b> Online Transactions</p>
                    <p class="starter_seller_list"><i class="fas fa-check"></i> <b>Paypal</b> and/or <b>Stripe</b> Payment</p>
                    <p class="starter_seller_list"><i class="fas fa-check"></i> <b>Custom Branded</b> Store Front</p>
                    <p class="starter_seller_list"><i class="fas fa-check"></i> <b>Volume</b> Based Pricing</p>
                    <p class="starter_seller_list"><i class="fas fa-check"></i> <b>Limited</b> Support</p>
                    {{!-- <input type="submit" value="SIGNUP NOW" class="price_signup"> --}}
                    <a class="price_signup btn" href="/vendor-form">SIGNUP NOW</a>
                </div>
                <div class="service_provider">
                    <p class="service_provider_p1">SERVICE PROVIDER </p>
                    <h1 class="service_provider_h1">$30<span style="font-size: 20px;">/MO</span></h1>
                    <p>Market your services to a massive audience for only 10% of subscription sales. </p>
                    <p class="service_provider_list"><i class="fas fa-check"></i> <b>Unlimited</b> Services</p>
                    <p class="service_provider_list"><i class="fas fa-check"></i> <b>Unlimited</b> Transactions Per Month</p>
                    <p class="service_provider_list"><i class="fas fa-check"></i> <b>No Assitinal Fee to</b> Buyers</p>
                    <p class="service_provider_list"><i class="fas fa-check"></i> Secure <b>Escrow</b> Online Transactions</p>
                    <p class="service_provider_list"><i class="fas fa-check"></i> <b>Paypal</b> and/or <b>Stripe</b> Payment</p>
                    <p class="service_provider_list"><i class="fas fa-check"></i> <b>Custom Branded</b> Store Front</p>
                    <p class="service_provider_list"><i class="fas fa-check"></i> <b>Volume</b> Based Pricing</p>
                    <p class="service_provider_list"><i class="fas fa-check"></i> <b>Limited</b> Support</p>
                    <input type="submit" value="SIGNUP NOW" class="price_signup">
                </div>
                <div class="lifestyle_provider">
                    <p class="lifestyle_provider_p1">LIFESTYLE PROVIDER</p>
                    <h1 class="lifestyle_provider_h1">10<sup>%</sup></h1>
                    <p>Expose your subscriptions to a massive audience for only 10% of subscription sales.</p>
                    <p class="lifestyle_provider_list"><i class="fas fa-check"></i> <b>Unlimited</b> Subscriptions</p>
                    <p class="lifestyle_provider_list"><i class="fas fa-check"></i> <b>Unlimited</b> Transactions Per Month</p>
                    <p class="lifestyle_provider_list"><i class="fas fa-check"></i> <b>No Assitinal Fee to</b> Buyers</p>
                    <p class="lifestyle_provider_list"><i class="fas fa-check"></i> Secure <b>Escrow</b> Online Transactions</p>
                    <p class="lifestyle_provider_list"><i class="fas fa-check"></i> <b>Paypal</b> and/or <b>Stripe</b> Payment</p>
                    <p class="lifestyle_provider_list"><i class="fas fa-check"></i> <b>Custom Branded</b> Store Front</p>
                    <p class="lifestyle_provider_list"><i class="fas fa-check"></i> <b>Volume</b> Based Pricing</p>
                    <p class="lifestyle_provider_list"><i class="fas fa-check"></i> <b>Limited</b> Support</p>
                    <input type="submit" value="SIGNUP NOW" class="price_signup">
                </div>
                <div class="public_seller_pg">
                    <p class="public_seller_pg_p1">PUBLIC SELLER PRICING GUIDE </p>
                    <h1 class="public_seller_pg_h1">$99<span style="font-size: 20px;">/MO</span></h1>
                    <p>Our Wholesaler monthly fee carries with it our highest tier access to Global Trade Connect, and all its features including: </p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> up To <b>2000 product</b> inventory</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>Unlimited</b> Services</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>Unlimited</b> Subscriptions</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>Unlimited</b> Transactions Per Month</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> secure <b>Escrow</b> Online Transactions</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>Paypal</b> and/or <b>Stripe</b> Payment Processing</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>Custom Branded</b> Store Front</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>Prefered Advertising</b> Access</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>Volume</b> Based Pricing</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>Geo-Tartgeting</b> to Zero-in Audience</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> Real Time Transaction <b>Analytics</b></p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>24 Hour</b> Dedicated Support</p>
                    <p class="public_seller_pg_list"><i class="fas fa-check"></i> <b>Access To The Buyer Network</b></p>
                    <input type="submit" value="BUILD YOUR STORE NOW" class="price_signup"style="margin-left:30px">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="jumbotron text-center which_pkg_test" style="margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="quote_p">"</p>
                    <p class="quote_pp">"This is by far the easiest, cleanest and robust marketplace we have used yet the web"</p>
                    <p class="quote_ppp">- Allen P.- Com Tech America</p>

                </div>
                <div class="col-md-3">
                    <p class="quote_p">"</p>
                    <p class="quote_pp">We are members of many network sites, but none offer a platform even close to Global Trade Connect.com. We will be cancelling many memberships and focusion on growing our e-commerce digital warehouse with GTC"</p>
                    <p class="quote_ppp">- Jessica S. - Tech Solutions Inc.</p>
                </div>
                <div class="col-md-3">
                    <p class="quote_p">"</p>
                    <p class="quote_pp">Our company has expanded it's into many markets and have been able to focus on growth. GTC gave us the tools and exposure to ensure longevity and growth"</p>
                    <p class="quote_ppp">- Rishi P - Globe Metal Industries</p>
                </div>
                <div class="col-md-3">
                    <p class="quote_p">"</p>
                    <p class="quote_pp">GlobalTradeConnect.com has allowed our company to buy and sell internationally with ease".</p>
                    <p class="quote_ppp">- Amihan H. - DotCom Goods LLC"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="jumbotron text-center want_to_try_gtc">
        <h1>Want to Try Your Inventory on GTC?</h1>
        <p style="font-size: 12px;">Start a 7-day trial of all Global Trade Connect's buyers' features, and claim your personal GTC Website Address.</p>
        <a class="its_free_btn btn" href="/vendor-form">START A FREE TRIAL</a>
        {{!-- <input type="submit" value="START A FREE TRIAL" class="its_free_btn" /> --}}
    </div>
</section>

<section class="custom-accordion">
    <div class="container">
        <div class="row">
            <h3 style="text-align: center;">FREQUENTLY ASKED QUESTIONS</h3>
        </div>
        <div class="row">
            <div class="col-md-4 common_padding1">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample4">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 common_padding1">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample1">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample5">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample2">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample6">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample7" aria-expanded="false" aria-controls="multiCollapseExample3">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample7">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample8" aria-expanded="false" aria-controls="multiCollapseExample4">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample8">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 common_padding1">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample9" aria-expanded="false" aria-controls="multiCollapseExample1">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12"> 
                        <div class="collapse multi-collapse" id="multiCollapseExample9">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample10" aria-expanded="false" aria-controls="multiCollapseExample2">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample10">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample11" aria-expanded="false" aria-controls="multiCollapseExample3">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample11">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#multiCollapseExample12" aria-expanded="false" aria-controls="multiCollapseExample4">
                            <span class="question">Q</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="question-details">Can I get a unique name and URL to promote my Store? </span>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="multiCollapseExample12">
                            <div class="card card-body">
                                <p><span class="answer">A</span> <span class="answer-details">Yes! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at massa at tellus ultricies tristique et at turpis. Cras sed vehicula enim. Cras tristique odio id vestibulum lacinia. In felugiat nibh purus.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer/bottom-footer}}