{{> vendor-header/vendor-header}}
<section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				<div class="col-md-2 showing_categ">
					
					<ul class="list-group list-group-flush">
					  <li class="list-group-item">Reporting</li>
					  <li class="list-group-item">Edit Listing</li>
					  <li class="list-group-item">Edit/Add Coupons</li>
					  <li class="list-group-item">See My Reviews</li>
					  <li class="list-group-item">Store Branding</li>
					  <li class="list-group-item"><b>Notification Settings</b></li>
					  <li class="list-group-item">Social Profiles Settings</li>
					  <li class="list-group-item">Shipping Settings</li>
					  <li class="list-group-item">Subscription Settings</li>
					  <li class="list-group-item">Payment Settings</li>
					  <li class="list-group-item">Get GTC Verified</li>
					  <li class="list-group-item">GTC Talk Settings</li>
					  <li class="list-group-item">GTC Mail Settings</li>
					</ul>
				</div>
				<div class="col-md-8" style="background-color: #fff;">
					<h5 style="padding-top: 20px;">Notification Settings</h5>
					<div class="row">
						<table class="table table-hover">
							<thead>
								<tr>
									<th><input type="checkbox"></th>
									<th>Event</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="checkbox"></td>
									<td><i class="fas fa-check-circle text_green_color"></i> New Order</td>
									<td>Email is sent when a new order is received</td>
								</tr>
								<tr>
									<td><input type="checkbox"></td>
									<td><i class="fas fa-check-circle text_green_color"></i> Cancelled Order</td>
									<td>Email is sent when a customer cance is their order</td>
								</tr>
								<tr>
									<td><input type="checkbox"></td>
									<td><i class="fas fa-check-circle text_green_color"></i> Failed Order</td>
									<td>Email is sent when an order fails to change the customers selected payment method</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle"></p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right"></p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					
				</div>				
			</div>
		</div>
	</div>
</section>