{{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/not-verified-header}}
 <section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-10" style="background-color: #fff;">
					<h5 style="padding-top: 20px;margin-bottom: 40px;">Track Your Order</h5>
						<img src="../../img/iphone.png" alt="iphone" style="width:5%;margin-bottom: 10px;margin-left:16px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_blue_color" style="font-size: 14px; font-weight: bold;">On the Way</span>
						<div class="row">
						<div class="col-md-9">
							<p class="text_blue_color float-right" style="margin: 10px">833 That Street, Calgary, Alberta, Canada, b2s 4ts</p>
							</div>
						</div>
						<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-9">
						<div class="progress">
						  <div class="progress-bar" style="width:70%"></div>
						</div>
						</div>
						</div>
						<div class="row" style="font-size: 11px;">
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-2">
									<p><b>Ordered</b></p>
									<p>10 Dec</p>
									</div>
									<div class="col-md-2">
									<p><b>Shipped</b></p>
									<p>11 Dec</p>
									</div>
									<div class="col-md-8 ">
									<p style="text-align:right !important;"><b>Delivered on 13 Dec</b><br>Delivered on 13 Dec</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-7">
									</div>
									<div class="col-md-5">
										<p class="order_track_ship_det">SHIPMENT DETAILS</p>
										<p class="vend_edit_lists_textstyle1" style="width: 100%">Last update: Wednesday, 13 Dec</p>
										<div class="row" style="padding: 10px">
											<div class="col-md-3">
												<p style="font-size: 12px;">11:30am</p>
											</div>
											<div class="col-md-9">
												<p style="font-size: 12px;">Your Package was delivered</p>
												<div class="row">
													<div class="col-md-3">
														<p class="text_blue_color">Carrier</p>
														<p class="text_blue_color">Tracking#</p>
													</div>
													<div class="col-md-9">
														<p class="text_blue_color">Cintel Courier Canada Inc.</p>
														<p class="text_blue_color">#1700014</p>
														<p class="text_blue_color"><b>View Order Details</b></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>		
			</div>
		</div>
	</div>
</section>
{{> footer/footer}}
