{{> header/top-header LoggedInUser = LoggedInUser}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-12">
				<div class="bg-white privacy-policy-landing">
					<h5 class="m-t-sm landing">GlobalTradeConnect.com(GTC) Privacy Policy</h5>
					<div class="row privacy-policy-content">
						<div class="col-md-12">
							<p>By visiting GlobalTradeConnect.com, you are accepting the practices described in this Privacy Policy. </p><br/>
							<p>Table of Contents</p>
							<br/>
							<p>A. PERSONAL INFORMATION</p>
							<p>B. COOKIES</p>
							<p>C. DOES GTC SHARE THE INFORMATION IT RECEIVES?</p>
							<p>D. SECURITY</p>
							<p>E. THIRD-PARTY ADVERTISERS AND LINKS TO OTHER WEBSITES</p>
							<p>F. INTEREST-BASED ADS POLICY</p>
							<p>G. ADVERTISING PREFERENCES</p>
							<p>H. WHICH INFORMATION CAN I ACCESS?</p>
							<p>I. USE OF GTC BY MINORS?</p>
							<p>J. CONDITIONS OF USE, NOTICES AND REVISIONS</p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">A. PERSONAL INFORMATION</strong>
							<br/><br/>
							<p>Maintaining confidentiality is important to us and as such, this Privacy Policy shall provide guidelines to abide by.  The information we learn from customers helps us personalize and continually improve your experience while on our site. Here are the types of information we gather. Type of information we gather includes but is not limited to the following;</p>
							<p>
								<li>
								<strong style="color: #4a90e2!important;"><i>Information You Give Us:</i></strong>&nbsp;&nbsp;&nbsp;&nbsp;We receive and store any information you enter on our Web site or provide in any other way. You can choose not to provide certain information, but then you might not be able to take advantage of many of our features. We use the information that you provide for such purposes as responding to your requests, customizing future shopping for you, improving our stores, and communicating with you.
							</li>
							</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>Automatic Information: </i></strong>&nbsp;&nbsp;&nbsp;&nbsp;We receive and store certain types of information whenever you interact with us. For example, like many Web sites, we use "cookies," and we obtain certain types of information when your Web browser accesses GlobalTradeConnect.com or advertisements and other content served by or on behalf of GlobalTradeConnect.com on other Web sites. </p>
								</li>
							</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>Mobile: </i></strong>&nbsp;&nbsp;&nbsp;&nbsp;When you download or use apps created by GlobalTradeConnect or our subsidiaries, we may receive information about your location and your mobile device, including a unique identifier for your device. We may use this information to provide you with location-based services, such as advertising, search results, and other personalized content. Most mobile devices allow you to turn off location services. </p>
								</li>
							</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>E-mail Communications: </i></strong>&nbsp;&nbsp;&nbsp;&nbsp;To help us make e-mails more useful and interesting, we often receive a confirmation when you open e-mail from GlobalTradeConnect.com if your computer supports such capabilities. We also compare our customer list to lists received from other companies, in an effort to avoid sending unnecessary messages to our customers. </p>
								</li>
							</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>Information from Other Sources: </i></strong>&nbsp;&nbsp;&nbsp;&nbsp;We might receive information about you from other sources and add it to our account information. </p>
								</li>
							</p>
							<p>
								<li>email address, physical contact information, and financial information, such as credit card or bank account numbers;</li>
							</p>
							<p>
								<li>transactional information based on your activities on the sites; </li>
							</p>
							<p>
								<li>shipping, billing and other information you provide to purchase or ship an item; </li>
							</p>
							<p>
								<li>online discussions, chats, dispute resolution, correspondence through our site, and correspondence sent to us;</li>
							</p>
							<p>
								<li>additional information we ask you to submit to authenticate yourself or if we believe you are violating site policies; </li>
							</p>
							<p>
								<li>other information from your interaction with our sites, services, content and advertising, including computer and connection information, statistics on page views, traffic to and from the sites, ad data, IP address and standard web log information and;</li>
							</p>
							<p>
								<li>other supplemental information from third parties (for example, if you incur a debt to GlobalTradeConnect.com, we may conduct a credit check by obtaining additional information about you from a credit bureau, as permitted by law).</li>
							</p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">B. COOKIES</strong>
							<br/><br/>
							<p>GlobalTradeConnect.com uses "cookies" on certain pages to help evaluate our web site flow; modify our services, content and promotions; and access registration information. Cookies from third party websites may be encountered via your access of GlobalTradeConnect.com.  GlobalTradeConnect.com does not control any third party websites.</p>
							<p>
								<li>
									Cookies are unique identifiers that we transfer to your device to enable our systems to recognize your device and to provide features, personalized advertisements on other Web sites (e.g., GlobalTradeConnect Associates with content served by GlobalTradeConnect.com and Websites, and storage of items in your Shopping Cart between visits. 
								</li>
							</p>
							<p>
								<li>
									The Help feature on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Additionally, you can disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-on's settings or visiting the Web site of its manufacturer. Because cookies allow you to take advantage of some of GlobalTradeConnect.com's essential features, we recommend that you leave them turned on. For instance, if you block or otherwise reject our cookies, you will not be able to add items to your Shopping Cart, proceed to Checkout, or use any GlobalTradeConnect.com products and services that require you to Sign in. 
								</li>
							</p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">C. DOES GTC SHARE THE INFORMATION IT RECEIVES?</strong>
							<br/><br/>
							<p>Information about our customers is an important part of our business, and will not sell it to others. We share customer information only as described below and with subsidiaries GlobalTradeConnect.com controls that either are subject to this Privacy Notice or follow practices at least as protective as those described in this Privacy Notice.</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>Affiliated Businesses We Do Not Control:</i></strong>&nbsp;&nbsp;&nbsp;&nbsp; We work closely with affiliated businesses. In some cases, such as GTC sellers, these businesses operate stores at GlobalTradeConnect.com or sell offerings to you at GlobalTradeConnect.com. In other cases, we may operate stores, provide services, or sell product lines jointly with these businesses. We share customer information related to those transactions with that third party. 
								</li>
							</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>Third-Party Service Providers:</i></strong>&nbsp;&nbsp;&nbsp;&nbsp;We employ other companies and individuals to perform functions on our behalf. Examples include fulfilling orders, delivering packages, sending postal mail and e-mail, removing repetitive information from customer lists, analyzing data, providing marketing assistance, providing search results and links (including paid listings and links), processing credit card payments, and providing customer service. They have access to personal information needed to perform their functions, but may not use it for other purposes. 
								</li>
							</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>Promotional Offers: </i></strong>&nbsp;&nbsp;&nbsp;&nbsp;Sometimes we send offers to selected groups of GlobalTradeConnect.com customers on behalf of other businesses. When we do this, we do not give that business your name and address. If you do not want to receive such offers, please inform us via writing. 
								</li>
							</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>Business Transfers: </i></strong>&nbsp;&nbsp;&nbsp;&nbsp;As we continue to develop our business, we might sell or buy stores, subsidiaries, or business units. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Policy Notice (unless the customer consents otherwise). Also, in the unlikely event that GlobalTradeConnect.com, Inc., or substantially all of its assets are acquired, customer information will of course be one of the transferred assets. 
								</li>
							</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>Protection of GlobalTradeConnect.com and Others: </i></strong>&nbsp;&nbsp;&nbsp;&nbsp;We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Terms of Service and other agreements; or protect the rights, property, or safety of GlobalTradeConnect.com, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. Obviously, however, this does not include selling, renting, sharing, or otherwise disclosing personally identifiable information from customers for commercial purposes in violation of the commitments set forth in this Privacy Policy. 
								</li>
							</p>
							<p>
								<li>
									<strong style="color: #4a90e2!important;"><i>With Your Consent:</i></strong>&nbsp;&nbsp;&nbsp;&nbsp;Other than as set out above, you will receive notice when information about you might go to third parties, and you will have an opportunity to choose not to share the information.
								</li>
							</p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">D. SECURITY</strong>
							<br/><br/>
							<p><li>We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input. </li></p>
							<p><li>We reveal only the last four digits of your credit card numbers when confirming an order. Of course, we transmit the entire credit card number to the appropriate credit card company during order processing. </li></p>
							<p><li>It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when finished using a shared computer. GlobalTradeConnect.com will not be liable for any damages caused as a result of anyone else with or without your permission conducting transactions using your User ID/password/personal information. Change your password immediately if you are aware of any compromise of your account.</li></p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">E. THIRD-PARTY ADVERTISERS AND LINKS TO OTHER WEBSITES</strong>
							<br/><br/>
							<p>Our site includes third-party advertising and links to other Web sites. For more information about third-party advertising at GlobalTradeConnect.com, including personalized or interest-based ads, please read our <a href="javascript:;">Interest-Based Ads</a> policy. </p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">F. INTEREST-BASED ADS POLICY</strong>
							<br/><br/>
							<p>On both GlobalTradeConnect.com owned and operated sites and unaffiliated sites, GlobalTradeConnect.com displays interest-based advertising using information you make available to us when you interact with our sites, content, or services. Interest-based ads, also sometimes referred to as personalized or targeted ads, are displayed to you based on information from activities such as purchasing on our sites, visiting sites that contain GlobalTradeConnect.com content or ads, interacting with GlobalTradeConnect.com tools, or using our payment services. In providing interest-based ads, we follow the Self-Regulatory Principles for Online Behavioral Advertising developed by the Digital Advertising Alliance (a coalition of marketing, online advertising, and consumer advocacy organizations). </p>
							<p>Like other online ad networks, we use cookies, web beacons (also known as action tags or single-pixel gifs), and other technologies (collectively, "cookies"). Cookies enable us to learn about what ads you see, what ads you click, and other actions you take on our sites and other sites. This allows us to provide you with more useful and relevant ads. For example, if we know what ads you are shown we can be careful not to show you the same ones repeatedly. We do not associate your interaction with unaffiliated sites with your identity in providing you with interest-based ads. </p>
							<p>We do not provide any personal information to advertisers or to third party sites that display our interest-based ads. However, advertisers and other third-parties (including the ad networks, ad-serving companies, and other service providers they may use) may assume that users who interact with or click on a personalized ad or content are part of the group that the ad or content is directed towards (for example, users in Western Canada who bought or browsed for classical music). Also, some third-parties may provide us information about you (such as the sites where you have been shown ads or demographic information) from offline and online sources that we may use to provide you more relevant and useful advertising. </p>
							<p>Advertisers or ad companies working on their behalf sometimes use technology to serve the ads that appear on our sites directly to your browser. They automatically receive your IP address when this happens. They may also use cookies to measure the effectiveness of their ads and to personalize ad content. We do not have access to or control over cookies or other features that advertisers and third party sites may use, and the information practices of these advertisers and third party websites are not covered by our Privacy Notice or this Interest-Based Ads page. Please contact them directly for more information about their privacy practices. </p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">G. ADVERTISING PREFERENCES</strong>
							<br/><br/>
							<p>GlobalTradeConnect.com offers you choices about receiving interest-based ads from us. You can choose not to receive interest-based ads from GlobalTradeConnect.com. You will still see ads but they will not be personalized. You can also generally opt-out of receiving personalized ads from third party advertisers and ad networks who are members of the Network Advertising Initiative (NAI) or who follow the Digital Advertising Alliance's Self-Regulatory Principles for Online Behavioral Advertising by visiting the opt-out pages on the NAI website and DAA website. </p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">H. WHICH INFORMATION CAN I ACCESS?</strong>
							<br/><br/>
							<p>GlobalTradeConnect.com gives you access to a broad range of information about your account and your interactions with GlobalTradeConnect.com for the limited purpose of viewing and, in certain cases, updating that information. </p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">I. USE OF GTC BY MINORS?</strong>
							<br/><br/>
							<p>GlobalTradeConnect.com does not sell products for purchase by minors. We sell children's products for purchase by adults. If you are under 18, you may use GlobalTradeConnect.com only with the involvement of a parent or guardian. </p>
							<br/>
							<br/>
							<strong style="color: #4a90e2!important;">J. CONDITIONS OF USE, NOTICES AND REVISIONS</strong>
							<br/><br/>
							<p>If you choose to visit GlobalTradeConnect.com, your visit and any dispute over privacy is subject to this Notice and our <a href="javascript:;"> Terms</a> of Use, including limitations on damages, resolution of disputes, and application of the law of the province of Alberta. If you have any concern about privacy at GlobalTradeConnect.com, please contact us with a thorough description, and we will try to resolve it. Our business changes constantly, and our Privacy Policy and the <a href="javascript:;">Terms of Use</a> will change also. We may e-mail periodic reminders of our notices and conditions, but you should check our Web site frequently to see recent changes. Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers. </p>
							<br/>
							<br/>
							<strong>Disclaimer:</strong>
							<br/><br/>
							<p>GlobalTradeConnect.com abides by PIPEDA (Personal Information and Protection of Electronics Documents Act).  We may disclose personal information to respond to legal requirements, enforce our policies, respond to claims that a listing or other content infringes the rights of others, or protect any individual’s rights, property, or safety. Such information will be disclosed in accordance with applicable laws and regulations.  While using GlobalTradeConnect.com’s site to buy and sell products/services.  You explicitly take responsibility of any consequences arising as a result of disclosing your personal information with other members.  GlobalTradeConnect.com does not control privacy policies of third party websites or sellers on the website.  </p>
							<br/><br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{> footer/bottom-footer}}