{{> header/defaultHeader LoggedInUser = LoggedInUser}}
<section>
	<div class="banner_bg">
		<div class="container-fluid banner_bg_menu">
			<div class="">
				<div class="row prfl-wt-txt" style="top: -58px;">
					<div class="col-md-2 common_padding1">
						<a class="navbar-brand float-right" href="javascript:void(0)" style="margin-right: 0px;"><img src="../img/logo/red_roof.png"/></a>
					</div>
					<div class="col-md-6">
						<span class="prf_landing_cmpy">Red Roof Inn</span>
					</div>
				</div>
				<div class="row img-wt-menu">
					<div class="col-md-2">
					</div>
					<div class="col-md-10 common_padding1">
						<nav class="navbar navbar-expand-lg">
							<div class="collapse navbar-collapse" id="navb">
								<!-- Links -->
								<ul class="navbar-nav mr-auto">
									<li class="gtc-follow-img">
										<a href="#"><img src="../img/gtc-verified.png" alt="GTC Verified" style="width: 80px; margin-top: 5px;"/></a>
										<a href="#"><img src="../img/follow.png" alt="Follow" style="width: 80px; margin-top: 5px;"/></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">WHOLESALE</a>
									</li>
									<li class="nav-item" style="background-color: #084681;">
										<a class="nav-link" href="#" style="color: #fff">SHOP</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">SERVICES</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">LIFESTYLE</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">SUPPORT</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
											<i class="fas fa-ellipsis-h"></i>
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit Listings</a>
											<a class="dropdown-item" href="#">Order History</a>
											<a class="dropdown-item" href="#">Edit/Add Coupons</a>
											<a class="dropdown-item" href="#">Reporting</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">See My Reviews</a>
											<a class="dropdown-item" href="#">Store Branding</a>
											<a class="dropdown-item" href="#">Notification Settings</a>
											<a class="dropdown-item" href="#">Social Profile Settings</a>
											<a class="dropdown-item" href="#">Shipping Settings</a>
											<a class="dropdown-item" href="#">Subscription Settings</a>
											<a class="dropdown-item" href="#">Payment Settings</a>
											<a class="dropdown-item" href="#">Get GTC Verified</a>
											<a class="dropdown-item" href="#">GTC Talk Settings</a>
											<a class="dropdown-item" href="#">GTC Mail Settings</a>
										</div>
									</li>
								</ul>
								<form class="form-inline my-2 my-lg-0">
									<input class="form-control mr-sm-2" type="text" placeholder="Search">
									<button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
								</form>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="logged_in_cont" >
		<div class="container">
			<div class="row">
				<div class="col-md-2"  >
					<div class="row profile_logged_in_body2_bg_color_1  " >
						<div class="col-md-5 col-5">
							<p class="profile_logged_in_body2_font_1">joined:</p>
						</div>
						<div class="col-md-7 col-7">
							<p class="jan_style">January 2017</p>
						</div>
					</div>
					<div class="row profile_logged_in_body2_bg_color_1  " >
						<div class="col-md-5 col-5"  >
							<p class="profile_logged_in_body2_font_1">Location:</p>
						</div>
						<div class="col-md-7 col-7"  >
							<p class="profile_logged_in_body2_font_2"><img src="../img/flag-ca.png"> Canada</p>
						</div>
					</div>
					<div class="row profile_logged_in_body2_bg_color_1  " >
						<div class="col-md-5 col-5"  >
							<p class="profile_logged_in_body2_font_1">Catagory:</p>
						</div>
						<div class="col-md-7 col-7"  >
							<p class="profile_logged_in_body2_font_2">Wholesale-Automotive</p>
						</div>
					</div>
					<div class="row profile_logged_in_body2_bg_color_1  " >
						<div class="col-md-5 col-5"  >
							<p class="profile_logged_in_body2_font_1">User Rating:</p>
						</div>
						<div class="col-md-7 col-7"  >
							<p style="margin-bottom: 0px;font-size: 10px;"><i class="fas fa-star" style="color: #CDBE29;"></i><i class="fas fa-star" style="color: #CDBE29;"></i><i class="fas fa-star" style="color: #CDBE29;"></i><i class="fas fa-star" style="color: #CDBE29;"></i><i class="fas fa-star" style="color: #CDBE29;"></i><i class="fas fa-star" style="color: #B8B8BA;"></i><i class="fas fa-star" style="color: #B8B8BA;"></i></p>
							<p class="profile_logged_in_body2_font_2">(Ratings-See All)</p>
						</div>
					</div>

					<div class=" row col-md-12 col-12" style="margin-top: 10px;padding-right: 0px;" >
						<i class="fab fa-facebook-f social_logged"></i>
						<i class="fab fa-youtube social_logged"></i>
						<i class="fab fa-twitter social_logged"></i>
						<i class="fab fa-instagram social_logged"></i>
						<i class="fab fa-linkedin-in social_logged"></i>
						<i class="fab fa-flickr social_logged"></i>
						<p class="profile_logged_in_body2_font_3">Accepted Payment Methods:</p>
						<img width="100%" src="../img/payment-methods.jpg">
						<p class="profile_logged_in_body2_font_1">
							At Hayden Auto,getting your car loan with bad credit or no credit isn't just possible,it's easy!We get Canadians the loans they need to buy a vehicle.
						</p>
					</div>
				</div>
				<div class="col-md-10">
					<div class="row pmp1">
						<div class="col-md-12">
							<h5>PRODUCT REVIEW</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9" style="background-color: #fff;padding-top: 15px;">
							<div class="row">
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-5 col-5 product_iphone_img">
											<img style="width:100%;" src="../img/signup-feature-2.png">
										</div>
										<div class="col-md-7 col-7 product_iphone common_padding1" >
											<p class="product_iphone_header">iPhone Pallets of Interest</p>
											<p class="product_rating">Product Rating</p>
											<p class="product_rating_star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><span class="product_rating_num"> 5.9</span></p>
											<p class="product_rating_header" >Based on 23 Reviews </p>
											<div class="row">
												<div class="col-md-7 col-7">
													<p class="product_rating_star1"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
												</div>
												<div class="col-md-5 col-5 common_padding1">
													<p class="product_rating_1">(7 Rating)</p>
												</div>
												<div class="col-md-7">
													<p class="product_rating_star1"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star" style="color: #B9B9BB;"></i></p>
												</div>
												<div class="col-md-5 common_padding1">
													<p class="product_rating_1">(4 Rating)</p>
												</div>
												<div class="col-md-7">
													<p class="product_rating_star1"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i></p>
												</div>
												<div class="col-md-5 common_padding1">
													<p class="product_rating_1">(3 Rating)</p>
												</div>
												<div class="col-md-7">
													<p class="product_rating_star1"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i></p>
												</div>
												<div class="col-md-5 common_padding1">
													<p class="product_rating_1">(0 Rating)</p>
												</div>
												<div class="col-md-7">
													<p class="product_rating_star1"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i></p>
												</div>
												<div class="col-md-5 common_padding1">
													<p class="product_rating_1">(0 Rating)</p>
												</div>
												<div class="col-md-7">
													<p class="product_rating_star1"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i></p>
												</div>
												<div class="col-md-5 common_padding1">
													<p class="product_rating_1">(2 Rating)</p>
												</div>
												<div class="col-md-7">
													<p class="product_rating_star1"><i class="fas fa-star"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i><i class="fas fa-star" style="color: #B9B9BB;"></i></p>
												</div>
												<div class="col-md-5 common_padding1">
													<p class="product_rating_1">(4 Rating)</p>
												</div>
											</div>           
										</div>             	
									</div>
								</div>
								<div class="col-md-8">
									<div class="row">
										<div class="col-md-8 product_center">
											<p>Showing 1-10 of Reviews</p>
										</div>
										<div class="col-md-4 product_buttion_bg ">
											<button class="product_buttion">Submit Your Own Review</button>
										</div>	
									</div>
									<div class="col-md-12 product_hr" >
										<hr>
									</div>
									<div class="row">
										<div class="col-md-1">
											<i class="fas fa-question-circle review_help_icon"></i>
										</div>
										<div class="col-md-11 product_submit">
											<p class="review_help_title">Submit A Review Of This Product</p>
											<p class="product_submit_para">If you'd like to ask the vendor a specific question about this product, please fill out the following it will be sent directly to the vendor.</p>
											<div class="product_table_bg">
												<div class="row">
													<div class="col-md-10">
														<input class="product_table" type="text" placeholder="Review Title">
													</div>
												</div>
												<div class="row">
													<div class="col-md-10">
														<textarea class="product_table" rows="5" cols="22" placeholder="Tell us about your experiance with this product "></textarea>
													</div>
													<div class="col-md-2">
														<button class="product_buttion_1">Submit</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row col-md-12 showing_categ" style="padding: 6px;margin-top: 10px; margin-bottom: 10px;">
									</div>
									
									<div class="row">
										<div class="col-md-2 product_img">
											<img width="100%" src="../img/coming-soon.png" /> 
										</div>
										<div class="col-md-10 product_great_bg common_padding1"  >
											<p class="product_great">"Great place great food, warm hospitality"</p>
											<p class="product_star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="product_ago"> 3 days ago </span> </p>
											<p class="product_we">We had a conference planned and a snow storm threatened to cancel everything. Prince George staff helped us pull it off, with grace, professionalism and not a blip on anyone's radar. By the end of the conference, most of our attendees had arrived after all and had a fabulous time, Well done folks!</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 product_hr">
											<hr>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-2 product_img">
											<img width="100%" src="../img/coming-soon.png" /> 
										</div>
										<div class="col-md-10 product_great_bg common_padding1"  >
											<p class="product_great">"Great place great food, warm hospitality"</p>
											<p class="product_star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="product_ago"> 3 days ago </span> </p>
											<p class="product_we">We had a conference planned and a snow storm threatened to cancel everything. Prince George staff helped us pull it off, with grace, professionalism and not a blip on anyone's radar. By the end of the conference, most of our attendees had arrived after all and had a fabulous time, Well done folks!</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 product_hr">
											<hr>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-2 product_img">
											<img width="100%" src="../img/coming-soon.png" /> 
										</div>
										<div class="col-md-10 product_great_bg common_padding1"  >
											<p class="product_great">"Great place great food, warm hospitality"</p>
											<p class="product_star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="product_ago"> 3 days ago </span> </p>
											<p class="product_we">We had a conference planned and a snow storm threatened to cancel everything. Prince George staff helped us pull it off, with grace, professionalism and not a blip on anyone's radar. By the end of the conference, most of our attendees had arrived after all and had a fabulous time, Well done folks!</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 product_hr">
											<hr>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-2 product_img">
											<img width="100%" src="../img/coming-soon.png" /> 
										</div>
										<div class="col-md-10 product_great_bg common_padding1"  >
											<p class="product_great">"Great place great food, warm hospitality"</p>
											<p class="product_star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="product_ago"> 3 days ago </span> </p>
											<p class="product_we">We had a conference planned and a snow storm threatened to cancel everything. Prince George staff helped us pull it off, with grace, professionalism and not a blip on anyone's radar. By the end of the conference, most of our attendees had arrived after all and had a fabulous time, Well done folks!</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 product_hr">
											<hr>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2 product_img">
											<img width="100%" src="../img/coming-soon.png" /> 
										</div>
										<div class="col-md-10 product_great_bg common_padding1"  >
											<p class="product_great">"Great place great food, warm hospitality"</p>
											<p class="product_star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="product_ago"> 3 days ago </span> </p>
											<p class="product_we">We had a conference planned and a snow storm threatened to cancel everything. Prince George staff helped us pull it off, with grace, professionalism and not a blip on anyone's radar. By the end of the conference, most of our attendees had arrived after all and had a fabulous time, Well done folks!</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 product_hr">
											<hr>
										</div>
									</div>
{{!-- 									<nav aria-label="Page navigation example">
										<ul class="pagination">
											<li class="page-item"><a class="page-link" href="#">Previous</a></li>
											<li class="page-item"><a class="page-link" href="#">1</a></li>
											<li class="page-item"><a class="page-link" href="#">2</a></li>
											<li class="page-item"><a class="page-link" href="#">3</a></li>
											<li class="page-item"><a class="page-link" href="#">Next</a></li>
										</ul>
									</nav> --}}
									
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 ts1">
									<h6 class="float-left" style="color:#fff;">RELATED PRODUCTS</h6>
								</div>
								<section class="box6" style="margin-bottom: 20px;">
									<div class="container clearfix">
										<div class="row">
											<div class="col-md-4 common_top">
												<div class="row">
													<div class="col-md-3">
														<img src="../img/iphone.png" style="width: 30px; height: 70px;">
													</div>
													<div class="col-md-9">
														<div class="row common_padding">
															<div class="col-md-9">
																<p class="wts_header"><a href="#">iPhone Pallets of Interest</a></p>
															</div>
															<div class="col-md-3">
																<p>MOQ: 40</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Origin</p>
															</div>
															<div class="col-md-6">
																<p>Canada</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Category</p>
															</div>
															<div class="col-md-6">
																<p>Electronic - Phones</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											<div class="col-md-4 common_top">
												<div class="row">
													<div class="col-md-3">
														<img src="../img/iphone.png" style="width: 30px; height: 70px;">
													</div>
													<div class="col-md-9">
														<div class="row common_padding">
															<div class="col-md-9">
																<p class="wts_header"><a href="#">iPhone Pallets of Interest</a></p>
															</div>
															<div class="col-md-3">
																<p>MOQ: 40</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Origin</p>
															</div>
															<div class="col-md-6">
																<p>Canada</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Category</p>
															</div>
															<div class="col-md-6">
																<p>Electronic - Phones</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											<div class="col-md-4 common_top">
												<div class="row">
													<div class="col-md-3">
														<img src="../img/iphone.png" style="width: 30px; height: 70px;">
													</div>
													<div class="col-md-9">
														<div class="row common_padding">
															<div class="col-md-9">
																<p class="wts_header"><a href="#">iPhone Pallets of Interest</a></p>
															</div>
															<div class="col-md-3">
																<p>MOQ: 40</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Origin</p>
															</div>
															<div class="col-md-6">
																<p>Canada</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Category</p>
															</div>
															<div class="col-md-6">
																<p>Electronic - Phones</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-4 common_top">
												<div class="row">
													<div class="col-md-3">
														<img src="../img/iphone.png" style="width: 30px; height: 70px;">
													</div>
													<div class="col-md-9">
														<div class="row common_padding">
															<div class="col-md-9">
																<p class="wts_header"><a href="#">iPhone Pallets of Interest</a></p>
															</div>
															<div class="col-md-3">
																<p>MOQ: 40</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Origin</p>
															</div>
															<div class="col-md-6">
																<p>Canada</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Category</p>
															</div>
															<div class="col-md-6">
																<p>Electronic - Phones</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											<div class="col-md-4 common_top">
												<div class="row">
													<div class="col-md-3">
														<img src="../img/iphone.png" style="width: 30px; height: 70px;">
													</div>
													<div class="col-md-9">
														<div class="row common_padding">
															<div class="col-md-9">
																<p class="wts_header"><a href="#">iPhone Pallets of Interest</a></p>
															</div>
															<div class="col-md-3">
																<p>MOQ: 40</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Origin</p>
															</div>
															<div class="col-md-6">
																<p>Canada</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Category</p>
															</div>
															<div class="col-md-6">
																<p>Electronic - Phones</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											<div class="col-md-4 common_top">
												<div class="row">
													<div class="col-md-3">
														<img src="../img/iphone.png" style="width: 30px; height: 70px;">
													</div>
													<div class="col-md-9">
														<div class="row common_padding">
															<div class="col-md-9">
																<p class="wts_header"><a href="#">iPhone Pallets of Interest</a></p>
															</div>
															<div class="col-md-3">
																<p>MOQ: 40</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Origin</p>
															</div>
															<div class="col-md-6">
																<p>Canada</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Category</p>
															</div>
															<div class="col-md-6">
																<p>Electronic - Phones</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														
													</div>
												</div>
											</div>
										</div>
										
										
										<div class="row">
											<div class="col-md-4 common_top">
												<div class="row">
													<div class="col-md-3">
														<img src="../img/iphone.png" style="width: 30px; height: 70px;">
													</div>
													<div class="col-md-9">
														<div class="row common_padding">
															<div class="col-md-9">
																<p class="wts_header"><a href="#">iPhone Pallets of Interest</a></p>
															</div>
															<div class="col-md-3">
																<p>MOQ: 40</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Origin</p>
															</div>
															<div class="col-md-6">
																<p>Canada</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Category</p>
															</div>
															<div class="col-md-6">
																<p>Electronic - Phones</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											<div class="col-md-4 common_top">
												<div class="row">
													<div class="col-md-3">
														<img src="../img/iphone.png" style="width: 30px; height: 70px;">
													</div>
													<div class="col-md-9">
														<div class="row common_padding">
															<div class="col-md-9">
																<p class="wts_header"><a href="#">iPhone Pallets of Interest</a></p>
															</div>
															<div class="col-md-3">
																<p>MOQ: 40</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Origin</p>
															</div>
															<div class="col-md-6">
																<p>Canada</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Category</p>
															</div>
															<div class="col-md-6">
																<p>Electronic - Phones</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											<div class="col-md-4 common_top">
												<div class="row">
													<div class="col-md-3">
														<img src="../img/iphone.png" style="width: 30px; height: 70px;">
													</div>
													<div class="col-md-9">
														<div class="row common_padding">
															<div class="col-md-9">
																<p class="wts_header"><a href="#">iPhone Pallets of Interest</a></p>
															</div>
															<div class="col-md-3">
																<p>MOQ: 40</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Origin</p>
															</div>
															<div class="col-md-6">
																<p>Canada</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														<div class="row common_padding">
															<div class="col-md-3">
																<p>Category</p>
															</div>
															<div class="col-md-6">
																<p>Electronic - Phones</p>
															</div>
															<div class="col-md-3">
																<p>&nbsp;</p>
															</div>
														</div>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="col-md-3 showing_categ">
							<p><b>FILTER BY CATEGORY</b></p>
							<p class="cat_bg_title_shp">ALL CATEGORIES (293)</p>
							<div class="list-group panel ">
								<a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fas fa-caret-down"></i> <span class="hidden-sm-down">AGRICULTURE(293)</span> </a>
								<div class="collapse" id="menu1">
									<a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Animals(93)</a>
									<a href="#" class="list-group-item" data-parent="#menu1">Aquaculture(93)</a>
									<a href="#" class="list-group-item" data-parent="#menu1">Building Construction(93)</a>
									<a href="#" class="list-group-item" data-parent="#menu1">Fram Machines &amp; Tools(93)</a>
									<a href="#" class="list-group-item" data-parent="#menu1">Flowers &amp; Plants(93)</a>
								</div>
								<a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fas fa-caret-right"></i> <span class="hidden-sm-down">APPAREL &amp; FASHION(293)</span></a>
								<a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fas fa-caret-right"></i> <span class="hidden-sm-down">ELECTRONICS &amp; ELECTRICAL(293) </span></a>
								<a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fas fa-caret-right"></i> <span class="hidden-sm-down">FOOD &amp; BEVERAGE(293)</span></a>
								
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</section>
			{{> footer/footer}}
			<script>
				$(window).scroll(function(){
					$('.sticky-top').toggleClass('scrolled', $(this).scrollTop() > 50);
				});
			</script>
			
		</body>
		</html>