<script>

	var userInfo = {{{ DisplayJSON LoggedInUser }}}
	var productSpecs = {{{DisplayJSON product}}}
	var statusCode = {{{DisplayJSON status}}}

	$(function() {
		$('#review-stars').barrating({
			theme: 'fontawesome-stars'
		});

		$("#gtc-cart-alert").hide();
		$("#gtc-add-to-cart").click(function() {
			$('#gtc-add-to-cart').prop('disabled', true);

			var cartInfo = {};
			cartInfo.product_quantity = $('#product-quantity').val();

			$.ajax({
				type: "POST",
				url: "/api/cart/add-cart/" + productSpecs.id,
				data: cartInfo,
				success: function(res) {
					$('#gtc-add-to-cart').prop('disabled', false);
					if (res && res.message === "SUCCESS") {
						$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
						$('#gtc-cart-alert .cart-message').text(res.message_details)
						$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function() {
							$("#gtc-cart-alert").slideUp(500);
							location.reload();
						});
						console.log(res)
					}
				},
				error: function(error) {
					$('#gtc-add-to-cart').prop('disabled', false);
					if (error) {
						if (error.status === 401)
							return location.href = "/login";

						$('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
						$('#gtc-cart-alert .cart-message').text(error.responseJSON.message + " : " + error.responseJSON.message_details)
						$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function() {
							$("#gtc-cart-alert").slideUp(500);
						});
					}
				}
			});
		});
	});


	$("#reviewForm").validate({
		rules: {
			reviewDetailComment: "required",
			reviewTitle: "required"
		},
		messages: {
			reviewDetailComment: "Please Enter your review Comment",
			reviewTitle: "Please enter your Review title"
		}
	});

	function reviewSubmit(id) {

		let reviewObj = {};

		if (userInfo.email) {
			if ($("#reviewForm").valid()) {
				reviewObj['rating'] = $('#review-stars').val();
				reviewObj['title'] = $('#review-title').val();
				reviewObj['comment'] = $('#review-detail-comment').val();
				reviewObj['product_id'] = parseInt(id);
				reviewObj['user_id'] = parseInt(userInfo.id);
				reviewObj['status'] = 1;

				console.log(reviewObj);

				$.ajax({
					type: "POST",
					url: "/api/reviews",
					data: reviewObj,
					success: function(result) {
						if (result)
							location.reload();
					}
				});
			}
		} else {
			location.href = "/login"
		}
	}

	function wishUpdate() {
		if (userInfo.email) {
			var newObj = {};
			newObj.product_id = productSpecs.id;
			newObj.user_id = userInfo.id;
			if ($('input[name=wishID]').val()) {
				newObj.status = 0;
			} else {
				newObj.status = statusCode.ACTIVE;
			}
			console.log(newObj);
			var queryObj = {};
			queryObj.product_id = productSpecs.id;
			queryObj.user_id = userInfo.id;
			var data = JSON.stringify({
				queryObj: queryObj,
				newObj: newObj
			});
			var newData = {};
			newData.data = data;
			$.ajax({
				type: 'PUT',
				url: '/api/product-view/addOrRemove',
				data: newData,
				success: function(data, text) {
					location.reload();
				},
				error: function(request, status, error) {
					console.log('status', status);
					console.log('error', error);
				}
			});

		} else {
			location.href = "/login"
		}

	}

</script>
<script type="text/javascript">
function compareProduct(e){
	var productSpecs = {{{DisplayJSON product}}}
	var compareData = JSON.parse(sessionStorage.getItem("compareProducts"));
	var len = 0;
	if(compareData){
	len = compareData.length; 
	}else{
		compareData = [];
	}
	if(len==3){
		compareData.splice(0,1);
		compareData.push(productSpecs);
		sessionStorage.setItem("compareProducts", JSON.stringify(compareData));
	}
	if(len<3){
		compareData.push(productSpecs);
		sessionStorage.setItem("compareProducts", JSON.stringify(compareData));
	}
	console.log(compareData)
	console.log(compareData.length)
}
</script>
{{> header/top-header LoggedInUser = LoggedInUser}}
{{> vendor/vendor-header VendorDetail = VendorDetail}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="v-col-2">
				{{> vendor/vendor-left VendorDetail = VendorDetail}}
			</div>
			<div class="v-col-10">
				<span>Hello</span>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}