   {{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/not-verified-header}}
   <section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-10" style="background-color: #fff;">
					<h5 style="padding-top: 20px;">Promote Your Store</h5>
					<div class="row">
						<div class="col-md-4">
							<div class="bg-promote-img">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<h5>CREATE A GTC AD</h5>
											<p>Create a top level advertisement for your store or product, features in all prime positions throughout GTC.</p>
											<a class="btn btn-danger" href="#">GET STARTED</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="bg-promote-img2">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<h5>FEATURE A PRODUCT</h5>
											<p>Choose a product to take preferred placement on the GTC homepage, department pages, and your profile!</p>
											<a class="btn btn-warning" href="#">GET STARTED</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="bg-promote-img3">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<h5>SHARE YOUR STORE!</h5>
											<p>Let everyone know where to buy your products on GTC!</p>
												<div class="row social-img">
													<div class="col-md-1">
														<a href=""><img src="../../img/social-icons/linked-in.png"/></a>
													</div>
													<div class="col-md-1">
														<a href=""><img src="../../img/social-icons/twitter.png"/></a>
													</div>
													<div class="col-md-1">
														<a href=""><img src="../../img/social-icons/facebook.png"/></a>
													</div>
													<div class="col-md-1">
														<a href=""><img src="../../img/social-icons/pintrest.png"/></a>
													</div>
													<div class="col-md-1">
														<a href=""><img src="../../img/social-icons/google.png"/></a>
													</div>
													<div class="col-md-1">
														<a href=""><img src="../../img/social-icons/plus.png"/></a>
													</div>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</section>
{{> footer/footer}}

