{{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/header}}
  <section class="re_return_sect">

        <div class="" style="    padding: 0px 25px;">
            <div class="col-md-12 col-12 return_product_report_bg">
                <div class="row">
                    
					{{> vendor/navbar}}

					<div class="col-md-10 re_pr_re_bd_bg ">
						<div class="col-md-10 col-12 " style="padding: 0px;" >

							<p class="re_return_req">Return Product / Request Refund </p>
							<p class="re_return-fo">If you wish to initiate a return, please review the vendor's return policy below. Returns requests are reviewed and administrated by the vendow in accordance with their policy.</p>
							<p class="re_return_req">Return Status</p>
							<p class="re_return_gre"> This product has been approved for return.<span class="re_return_or">In Review. </span><span class="re_return_re">Rejected.</span></p>
			
							<div class="row">
								<div class="col-md-10 col-12">
							
									<p class="re_return_tha">833 That Street,Calgary, Alberta, canada, b2s4t5</p>
								</div>
								<div class="col-md-10 col-12" >
									<div class="progress">
										<div class="progress-bar" style="width:70%"></div>
									</div>
									   
									<div class="row">
										<div class="col-md-2 col-3" style="padding:0px;">
											<p class="re_return_rr">Request Recieved</p>
											<p class="re_return_de">11&ensp; Dec</p>
										</div>
										<div class="col-md-2 col-3" style="padding:0px;">
											<p class="re_return_rr">Request Approved </p>
											<p class="re_return_de">11&ensp;Dec</p>
										</div>
										<div class="col-md-2 col-2" style="padding:0px;">
											<p class="re_return_rr">Shipped</p>
											<p class="re_return_de">11&ensp; Dec</p>
										</div>
										<div class="col-md-3 col-1" style="padding:0px;"></div>
										<div class="col-md-3 col-3" >
											<p class="re_return_rr1">Delivered on 13 Dec</p>
											<p class="re_return_de1">Delivered on13 Dec</p>
										</div>
									</div> 
								</div> 
								<!--<div class="row">-->
									<div class="col-md-5 col-12">
										<div class="row">
											<div class="col-md-12 col-12">
												<div class="row">
													
													<div class=" col-md-3 col-5  " style="padding: 20px 0px 0px 30px;">
														<img class="re_return_iphone" src="{{item.Product.ProductMedia.[0].url}}"/>
													</div>
													<div class=" col-md-7 col-7 re_return_order" >
														<p class="order-details">Order Details </p>
													</div>
													<div class=" col-md-5 col-5 re_return_ord_tab_di " >
														<p class=" re_return_ord_tab ">Order£</p>
													</div>
													<div class=" col-md-7 col-7 re_return_ord_tab_di " >
														<p class="re_return_ord_tab1 ">9823458792</p>
													</div>
													<div class=" col-md-5 col-5 " >
														<p class=" re_return_ord_tab ">Buyer Name</p>
													</div>
													<div class=" col-md-7 col-7 ">
														<p class="re_return_order1">Urban Abodes LTd</p>
													</div>
													<div class=" col-md-5 col-5" >
														<p class=" re_return_ord_tab ">Seller Name</p>
													</div>
													<div class=" col-md-7 col-7 " >
														<p class="re_return_order1">Hayden Auto</p>
													</div>
													<div class=" col-md-5 col-5">
														<p class=" re_return_ord_tab ">Product</p>
													</div>
													<div class=" col-md-7 col-7 ">
														<p class="re_return_order1">Product Name</p>
													</div>
													<div class=" col-md-5 col-5 " >
														<p class=" re_return_ord_tab ">Quantity</p>
													</div>
													<div class=" col-md-7 col-7 " >
														<p class="re_return_ord_tab1 ">12</p>
													</div>
													<div class=" col-md-5 col-5" >
														<p class=" re_return_ord_tab ">Shipping Service</p>
													</div>
													<div class=" col-md-7 col-7" >
														<p class="re_return_ord_tab1 ">Puralator</p>
													</div>
													<div class=" col-md-5 col-5">
														<p class="re_return_ord_tab ">Transaction Amount</p>
													</div>
													<div class=" col-md-7 col-7 " >
														<p class="re_return_ord_tab1 ">$14,9000,00CAD</p>
													</div>
													<div class=" col-md-5 col-5 " >
														<p class=" re_return_ord_tab ">Fees</p>
													</div>
													<div class=" col-md-7 col-7" >
														<p class="re_return_ord_tab1 ">$185,00CAD</p>
													</div>
													<div class=" col-md-5 col-5 " >
														<p class=" re_return_ord_tab ">Conversion</p>
													</div>
													<div class=" col-md-7 col-7 ">
														<p class="re_return_ord_tab1 ">CAD $0.79 to USD $1.05</p>
													</div>
													<div class=" col-md-5 col-5 ">
														<p class="re_return_ord_tab ">Converted value</p>
													</div>
													<div class=" col-md-7 col-7 " >
														<p class="re_return_ord_tab1 ">$12,900.00USD</p>
													</div>
												</div>          
										
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-12" style="padding: 15px 80px 0px 25px;">
												<button class="re_return_but">REQUEST A RETURN </button>
											</div> 
										</div>
									</div>
									<div class="col-md-1"></div>
									<div class="col-md-4 col-12">
										<div class="row">
											<div class="col-md-12 col-12 ">
												<p class="re_return_ship" > SHIPMENT DETAILS</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-12 ">
												<p class="re_return_last">Last update:Wednesday, 13Dec</p>
											</div>
						
										</div>
						
										<div class="row">
											<div class="col-md-3 col-3">
												<p class="re_return_r1">11:30am</p> 
											</div>
											<div class="col-md-9 col-9">
												<p class="re_return_r1">Your package was delivered.</p>
												<div class="row">
													<div class="col-md-3 col-3">
														<p class="re_return_rr2">Carrier</p>
														<p class="re_return_rr2">Tracking#</p>
													</div>
													<div class="col-md-9 col-9">
														<p class="re_return_rr2">Cintel Courier Canada Inc.</p>
														<p class="re_return_rr2">#1700014</p>
														<p class="re_return_r2"><a href="#"><b>View Order Details</b></a></p>
													</div>
												</div>
											</div>
															
										</div>			
									</div>
																									
									<div class="col-md-12 col-12">
										<div class="row">
											<div class="col-md-8 col-12 ">
												<p class="re_return_ven">***Vendor Name**'s Return Policy</p>
												<p class="re_return_are">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

											</div>
											<div class="col-md-4 col-4">
											</div>
										</div>
									</div>
								<!--</div>-->	
							</div>
						</div>
					</div>
                        <div class="col-md-2 col-2 ">
                            
                        </div>
                </div>
                    <!--<div class="col-md-2 re_pr_re_bd_bg">
                </div>-->
            </div>
                
        </div>
</section>
 	{{> footer/footer}}