{{> vendor-header/vendor-header}}
<section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				<div class="col-md-2 showing_categ">
					
					<ul class="list-group list-group-flush">
					  <li class="list-group-item">Reporting</li>
					  <li class="list-group-item">Edit Listing</li>
					  <li class="list-group-item">Edit/Add Coupons</li>
					  <li class="list-group-item"><b>See My Reviews</b></li>
					  <li class="list-group-item">Store Branding</li>
					  <li class="list-group-item">Notification Settings</li>
					  <li class="list-group-item">Social Profiles Settings</li>
					  <li class="list-group-item">Shipping Settings</li>
					  <li class="list-group-item">Subscription Settings</li>
					  <li class="list-group-item">Payment Settings</li>
					  <li class="list-group-item">Get GTC Verified</li>
					  <li class="list-group-item">GTC Talk Settings</li>
					  <li class="list-group-item">GTC Mail Settings</li>
					</ul>
					
				</div>
				<div class="col-md-8" style="background-color: #fff;">
					<div class="row">
						<div class="col-md-9">
							<h5 style="padding-top: 20px;margin-bottom: 30px">My Reviews</h5>
							<p>Sort by&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Most Recent</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_blue_color">Star Rating</span></p>
							<hr/>
							<div class="row">
								<div class="col-md-2 text-center">
									<img src="../../img/signup-feature-1.png" alt="img" style="width: 60%;"/>
								</div>
								<div class="col-md-6 common_padding1">
									<p style="font-size: 11px;"><span class="text_blue_color">Greg Braun</span> reviewed Hayden Auto - 5star</p>
									<p>November 21, 2016</p>
								</div>
								<div class="col-md-3">
									<p style="font-size: 11px;"><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star" style="color: #B7B7B9"></i><i class="fas fa-star" style="color: #B7B7B9"></i></p>
								</div>
							</div>
							<p style="font-size: 11px;padding-top: 15px;">Great staff. They found me the vehicle i was looking for and it was in my price range too. </p>
							<p style="font-size: 11px;">I couldn't be happier. Thank you Maritima Car Loan and thanks Matt for your professionalism </p>
							<hr/>
							<div class="row">
								<div class="col-md-2 text-center">
									<img src="../../img/signup-feature-1.png" alt="img" style="width: 60%;"/>
								</div>
								<div class="col-md-6 common_padding1">
									<p style="font-size: 11px;"><span class="text_blue_color">Greg Braun</span> reviewed Hayden Auto - 5star</p>
									<p>November 21, 2016</p>
								</div>
								<div class="col-md-3">
									<p style="font-size: 11px;"><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star" style="color: #B7B7B9"></i><i class="fas fa-star" style="color: #B7B7B9"></i></p>
								</div>
							</div>
							<p style="font-size: 11px;padding-top: 15px;">Great staff. They found me the vehicle i was looking for and it was in my price range too. </p>
							<p style="font-size: 11px;">I couldn't be happier. Thank you Maritima Car Loan and thanks Matt for your professionalism </p>
							<hr/>
							<div class="row">
								<div class="col-md-2 text-center">
									<img src="../../img/signup-feature-1.png" alt="img" style="width: 60%;"/>
								</div>
								<div class="col-md-6 common_padding1">
									<p style="font-size: 11px;"><span class="text_blue_color">Greg Braun</span> reviewed Hayden Auto - 5star</p>
									<p>November 21, 2016</p>
								</div>
								<div class="col-md-3">
									<p style="font-size: 11px;"><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star" style="color: #B7B7B9"></i><i class="fas fa-star" style="color: #B7B7B9"></i></p>
								</div>
							</div>
							<p style="font-size: 11px;padding-top: 15px;">Great staff. They found me the vehicle i was looking for and it was in my price range too. </p>
							<p style="font-size: 11px;">I couldn't be happier. Thank you Maritima Car Loan and thanks Matt for your professionalism </p>
							<hr/>
							<div class="row">
								<div class="col-md-2 text-center">
									<img src="../../img/signup-feature-1.png" alt="img" style="width: 60%;"/>
								</div>
								<div class="col-md-6 common_padding1">
									<p style="font-size: 11px;"><span class="text_blue_color">Greg Braun</span> reviewed Hayden Auto - 5star</p>
									<p>November 21, 2016</p>
								</div>
								<div class="col-md-3">
									<p style="font-size: 11px;"><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star" style="color: #B7B7B9"></i><i class="fas fa-star" style="color: #B7B7B9"></i></p>
								</div>
							</div>
							<p style="font-size: 11px;padding-top: 15px;">Great staff. They found me the vehicle i was looking for and it was in my price range too. </p>
							<p style="font-size: 11px;">I couldn't be happier. Thank you Maritima Car Loan and thanks Matt for your professionalism </p>
							<hr/>
							<div class="row">
								<div class="col-md-2 text-center">
									<img src="../../img/signup-feature-1.png" alt="img" style="width: 60%;"/>
								</div>
								<div class="col-md-6 common_padding1">
									<p style="font-size: 11px;"><span class="text_blue_color">Greg Braun</span> reviewed Hayden Auto - 5star</p>
									<p>November 21, 2016</p>
								</div>
								<div class="col-md-3">
									<p style="font-size: 11px;"><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star" style="color: #B7B7B9"></i><i class="fas fa-star" style="color: #B7B7B9"></i></p>
								</div>
							</div>
							<p style="font-size: 11px;padding-top: 15px;">Great staff. They found me the vehicle i was looking for and it was in my price range too. </p>
							<p style="font-size: 11px;">I couldn't be happier. Thank you Maritima Car Loan and thanks Matt for your professionalism </p>
							<hr/>
							<div class="row">
								<div class="col-md-2 text-center">
									<img src="../../img/signup-feature-1.png" alt="img" style="width: 60%;"/>
								</div>
								<div class="col-md-6 common_padding1">
									<p style="font-size: 11px;"><span class="text_blue_color">Greg Braun</span> reviewed Hayden Auto - 5star</p>
									<p>November 21, 2016</p>
								</div>
								<div class="col-md-3">
									<p style="font-size: 11px;"><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star" style="color: #B7B7B9"></i><i class="fas fa-star" style="color: #B7B7B9"></i></p>
								</div>
							</div>
							<p style="font-size: 11px;padding-top: 15px;">Great staff. They found me the vehicle i was looking for and it was in my price range too. </p>
							<p style="font-size: 11px;">I couldn't be happier. Thank you Maritima Car Loan and thanks Matt for your professionalism </p>
							<div class="row">
								<div class="col-md-12">
									<p class="vend_edit_lists_pstyle"></p>
								</div>
							</div>
						</div>
						<div class="col-md-3" style="padding-top: 20px;">
							<p class="list_bg_blue" style="font-size: 11px;margin-bottom: 0px;">4.5 <i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star product_rating_star"></i><i class="fas fa-star" style="color: #B7B7B9"></i><i class="fas fa-star" style="color: #B7B7B9"></i></p>
							<div style="border: 1px solid #E6E6E6; padding: 10px;">
								<p class="text_blue_color" style="font-size: 8px">4.5 of 7 start based on 120 reviews</p>
								<hr/>
								<p class="text_blue_color">5 Stars  <span style="border-bottom: 2px solid #3E78B6; width: 60%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 101</p>
								<p class="text_blue_color">4 Stars  <span style="border-bottom: 2px solid #3E78B6; width: 60%">&nbsp;&nbsp;&nbsp;</span> 3</p>
								<p class="text_blue_color">3 Stars  <span style="border-bottom: 2px solid #3E78B6; width: 60%">&nbsp;&nbsp;&nbsp;</span> 4</p>
								<p class="text_blue_color">2 Stars </p>
								<p class="text_blue_color">1 Stars <span style="border-bottom: 2px solid #3E78B6; width: 60%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 14</p>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</section>