{{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/not-verified-header}}
<section class="showing_categ">
    <div class="row">
        {{> vendor/navbar}}
        <div class="col-md-8 list_bg">
            <h5 class="gtc-title"> Shippingt Settings </h5>
            <select class="payment-selection">
                <option value="base-selection" selected> Base :Location </option>
            </select>
            <label class="base-location" for="lacation">The physical location of your business</label>
            <div class="col-sm-8 all-coutries" style="height: 300px;">
                <h5 class="gtc-title"> Selling Location </h5>
                <p style="float: left;font-size: 10px; padding-right: 50px;">select the countries you are able to sell and ship to:</p>
                <p style="float: left;font-size: 10px;">select the countries you are able to sell and ship to:</p>
                <div class="cuntries">
                    <p class="cuntry-lists">All
                        <span class="up-down-btn"> &#9660;</span>
                    </p>
                    <p class="cuntry-lists">India</p>
                    <p class="cuntry-lists">Australia</p>
                    <p class="cuntry-lists">Canada</p>
                    <p class="cuntry-lists">United States</p>
                    <p class="cuntry-lists">India</p>
                    <p class="cuntry-lists">Australia</p>
                    <p class="cuntry-lists">Canada</p>
                    <p class="cuntry-lists">United States</p>
                    <p class="cuntry-lists">India</p>
                    <p class="cuntry-lists">Australia</p>
                    <p class="cuntry-lists">Canada</p>
                    <p class="cuntry-lists" style=" margin-bottom: 0px">United States
                        <span class="up-down-btn"> &#9650;</span>
                    </p>
                </div>
                <div class="add-remove">
                    <button class="add-btn" type="submit">ADD</button>
                    <br>
                    <button class="remove-btn" type="submit">REMOVE</button>
                </div>
                <div class="cuntries">
                    <p class="cuntry-lists">All
                        <span class="up-down-btn"> &#9660;</span>
                    </p>
                    <p class="cuntry-lists">India</p>
                    <p class="cuntry-lists">Australia</p>
                    <p class="cuntry-lists">Canada</p>
                    <p class="cuntry-lists">United States</p>
                    <p class="cuntry-lists">India</p>
                    <p class="cuntry-lists">Australia</p>
                    <p class="cuntry-lists">Canada</p>
                    <p class="cuntry-lists">United States</p>
                    <p class="cuntry-lists">India</p>
                    <p class="cuntry-lists">Australia</p>
                    <p class="cuntry-lists">Canada</p>
                    <p class="cuntry-lists" style=" margin-bottom: 0px">United States
                        <span class="up-down-btn"> &#9650;</span>
                    </p>
                </div>
            </div>
            <hr style="margin-top: 10px;">
            <p>
                <button class="update-btn" style="padding: 5px 20px;">UPDATE </button>
                <button class="cancel-btn" style="padding: 5px 20px;">CANCEL </button>
            </p>
        </div>

    </div>


</section>
{{> footer/footer}}