 {{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/header}}
<section class="showing_categ">

    <div class="row">
        {{> vendor/navbar}}

        <div class="col-md-8 list_bg" style="    padding: 20px;">
            <h5 class="social_he">Social Profile Settings </h5>
            <p class="social_para"> Here you can connect your various social profiles and have them show up on your profile page. Please include
                those you'd like to feature. </p>
            <div class="row">
                <div class="col-md-1 social_face">
                    Facebook
                </div>
                <div class="col-md-5">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text social_face_1" style=" border-radius: 0px;" id="basic-addon1">
                                <i class="fab fa-facebook-f  "></i>
                            </span>
                        </div>
                        <input type="text" class="form-control social_input" name="username" value="https://www.facebook.com/HadydenAuto/" aria-label="Username"
                            aria-describedby="basic-addon1">

                    </div>

                </div>
                <div class="col-md-4 text_green_color social_check">
                    <i class="fas fa-check-circle"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 social_face">
                    Google+
                </div>
                <div class="col-md-5">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span style="border-radius: 0px;" class="input-group-text social_goo_1" id="basic-addon1">
                                <i class="fab fa-google-plus-g"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control social_input" name="username" value="https://www.instagram.com/brinanormanspa" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>

                </div>
                <div class="col-md-4 text_green_color social_check_1">
                    <i class="fas fa-check-circle"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 social_face">
                    Twitter
                </div>
                <div class="col-md-5">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span style="border-radius: 0px;" class="input-group-text social_twit_1" id="basic-addon1">
                                <i class="fab fa-twitter"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control social_input" name="username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 social_face">
                    LinkedIn
                </div>
                <div class="col-md-5">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span style="border-radius: 0px;" class="input-group-text social_lin_1" id="basic-addon1">
                                <i class="fab fa-linkedin-in"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control social_input" name="username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 social_face">
                    YouTube
                </div>
                <div class="col-md-5">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span style="border-radius: 0px;" class="input-group-text social_you_1" id="basic-addon1">
                                <i class<i class="fab fa-youtube"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control social_input" name="username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 social_face">
                    Instagram
                </div>
                <div class="col-md-5">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span style="border-radius: 0px;" class="input-group-text social_ins_1" id="basic-addon1">
                                <i class="fab fa-instagram"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control social_input" name="username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 social_face">
                    Flickr
                </div>
                <div class="col-md-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span style="border-radius: 0px;" class="input-group-text social_fli_1" id="basic-addon1">
                                <i class="fab fa-flickr"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control social_input" name="username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <hr style="margin-top: 10px" />
            <div class="row">
                <div class="col-md-2">
                    <input class="list_butt_1" type="submit" value="UPDATE" style="padding: 5px 20px;" />
                </div>
                <div class="col-md-6 ">
                    <input class="list_butt_2" type="submit" value="CANCEL" style="padding: 5px 20px;" />
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer/footer}}