{{> header/defaultHeader LoggedInUser = LoggedInUser}}
<!--------------------------Agencies----------------------------->
<div class="container-fluid" style="background-color:#fff;color: #000;">
    <div class="container">
       {{> vendor/header}}
    </div>
</div>

<!--------------------------Reporting Menu-------------------------------->
<section class="re_return_sect showing_categ">
 
   <div class="row">
     <div class="col-md-12 col-12 return_product_report_bg">
       <div class="row">
        
        {{> vendor/navbar}}     
        
        <!-----------------Terms & Conditions------------------------------>
        <div class="col-md-8 col-12 re_pr_re_bd_bg" >
            <p class="re_terms_pa">Terms &amp; Conditions </p>
            <p class="re_terms_pa1">Please enter your stores, return policy, shipping policy and terms of use to be displayed on your stores front-end,and during the checkout process for your users.</p>
            <p class="re_terms_pa">Terms Of Use</p>
            <p class="re_terms_te">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="re_terms_pa">Return Policy</p>
            <p class="re_terms_te">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <p class="re_terms_pa">Shipping Policy</p>
            <p class="re_terms_te">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <hr>
            <p>  <button class="re_terms_but_up">UPDATE</button>&nbsp;<button class="re_terms_but_can">CANCEL</button></p>
        </div>
        <div class="col-md-2 col-2 return_product_report_bg">
        </div>
    </div>
    
</div>

</section>
{{> footer/footer}}