{{> header/defaultHeader LoggedInUser = LoggedInUser}}
  <!--------------------------Hayden Agencies----------------------------->
  <div class="container-fluid" style="background-color:#fff;color: #000;">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-6">
                        <img style="width: 100%" src="../img/test-user.png" alt="test" />
                    </div>
                    <div class="col-md-2 col-6">
                        <h6 style="font-size: 15px; padding-top: 23px;font-family: 'Oswald', sans-serif;">Hayden Agencies Ltd</h6>
                    </div>
                    <div class="col-md-1 common_padding1">
                        <h6 style="font-size: 13px; padding-top: 25px;"><a href="#" style="color: #000;">Wholesale</a></h6>
                    </div>
                    <div class="col-md-1 common_padding1">
                        <h6 style="font-size: 13px; padding-top: 25px;"><a href="#" style="color: #000;">Message</a> <span style="background-color: #BE0B24; color: #fff; padding: 1px;">1</span></h6>
                    </div>
                    <div class="col-md-1 common_padding1">
                        <h6 style="font-size: 13px; padding-top: 25px;"><a href="#" style="color: #000;">Notifications</a> <span style="background-color: #BE0B24; color: #fff; padding: 1px;">4</span></h6>
                    </div>
                    <div class="col-md-2">
                        <h6 style="font-size: 13px; padding-top: 25px;"><a href="#" style="color: #000;">Promote Your Store</a></h6>
                    </div>
                    <div class="col-md-4">
                        <h6 style="font-size: 13px; padding-top: 25px;" class="float-right"><a href="#" style="color: #000;">Support</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

  <!--------------------------Reporting Menu-------------------------------->
  <section class="re_return_sect showing_categ">
  	
        	<div class="row">
              	<div class="col-md-12 col-12 return_product_report_bg">
                	<div class="row">
                    
                    <div class="col-md-2 col-12 return_product_report_bg return_pr_re_pa">
            
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-reports-landing.html">Reporting</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-edit-listings.html">Edit Listing</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-edit-coupon.html">Edit</a>/<a class="return_product_report" href="dashboard-vendor-edit-coupons.html">Add Coupons</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-reviews.html">See My Reviews</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="#">Store Branding</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="notification.html">Notification Settings</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-social-settings.html">Social Profile Settings</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-shipping-settings.html">Shipping Settings</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="#">Subscription Settings</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-payment-settings.html">Payment Settings</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-verification.html">Get GTC Verified</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-GTC-Talk.html">GTC Talk Settings</a></p>
            <p class="return_pr_re_pa1"><a class="return_product_report" href="dashboard-vendor-mail-inbox.html">GTC Mail Settings</a></p>
            <p class="return_pr_re_pa1"><b><a class="return_product_report" href="terms&conditions.html">Terms &amp; Conditions Settings</a></b></p>
            
            
           
            </div>
            <!-----------------Terms & Conditions------------------------------>
                    	<div class="col-md-8 col-12 re_pr_re_bd_bg" >
                        <p class="re_terms_pa">Terms &amp; Conditions </p>
                        <p class="re_terms_pa1">Please enter your stores, return policy, shipping policy and terms of use to be displayed on your stores front-end,and during the checkout process for your users.</p>
                        <p class="re_terms_pa">Terms Of Use</p>
                        <p class="re_terms_te">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="re_terms_pa">Return Policy</p>
                        <p class="re_terms_te">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <p class="re_terms_pa">Shipping Policy</p>
                        <p class="re_terms_te">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <hr>
                      <p>  <button class="re_terms_but_up">UPDATE</button>&nbsp;<button class="re_terms_but_can">CANCEL</button></p>
                    </div>
                    <div class="col-md-2 col-2 return_product_report_bg">
                </div>
                </div>
                
            </div>
    
  </section>
 {{> footer/footer}}