{{> vendor/header}}
<section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8" style="background-color: #fff;">
					<h5 style="padding-top: 20px;margin-bottom: 30px">Profile Settings</h5>
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<img src="../../img/login-facebook.png" style="width: 100%;margin-bottom: 5px;" alt="fb"/>
									<img src="../../img/login-google.png" style="width: 100%;margin-bottom: 5px;" alt="fb"/>
									<img src="../../img/login-twitter.png" style="width: 100%;margin-bottom: 5px;" alt="fb"/>
									<img src="../../img/login-linkedin.png" style="width: 100%;margin-bottom: 30px;" alt="fb"/>
								</div>
								<div class="col-md-6 text-center">
									<img src="../../img/avatar.png" style="width: 70%; " alt="avt"  />
									<p class="text_blue_color">Change Avatar</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p>Account Settings</p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="First Name" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Last Name" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Email" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Password" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Confirm Password" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Email" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-4">
									<p>Billing Address</p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Company" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Address Line 1" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Address Line 2" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Country" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Province/State" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="City" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Postal Code" class="vend_edit_lists_textstyle1" style="width: 80%" />
								</div>
							</div>
							<div class="row" style="margin-bottom: 20px;">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="checkbox"> My Shipping Address is the same as my billing address
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p>Shipping Address</p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Company" class="vend_edit_lists_textstyle1" style="width: 80%" disabled />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Address Line 1" class="vend_edit_lists_textstyle1" style="width: 80%" disabled />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Address Line 2" class="vend_edit_lists_textstyle1" style="width: 80%" disabled />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Country" class="vend_edit_lists_textstyle1" style="width: 80%" disabled />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Province/State" class="vend_edit_lists_textstyle1" style="width: 80%" disabled />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="City" class="vend_edit_lists_textstyle1" style="width: 80%" disabled />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<p></p>
								</div>
								<div class="col-md-8 common_padding1">
									<input type="text" placeholder="Postal Code" class="vend_edit_lists_textstyle1" style="width: 80%" disabled />
								</div>
							</div>
						</div>
					</div>
					
					<hr/>
					<div class="row">
						<div class="col-md-12">
							<input class="list_butt_1" type="submit" value="UPDATE" /> <input class="list_butt_2" type="submit" value="CANCEL" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p class="vend_edit_lists_pstyle"></p>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</section>

<script>
$(window).scroll(function(){
$('.sticky-top').toggleClass('scrolled', $(this).scrollTop() > 50);
});
$('#datepicker').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker').datepicker("setDate", new Date());
</script>
  
  </body>
  </html>
