 {{> header/defaultHeader LoggedInUser = LoggedInUser}}
<section>
	<div class="banner_bg">
		<!--<div class="edit-banner">
                <span><a href="#"><i class="fa fa-edit"></i> Change Cover</a></span>
            </div>-->
		<div class="container-fluid banner_bg_menu">
			<div class="">
				<div class="row prfl-wt-txt" style="top: -60px;">
					<div class="col-md-2 common_padding1">
						<a class="navbar-brand float-right" href="javascript:void(0)" style="margin-right: 0px;">
							<img src="../img/logo/red_roof.png" />
						</a>
					</div>
					<div class="col-md-6 prf-text">
						<span>Hayden Agencies Ltd</span>
						<span>
							<!--<a href="#"><i class="fa fa-edit"></i> Edit Profile</a>-->
						</span>
					</div>
				</div>
				<div class="row img-wt-menu" style="top: 10px;">
					<div class="col-md-2">
					</div>
					<div class="col-md-10 common_padding1">
						<nav class="navbar navbar-expand-lg">
							<div class="collapse navbar-collapse" id="navb">
								<!-- Links -->
								<ul class="navbar-nav mr-auto">
									<li class="gtc-follow-img">
										<a href="#">
											<img src="../img/gtc-verified.png" alt="GTC Verified" style="width: 80px; margin-top: 5px;" />
										</a>
										<a href="#">
											<img src="../img/follow.png" alt="Follow" style="width: 80px; margin-top: 5px;" />
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">WHOLESALE</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">SHOP</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">SERVICES</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">LIFESTYLE</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">DISCUSSION BOARD</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link active_btm_mnu" href="#">ABOUT</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">SUPPORT</a>
									</li>
								</ul>
								<div class="field-search1 form-inline my-2 my-lg-0">
									<input type="search" placeholder="Search My store">
									<div class="right">

										<button>
											<svg xmlns="http://www.w3.org/2000/svg" width="22.6" height="23.6" viewBox="0 0 22.6 23.6">
												<g fill="none" stroke="currentColor" stroke-width="4" stroke-miterlimit="10">
													<circle cx="9.3" cy="9.3" r="7.3"></circle>
													<path d="M14.2 14.6l6.9 7.6"></path>
												</g>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="logged_in_cont">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-12">
					<div class="row profile_logged_in_body2_bg_color_1  ">
						<div class="col-md-5 col-5 ">
							<p class="profile_logged_in_body2_font_1">joined:</p>
						</div>
						<div class="col-md-7 col-7">
							<p class="jan_style">January 2017</p>
						</div>
					</div>
					<div class="row profile_logged_in_body2_bg_color_1  ">
						<div class="col-md-5 col-5 ">
							<p class="profile_logged_in_body2_font_1">Location:</p>
						</div>
						<div class="col-md-7 col-7">
							<p class="profile_logged_in_body2_font_2">
								<img src="../img/flag-ca.png"> Canada</p>
						</div>
					</div>
					<div class="row profile_logged_in_body2_bg_color_1  ">
						<div class="col-md-5 col-5 ">
							<p class="profile_logged_in_body2_font_1">Catagory:</p>
						</div>
						<div class="col-md-7 col-5">
							<p class="profile_logged_in_body2_font_2">Wholesale-Automotive</p>
						</div>
					</div>
					<div class="row profile_logged_in_body2_bg_color_1  ">
						<div class="col-md-5 col-5 ">
							<p class="profile_logged_in_body2_font_1">User Rating:</p>
						</div>
						<div class="col-md-7 col-7">
							<p style="margin-bottom: 0px;">
								<i class="fas fa-star" style="color: #CDBE29;"></i>
								<i class="fas fa-star" style="color: #CDBE29;"></i>
								<i class="fas fa-star" style="color: #CDBE29;"></i>
								<i class="fas fa-star" style="color: #CDBE29;"></i>
							</p>
							<p class="profile_logged_in_body2_font_2">(Ratings-See All)</p>
						</div>
					</div>

					<div class=" row " style="margin-top: 10px;padding-right: 0px;">

						<p class="profile_logged_in_body2_font_3">Accepted Payment Methods:</p>
						<img width="100%" src="../img/payment-methods.jpg">
						<p class="profile_logged_in_body2_font_1">
							At Hayden Auto,getting your car loan with bad credit or no credit isn't just possible,it's easy!We get Canadians the loans
							they need to buy a vehicle.
						</p>
					</div>
				</div>


				<!-------------------------------- about----------------------------------------------------------------------->
				<div class="col-md-10 col-12 about_bg">
					<h3>ABOUT</h3>

					<div class="row">
						<div class="col-md-7 col-12 about_logo">
							<div class="row pr_ab" style="padding-top: 30px;">
								<!--<div class="col-md-1 col-1">
                   					<p class="icon_style_abt"><i class="fas fa-user-circle"></i></p>
                                     <p class=""></p>

                           		</div>-->
								<div class="col-md-9 col-12">
									<p class="about_head">
										<i class="fas fa-user-circle icon_style_abt"></i> 20,304 FOLLOWERS</p>
									<p class="about_para">Followers you may know
										<img class="about_para_logo" src="../img/logo/icon_logo.png">
										<img class="about_para_logo" width="30px" ; src="../img/logo/icon_logo.png">
										<img class="about_para_logo" width="30px" ; src="../img/logo/icon_logo.png">
										<img class="about_para_logo" width="30px" ; src="../img/logo/icon_logo.png">
										<img class="about_para_logo" width="30px" ; src="../img/logo/icon_logo.png">
										<img class="about_para_logo" width="30px" ; src="../img/logo/icon_logo.png">
										<img class="about_para_logo" width="30px" ; src="../img/logo/icon_logo.png">
										<a href="">See all</a>
									</p>

									<p class="about_head">
										<i class="fas fa-info-circle icon_style_abt"></i> SNAPSHOT</p>
									<p class="about_para">We sell vehicles with a simple philosophy. Treat customers the way we want to be treated.</p>
									<p class="about_para">Strategically and centrally located in Dartmouth and serving all of Atlantic Canada, Hayden Agencies has been a
										recurring number one choice for Maritimers' over the the past 30 Years.</p>
									<p class="about_para">Our vehicles are serviced and ready for the road, So whether your shopping for a car, mini-van, truck, boat, or
										equipment Hayden Agencies wants to be your number 1 place to shop for a new to you used vehicle in the Halifax,
										Dartmouth, Sackvile, or anywhere else in the HRM or Atlantic Provinces!</p>
								</div>

							</div>

						</div>
						<div class="col-md-5 col-12 about_logo common_padding1">
							<img width="100%" src="../img/location.png" />

						</div>

					</div>
				</div>

			</div>

		</div>
</section>
{{> footer/footer}}