.col-md-4.bg-white {
    height: 500px;
    overflow-y: scroll;
}
.messager-list {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}
.messager-list li {
    /* border-bottom: 1px solid #eee; */
}
.chat-name {
    height: 62px;
    z-index: 100;
    background-color: #f1f7ee;
    color: #5387b7
}
.messager-list li a {
    position: relative;
    display: block;
    padding: 10px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.vendor-bar-chat-count {
    background-color: #f1143cfc;
    color: white;
    margin-left: 0px;
    padding: 4px;
    border-radius: 50%;
    line-height: 14px;
    font-size: 10px;
}
.msg-receive {
    color: #ff0000;
    margin-left: 13px;
}

.avatar {
    position: relative;
    display: block;
    border-radius: 500px;
    white-space: nowrap;
}
.messager-list li a img {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 0;
}
.avatar img {
    border-radius: 500px;
    width: 100%;
}
.m-r-sm {
    margin-right: 10px!important;
}
.img-circle {
    border-radius: 50%;
}
.messager-list li a .messager-name, .messager-list li a .messager-name:hover {
    color: #777;
}
.messager-list li a .last-messager {
    width: 65%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.messager-list li a .time {
    position: absolute;
    top: 10px;
    right: 8px;
}
.text-muted {
    color: #98a6ad;
}
.messager-list li a .chat-alert {
    position: absolute;
    right: 15px;
    top: 30px;
    font-size: 10px;
    padding: 3px 5px;
}
.online i.on {
    background-color: #27c24c;
}

.online i {
    position: absolute;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
}
.online i.off {
    background-color: #e5eaec;
}
.col-md-8.bg-white {
    height: 500px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}
.bg-white {
    background-color: #fff;
}
.chats-messager {
    background: #f9f9f9;
    padding: 5px 40px 5px 0;
}
.chat-content-body {
    height: 375px; 
    background-color: #ececec;
    overflow-y: auto;}
.chats {
    list-style: none;
    margin: 0;
}
.count {
    background-color: green;
    color: white;
    margin-left: 13px;
    padding: 4px;
    border-radius: 50%;
    height: 20px;
    line-height: 14px;
}
.chats li {
    margin: 15px 0;
}

.chats li img {
    width: 45px;
    height: 45px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}
.chats li.right .chat-body {
    margin-right: 70px;
    box-shadow: 1px -1px 11px 0px rgb(193, 182, 185);
    background-color: #fff;
}
.chats li .chat-body {
    position: relative;
    font-size: 11px;
    padding: 10px;
    border: 1px solid #f1f5fc;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.chat-body {
    padding-bottom: 20px;
}

.chats li .chat-body .header {
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f5fc;
}.primary-font {
    color: #3c8dbc;
}
.chat-box {
    padding: 15px;
    padding-right: 0;
    border-top: 1px solid #eee;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    left: 0;
    bottom: 0;
}

.chats li.left .chat-body {
    margin-left: 70px;
    box-shadow: 1px -1px 11px 0px rgb(193, 182, 185);
    background-color: #fff;
}
.pull-right {
    float: right!important;
}
.pull-left {
    float: left!important;
}