/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
	.nav-menu {
		padding: 0px 16px !important;
		margin-top: -5px;
	}
	.top-icon {
		display: none;
	}
	.top-header-menu ul > li {
		padding: 10px;
	}
	ul.top-menu-list li a {
		padding: 10px;
	}
	.dropdown-menu-list ul li a {
		padding: 2px 15px;
	}
	.top-menu-text {
		display: none !important;
	}
}
/* Smartphones (portrait) ---------- */
@media screen and (max-width: 320px){
    /* styles */
}
/* Smartphones (landscape) ---------- */
@media screen and (min-width: 321px){
    /* styles */
}
/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* styles */
}
/* Tablets, iPads (portrait) ---------- */
@media screen and (min-width: 768px){
    /* styles */
}
/* Tablets, iPads (landscape) ---------- */
@media screen and (min-width: 1024px){
	/* styles */
}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
	/*ul.navbar-nav {
	    width: 100%;
	    display: table;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;   
	}
	ul.navbar-nav li {
	    display: table-cell;
	}*/
	.gtc-top-header {
		margin-left: 19px;
		padding-right: 62px;
		border-bottom-left-radius: 10px;
	}
	.top-header {
		margin-bottom: -26px;
	}
	.col-5x {
	    max-width: 45%;
	    flex: 0 0 45%;
	}
	.col-6x {
	    max-width: 55%;
	    flex: 0 0 55%;
	}
	.gtc-container {
	    max-width: 1236px;
	}
	.gtc-top-header {
		padding-left: 10px;
	}
}
/* Large screens ---------- */
@media screen and (min-width: 1824px){
    /* styles */
}