@media screen and (max-width: 400px) {
    
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .gtc-container {
    	max-width: 1230px;
    }
    .main-nav, .vp-nav {
		display: table;
	}
	ul.main-nav li.nav-item {
		display: table-cell;
	}
	ul.vp-nav li.nav-item {
		display: table-cell;
	}
	.top-header {
		margin-bottom: -26px;
	}
	.col-5x {
	    max-width: 45%;
	    flex: 0 0 45%;
	}
	.col-6x {
	    max-width: 55%;
	    flex: 0 0 55%;
	}
	.gtc-top-header {
		padding-left: 10px;
		margin-left: 19px;
		padding-right: 62px;
		border-bottom-left-radius: 10px;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .gtc-container {
    	max-width: 1715px;
    }
    .main-nav, .vp-nav {
		display: table;
	}
	ul.main-nav li.nav-item {
		display: table-cell;
	}
	.top-header {
		margin-bottom: -26px;
	}
	.col-5x {
	    max-width: 45%;
	    flex: 0 0 45%;
	}
	.col-6x {
	    max-width: 55%;
	    flex: 0 0 55%;
	}
	.gtc-top-header {
		padding-left: 10px;
		padding-right: 96px;
		border-bottom-left-radius: 10px;
	}
}

@media screen and (min-width: 1921px) {
    
}