@media screen and (max-width: 400px) {
    .top-menu-text {
		display: none !important;
	}
	.signup-left ul li a {
		text-align: center;
	}
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    .top-menu-text {
		display: none !important;
	}
	.signup-left ul li a {
		text-align: center;
	}
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    
}

@media screen and (min-width: 1281px) and (max-width: 1375px) {
    .gtc-container {
    	max-width: 1230px;
    }
    .gtc-top-header {
    	margin-right: -11%;
    }
    .main-nav {
		display: table;
	}
	.main-nav .nav-link {
		font-size: 0.75em;
	}
	ul.main-nav li.nav-item {
		display: table-cell;
	}
	.brand-logo, .main-navbar {
		margin-top: 12px;
	}
	.gtc-top-header {
		padding-left: 10px;
		border-bottom-left-radius: 10px;
	}
	.landing {
		margin: 0 150px;
	}
	.signup-left {
		border-right: 3px solid #d98636;
		padding-right: 10px;
	}
	.signup-box .or {
		position: absolute;
	    left: 44.4%;
	    top: 25%;
	    background: #fff;
	    font-size: 0.813em;
	    color: #2178b5;
	}
	.home-banner .banner-padding {
		padding: 17px 0;
	}
	.w-20 {
	  max-width: 20%;
	}
}

@media screen and (min-width: 1376px) and (max-width: 1440px) {
    .gtc-container {
    	max-width: 1293px;
    }
    .gtc-top-header {
    	margin-right: -11%;
    }
    .main-nav {
		display: table;
	}
	.main-nav .nav-link {
		font-size: 0.75em;
	}
	ul.main-nav li.nav-item {
		display: table-cell;
	}
	.brand-logo, .main-navbar {
		margin-top: 12px;
	}
	.gtc-top-header {
		padding-left: 10px;
		border-bottom-left-radius: 10px;
	}
	.landing {
		margin: 0 150px;
	}
	.signup-left {
		border-right: 3px solid #d98636;
		padding-right: 10px;
	}
	.signup-box .or {
		position: absolute;
	    left: 44.4%;
	    top: 25%;
	    background: #fff;
	    font-size: 0.813em;
	    color: #2178b5;
	}
	.home-banner .banner-padding {
		padding: 17px 0;
	}
	.w-20 {
	  max-width: 20%;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .gtc-container {
    	max-width: 1715px;
    }
    .main-nav, .vp-nav {
		display: table;
	}
	.main-nav .nav-link {
		font-size: 13px;
	}
	ul.main-nav li.nav-item {
		display: table-cell;
	}
	.brand-logo, .main-navbar {
		margin-top: 12px;
	}
	.navbar-dark .main-nav .nav-link {
		text-align: center;
	}
	.top-header {
		margin-bottom: -26px;
	}
	.col-5x {
	    max-width: 45%;
	    flex: 0 0 45%;
	}
	.col-6x {
	    max-width: 55%;
	    flex: 0 0 55%;
	}
	.gtc-top-header {
		padding-left: 10px;
		border-bottom-left-radius: 10px;
	}
	.landing {
		margin: 0 150px;
	}
	.signup-left {
		border-right: 3px solid #d98636;
		padding-right: 10px;
	}
	.signup-box .or {
		position: absolute;
	    left: 44.4%;
	    top: 25%;
	    background: #fff;
	    font-size: 0.813em;
	    color: #2178b5;
	}
	.home-banner .banner-padding {
		padding: 17px 0;
	}
	.w-20 {
	  max-width: 20%;
	}
}

@media screen and (min-width: 1921px) {
    
}