.col-1-5 {
	max-width: 20%;
}

.col-2-5 {
	max-width: 40%;
}

.col-3-5 {
	max-width: 60%;
}

.col-4-5 {
	max-width: 80%;
}

.col-5-5 {
	max-width: 100%;
}

.col-1-12 {
	max-width: 8.33%;
}

.col-2-12 {
	max-width: 16.66%;
}

.col-3-12 {
	max-width: 25%;
}

.col-3-8 {
	max-width: 27.77%;
}

.col-4-12 {
	max-width: 33.33%;
}

.col-5-12 {
	max-width: 41.66%;
}

.col-6-12 {
	max-width: 50%;
}

.col-7-12 {
	max-width: 58.33%;
}

.col-8-12 {
	max-width: 66.66%;
}

.col-9-12 {
	max-width: 75%;
}

.col-10-12 {
	max-width: 83.33%;
}

.col-11-12 {
	max-width: 91.66%;
}

.col-12-12 {
	max-width: 100%;
}
.font-xxs {
	font-size: 0.563em;
}
.font-xs {
	font-size: 0.625em;
}
.font-sm1 {
	font-size: 0.688em;	
}
.font-sm2 {
	font-size: 0.75em;
}
.font-md1 {
	font-size: 0.813em;
}
.font-md2 {
	font-size: 0.875em;
}
.font-lg {
	font-size: 1em;
}
.gtc-text-primary {
	color: #336699;
}
.text-m1 {
	color: #daa962;
}
.text-m2 {
	color: #154a80;
}
.text-m3 {
	color: #72ca51;
}
.text-m4 {
	color: #e18fa3;
}
.text-navy {
	color: #1ab394 !important;
}
.text-primary {
	color: #c28005 !important;
}
.text-success {
	color: #1c84c6 !important;
}
.text-info {
	color: #23c6c8 !important;
}
.text-warning {
	color: #f8ac59 !important;
}
.text-danger {
	color: #ed5565 !important;
}
.text-muted {
	color: #888888 !important;
}
.text-lighter {
	font-weight: lighter !important;
}
.text-light-muted {
	color: #949494;
}
.text-sm {
	font-size: 0.688em;
}
.text-normal {
	font-size: 1.4em !important;
}
.input-rounded-border {
	border: 1px solid rgba(0,0,0,.15) !important;
	border-radius: 1rem !important;
	background: #FFFFFF !important;
}
.gray-bg, .bg-muted {
	background-color: #f3f3f4;
}
.bg-lite-blue {
	background: #638ac5;
	color: #fff;
}
.bg-white {
	background: #FFFFFF;
}
.text-wholesale {
	color: #d78636;
}
.text-marketplace-1 {
	color: #d78636 !important;
}
.text-marketplace-2 {
	color: #0f478c;
}
.text-marketplace-3 {
	color: #55b82e;
}
.text-marketplace-4 {
	color: #cb2f2a;
}
.bg-product, .bg {
	background: #6c757d;
	color: #fff;
}
.bg-wholesale, .bg1 {
	background: #d78636;
	color: #fff;
}
.bg-service, .bg3 {
	background: #55b82e;
	color: #FFFFFF;
}
.bg-lifestyle, .bg4 {
	background: #cb2f2a;
	color: #FFFFFF;
}
.bg-topseller {
	background: #4178b1;
	color: #FFFFFF;	
}
.bg-featured-product {
	background: #8bb0dd;
	color: #FFFFFF;		
}
.bg-transparent {
	background: transparent;
}
.bg-shop, .bg2 {
	background: #0f478c;
	color: #fff;
}
.bg-gray {
	background: #ededed !important;
}
.m-t-b-xs {
	margin: 5px 0px;
}
.object-fit {
	object-fit: cover;
}
.w-full {
	width: 100%;
}
.directory-b-b {
	border-bottom: 2px solid #154a7f;
}
.wholesale-b-b {
	border-bottom: 2px solid #d88636;
}
.shop-b-b {
	border-bottom: 2px solid #4178bb;
}
.service-b-b {
	border-bottom: 2px solid #57bc2f;
}
.lifestyle-b-b {
	border-bottom: 2px solid #c92e2a;
}
.products-b-b {
	border-bottom: 2px solid #f6fafc;
}
.directory-menu {
	background: #154a7f !important;
	border-color: #154a7f !important;
	box-shadow: none !important;
}
.wholesale-menu {
	background: #d88636 !important;
	border-color: #d88636 !important;
	box-shadow: none !important;
}
.shop-menu {
	background: #4178bb !important;
	border-color: #4178bb !important;
	box-shadow: none !important;
}
.service-menu {
	background: #57bc2f !important;
	border-color: #57bc2f !important;
	box-shadow: none !important;
}
.lifestyle-menu {
	background: #c92e2a !important;
	border-color: #c92e2a !important;
	box-shadow: none !important;
}
.products-menu {
	background: #f6fafc !important;
	border-color: #f6fafc !important;
	box-shadow: none !important;
}
.products-menu a {
	color: #000 !important;
}
.btn-gtc {
	border-radius: 0 !important;
	background: #fff;
}
.btn-white {
	background: #fff;
}
.btn-gray {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}
.btn-red {
	background-color: #e62345;
	color: #fff;
}
.btn-primary {
	background-color: #d78504;
	border-color: #d78504;
	color: #FFFFFF;
}
.btn-order {
	background-color: #E62246;
	border-color: #E62246;
	color: #FFFFFF;
	position: absolute !important;
	bottom: 0;
	right: 15px;
}
.btn-primary.focus, .btn-primary:focus {
	box-shadow: none;
}
.btn-primary:hover {
	background-color: #f9a025;
	border-color: #f9a025;
	color: #FFFFFF;
}
.btn-small {
	font-size: 11px;
	height: calc(1.8125rem + 2px);
	padding: .25rem 1.3rem !important;
	border-radius: 0;
	font-weight: 400;
}
.button-small {
	font-size: 11px;
	padding: .25rem 1.3rem !important;
	border-radius: 0;
	font-weight: 400;
}
.btn-sm {
	font-size: 0.813em;
	border-radius: 0;
	line-height: 1;
	font-weight: 500;
}
input[name=inputQtyValue]::-webkit-outer-spin-button, 
input[name=inputQtyValue]::-webkit-inner-spin-button {
	-webkit-appearance: inner-spin-button !important;
	opacity: 1;
}
.btn:focus {
	box-shadow: none;
}
.wrapper-content {
	padding: 20px 10px 40px;
}
.table > thead:first-child > tr:first-child > th {
	border-top: 0;
}
.table thead th {
	border-bottom: 0;
}
.cart-inner-table > thead > tr > th{
	padding: 8px 0 !important;
}
.cart-inner-table > tbody > tr > td {
	padding: 8px 0 !important;	
}
.table > thead > tr > th {
	line-height: 1.42857;
	border-bottom: 1px solid #e7eaec;
	border-top: 0;
	padding: 8px;
	font-size: 13px;
	vertical-align: top;
	color: #535353;
	font-weight: bold;
}
.table > tbody > tr > td {
	border-bottom: 1px solid #e7eaec;
	border-top: 0;
	line-height: 1.42857;
	padding: 8px;
	font-size: 12px;
	vertical-align: top;
	font-weight: 400;
}
.rounded {
	border-radius: 1.25rem !important;
}
.form-control-border {
	border: 2px solid #fea534 !important;
}
.fa-circle-bg {
	color: #DDDDDF;
}
.b-b-none {
	border-bottom: none !important;
}
/* GLOBAL  */
.no-padding {
	padding: 0 !important;
}
.no-borders {
	border: none !important;
}
.no-margins {
	margin: 0 !important;
}
.no-top-border {
	border-top: 0 !important;
}
.p-n-r {
	padding-right: 0 !important;
}
.p-n-l {
	padding-left: 0 !important;
}
.gtc-p-l-r {
	padding-left: 25px !important;
	padding-right: 25px !important;
}
/* MARGINS & PADDINGS */
.p-b {
	padding-bottom: 15px;	
}
.p-xxs {
	padding: 5px;
}
.p-xs {
	padding: 10px;
}
.p-sm {
	padding: 15px;
}
.p-m {
	padding: 20px;
}
.p-md {
	padding: 25px;
}
.p-lg {
	padding: 30px;
}
.p-xl {
	padding: 40px;
}
.p-w-xs {
	padding: 0 10px;
}
.p-w-sm {
	padding: 0 15px;
}
.p-w-m {
	padding: 0 20px;
}
.p-w-md {
	padding: 0 25px;
}
.p-w-lg {
	padding: 0 30px;
}
.p-w-xl {
	padding: 0 40px;
}
.p-h-xs {
	padding: 10px 0;
}
.p-h-sm {
	padding: 15px 0;
}
.p-h-m {
	padding: 20px 0;
}
.p-h-md {
	padding: 25px 0;
}
.p-h-lg {
	padding: 30px 0;
}
.p-h-xl {
	padding: 40px 0;
}
.m-xxs {
	margin: 2px 4px;
}
.m {
	margin: 15px;
}
.m-xs {
	margin: 5px;
}
.m-sm {
	margin: 10px;
}
.m-md {
	margin: 20px;
}
.m-lg {
	margin: 30px;
}
.m-xl {
	margin: 50px;
}
.m-n {
	margin: 0 !important;
}
.m-l-none {
	margin-left: 0;
}
.m-l-xs {
	margin-left: 5px;
}
.m-l-sm {
	margin-left: 10px !important;
}
.m-l {
	margin-left: 15px !important;
}
.m-l-md {
	margin-left: 20px;
}
.m-l-lg {
	margin-left: 30px;
}
.m-l-xl {
	margin-left: 40px;
}
.m-l-n-xxs {
	margin-left: -1px;
}
.m-l-n-xs {
	margin-left: -5px;
}
.m-l-n-sm {
	margin-left: -10px;
}
.m-l-n {
	margin-left: -15px;
}
.m-l-n-md {
	margin-left: -20px;
}
.m-l-n-lg {
	margin-left: -30px;
}
.m-l-n-xl {
	margin-left: -40px;
}
.m-t-none {
	margin-top: 0;
}
.m-t-xxs {
	margin-top: 1px;
}
.m-t-xs {
	margin-top: 5px !important;
}
.m-t-sm {
	margin-top: 10px;
}
.m-t {
	margin-top: 15px;
}
.m-t-md {
	margin-top: 20px;
}
.m-t-lg {
	margin-top: 30px;
}
.m-t-xl {
	margin-top: 40px;
}
.m-t-n-xxs {
	margin-top: -1px;
}
.m-t-n-xs {
	margin-top: -5px;
}
.m-t-n-sm {
	margin-top: -10px;
}
.m-t-n {
	margin-top: -15px;
}
.m-t-n-md {
	margin-top: -20px;
}
.m-t-n-lg {
	margin-top: -30px;
}
.m-t-n-xl {
	margin-top: -40px;
}
.m-r-none {
	margin-right: 0;
}
.m-r-xxs {
	margin-right: 1px;
}
.m-r-xs {
	margin-right: 5px;
}
.m-r-sm {
	margin-right: 10px;
}
.m-r {
	margin-right: 15px;
}
.m-r-md {
	margin-right: 20px;
}
.m-r-lg {
	margin-right: 30px;
}
.m-r-xl {
	margin-right: 40px;
}
.m-r-xll {
	margin-right: 45px;
}
.m-r-n-xxs {
	margin-right: -1px;
}
.m-r-n-xs {
	margin-right: -5px;
}
.m-r-n-sm {
	margin-right: -10px;
}
.m-r-n {
	margin-right: -15px;
}
.m-r-n-md {
	margin-right: -20px;
}
.m-r-n-lg {
	margin-right: -30px;
}
.m-r-n-xl {
	margin-right: -40px;
}
.m-b-none {
	margin-bottom: 0;
}
.m-b-xxs {
	margin-bottom: 1px;
}
.m-b-xs {
	margin-bottom: 5px;
}
.m-b-sm {
	margin-bottom: 10px;
}
.m-b {
	margin-bottom: 15px !important;
}
.m-b-md {
	margin-bottom: 20px;
}
.m-b-lg {
	margin-bottom: 30px;
}
.m-b-xl {
	margin-bottom: 40px;
}
.m-b-n-xxs {
	margin-bottom: -1px;
}
.m-b-n-xs {
	margin-bottom: -5px;
}
.m-b-n-sm {
	margin-bottom: -10px;
}
.m-b-n {
	margin-bottom: -15px;
}
.m-b-n-md {
	margin-bottom: -20px;
}
.m-b-n-lg {
	margin-bottom: -30px;
}
.m-b-n-xl {
	margin-bottom: -40px;
}
.space-15 {
	margin: 15px 0;
}
.space-20 {
	margin: 20px 0;
}
.space-25 {
	margin: 25px 0;
}
.space-30 {
	margin: 30px 0;
}
.text-500 {
	font-weight: 500 !important;
}
.text-blue {
	color: #2f5f95 !important;
}
.text-red {
	color: #b01f38 !important;
}
.price-flag {
	color: #1b64aa;
}
.discount-price-flag {
	color: #b12a2b !important;
}
.text-black {
	color: #404041;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #f9a025;
	border-color: #f9a025;
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #f9a025;
	border-color: #f9a025; 
}
.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}
.btn-md {
	font-size: 0.813em;
	font-weight: 500;
	padding: .375rem 1.5rem;
	border: 0;
	border-radius: 0;
}
.btn-md:focus {
	box-shadow: none !important;
}
.header-lg {
	position: relative;
}
.header-lg-text {
	margin-top: 24px;
	font-family: 'Oswald', sans-serif;
}
.header-lg-span {
	margin-top: 24px;
	line-height: 2.9;
	margin-left: 5px;
	float: left;
	font-weight: 300;
	font-size: 16px;
}
.header-lg-text .see-all {
	font-size: 13px;
	color: #fff;
	float: right;
	line-height: 3;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	text-shadow: none;
}
.header-md-text {
	font-weight: lighter;
	font-size: 0.938em; 
	margin-top: 17px;
}
.header-md-text a {
	float: right;
	font-size: 0.813em;
	line-height: 1.6;
	font-weight: 500;
	color: #fcfcf7;
	text-decoration: none;
	text-shadow: none;
}
.marketplace-type-bg {
	background: #4178b1;
	min-height: 43px;
}
.other-marketplace-bg {
	background: #638ac5;
	min-height: 70px; 
}
.marketplace-type-headers {
	margin-top: -43px;
}
.other-marketplace-headers {
	margin-top: -70px; 
}
.wts-header-bg {
	background: #154a80;
	color: #fcfcf7;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header-lg {
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px; 
}
.wtb-header-bg {
	background: #2562a0;
	color: #fcfcf7;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.wtt-header-bg {
	background: #638ac3;
	color: #fcfcf7;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.rfq-header-bg {
	background: #87abd5;
	color: #fcfcf7;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.product-list-body {
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
}
table.shoping-cart-table {
	margin-bottom: 0;
	overflow: hidden;
}
table.shoping-cart-table tr td div.product-middle-col, table.shoping-cart-table tr td:first-child {
	text-align: left;
}
table.shoping-cart-table tr td {
	border: none;
	text-align: right;
}
.product-left-col {
	text-align: center;
	height: 60px;
	overflow: hidden;
	width: 100%;
	background-color: #f8f8f9;
}
.product-left-col img {
	max-width: 100%;
	height: 100%;
}
table.shoping-cart-table tr td div.product-middle-col h3 {
	font-size: 1.063em;
	margin-bottom: 5px;
	display: -webkit-box;
	font-weight: normal;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.shoping-cart-table > tbody > tr > td {
	padding: 5px !important;
}
div.product-middle-col .row {
	font-size: 0.813em;
	font-weight: 400;
	font-family: 'Roboto';
	color: #808080;
	line-height: 1.6;
}
.product-body {
	margin: 10px 0;
}
.p-rating i {
	display: table-cell;
	line-height: 1.6;
	font-weight: 400;
	color: #CDBE29;
	font-size: 0.813em;    
}
.v-rating i {
	display: table-cell;
	line-height: 2.3;
	font-weight: 400;
	color: #CDBE29;
	font-size: 0.813em;    
}
.price {
	font-size: 2em;
	margin-bottom: 0;
	font-weight: 600;
}
.v-num {
	font-family: 'Oswald', sans-serif;
	color: #8bafe1;
}
.v-num span {
	display: inline-block;
	font-weight: bold;
	transform: scale(1, 1.5);
}
.product-right-col {
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	position: relative;
	min-height: 60px;
}
div.product-right-col div.prc-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}
div.product-right-col div.prc-bottom p {
	margin-bottom: 0;
	line-height: 1.6;
	color: #b1b3b5;
	font-size: 0.813em;
}
div.product-right-col h4 {
	font-size: 0.813em;
	margin-bottom: 5px;
	color: #808080;
	line-height: 2.3;
	font-weight: 600;
}
div.product-right-col h2 {
	font-size: 1.2rem;
	margin-bottom: 0;
	line-height: 1;
	font-weight: 600;
}
.search-list-body .product-right-col h2 {
	font-size: 1.5em;
}
.overflow-txt a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	left: 0;
	right: 0;
}
.overflow-txt span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	left: 0;
	right: 0;
}
.overflow-txt:before {
	content: '';
	display: inline-block;
}
.v-col-2 {
	-webkit-box-flex: 0;
	flex: 0 0 15.666667%;
	max-width: 0 0 15.666667%;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.v-col-10 {
	-webkit-box-flex: 0;
	flex: 0 0 84.333333%;
	max-width: 0 0 84.333333%;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.description{
	text-align:justify;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 18px;
	max-height: 32px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}
.img-md {
	width: 64px;
	height: 64px;
}
.rounded-circle {
	border-radius: 50%!important;
}
.feed-activity-list .feed-element {
	border-bottom: 1px solid #e7eaec;
}
.feed-element img.rounded-circle, .dropdown-messages-box img.rounded-circle {
	width: 52px;
	height: 52px;
}
.chat-element .media-body {
	display: block;
	width: auto;
}
.feed-element, .media-body {
	overflow: hidden;
}
.feed-element > a img {
	margin-right: 15px;
}
.feed-element {
	margin-top: 10px;
	padding-bottom: 10px;
}
.media-body {
	-ms-flex: 1;
	flex: 1;
}
.media-body h4.review-title {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0;
	color: #6e98cc;
}
.media-body p.review-comment {
	font-size: 0.813em;
	margin-bottom: 0;
}
#sticky-header {
	position: sticky;
	top: 0;
	z-index: 1020;
}
.input-xs {
	height: 28px;
	padding: .375rem .75rem;
	font-size: 0.75em;
	line-height: 1.5;
	border: 0;
}
.input-rounded {
	border-radius: 1rem !important;
}
.input-b-xs {
	border: 1px solid rgba(0,0,0,.15) !important;
}
.input-border {
	border: 2px solid #f49d3f !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
}
.customCheckbox {
	width: 25px;
	position: relative;
	display: inline;
}
.customCheckboxInput {
	opacity: 0;
}
.customCheckbox label {
	position: absolute;
	cursor: pointer;
	line-height: 18px;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	border: 1px solid rgba(0,0,0,.15) !important;
}
.checkbox-b {
	border: 2px solid #f49d3f !important;
}
.customCheckbox input[type=checkbox] +label::after {
	content: "\2713";
	color: #000;
	text-align: center;
	opacity: 0;
	position: absolute;
	left: 2px;
	font-weight: bold;
}
.customCheckbox input[type=checkbox]:checked +label {
	cursor: pointer;
}
.customCheckbox input[type=checkbox]:checked +label::after {
	opacity: 1;
}
.pagination>li>a,
.pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
.product-right-col img {
	max-width: 65%;
}