<style>
    #productImage {
        cursor: pointer;
    }
</style>
<script>
    function changeCategory(e) {
        $.ajax({
            url: '/api/sub-categories?category_id=' + e.value,
            type: 'GET',
            success: function (result) {
                $("#sub_category").empty();
                for (var i = 0; i < result.rows.length; i++) {
                    var options;
                    options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
                    $("#sub_category").append(options)
                }
            },
            error: function (error) {
                console.log("Error", error);
            }
        });
    }
    function changeCountry(e) {
        $.ajax({
            url: '/api/states?country_id=' + e.value,
            type: 'GET',
            success: function (result) {
                $("#state").empty();
                for (var i = 0; i < result.rows.length; i++) {
                    var options;
                    options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
                    $("#state").append(options)
                }
            },
            error: function (error) {
                console.log("Error", error);
            }
        });
    }

/*function changeMarketplace(e) {
        if (e.value == 1) {
            $.ajax({
                url: '/api/marketplace-types?marketplace_id=' + e.value,
                type: 'GET',
                success: function (result) {
                    $("#type").empty();
                    for (var i = 0; i < result.rows.length; i++) {
                        var options;
                        //if(result.rows[i].id == 1){
                        $('#type, #moq').show();
                        options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
                        console.log("options", options);
                        $("#type").append(options)
                        // } 
                    }
                },
                error: function (error) {
                    console.log("Error", error);
                }
            });
        } else {
            $('#type, #moq').hide();
        }
    }*/
</script>
<script>
    function addProduct(obj, input) {
        $.ajax({
            type: 'POST',
            url: '/api/product/add-product?' + input,
            data: obj,
            success: function (data) {
                $('#gtc-add-to-cart').prop('disabled', false);
                $('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
                $('#gtc-cart-alert .cart-message').text("Product Added Successfully")
                $("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function () {
                    $("#gtc-cart-alert").slideUp(500);
                });
                $("#productForm")[0].reset();

            },
            error: function (error) {
                $('#gtc-add-to-cart').prop('disabled', false);
                $('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
                $('#gtc-cart-alert .cart-message').text("Server Error")
                $("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function () {
                    $("#gtc-cart-alert").slideUp(500);
                });
                $("#productForm")[0].reset();
            }
        })
    }
    $(document).ready(function () {
        $("#gtc-cart-alert").hide();

        var cropBoxData, canvasData, cropper, cropperInputImage, cropperOutputImage;
        var fileDetails = {};
        var imagesPreview = function (uploader, placeToInsertImagePreview) {
            if (uploader.files && uploader.files[0]) {
                $('#uploaded-profile-picture').attr('src', window.URL.createObjectURL(uploader.files[0]));
                cropperInputImage = document.getElementById('uploaded-profile-picture');
                $('#profile-picture-modal').modal('show');
            }
        };
        $('#gallery-photo-add').on('change', function () {
            imagesPreview(this, 'div.gallery');
        });

        $('#profile-picture-modal').on('shown.bs.modal', function () {
            cropper = new Cropper(cropperInputImage, {
                aspectRatio: 16 / 16,
                //setSelect: [0,0,1,1],
                maxContainerWidth: 800,
                maxContainerHeight: 600,
                ready: function () {
                    //cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
                }
            });
        }).on('hidden.bs.modal', function () {
            cropBoxData = cropper.getCropBoxData();
            canvasData = cropper.getCanvasData();
            cropper.destroy();
        });

        $('#crop-profile-image').click(function () {
            cropper.getCroppedCanvas().toBlob(function (blob) {
                cropperOutputImage = blob;
                fileDetails["croppedExtension"] = blob["type"].split("/")[1];
                fileDetails["fileName"] = fileDetails["originalFileName"] + "." + fileDetails["croppedExtension"]
            });
            $($.parseHTML('<img>')).attr('src', cropper.getCroppedCanvas().toDataURL()).appendTo('div.gallery');
            $('#profile-picture-modal').modal('hide');
        })

        $("#productForm").submit(function (e) {
            e.preventDefault();

            let input = $("#productForm :input").filter(function (index, element) {
                return $(element).val() != '';
            }).serialize();

            /*  if ($("#file")[0].files.length > 0) {
                  var form = new FormData();
                  form.append("file", $("#file")[0].files);
                  form.append("filename", "test");
  
                  /*  $.each($("#file")[0].files, function (i, file) {
                        form.append("file[" + i + "]", file);
                    });
    
                    var obj = {};
    
                    console.log("uploaded files", $("#file")[0].files);*/

            /* $.ajax({
                  type: 'POST',
                  url: '/api/products/upload',
                  data: form,
                  cache: false,
                  dataType: 'json',
                  processData: false,
                  contentType: false,
                  success: function (data) {
                      obj.type = 1;
                      obj.status = 1;
                      obj.url = data.imageURL;
                      obj.base_image = 1;
                      addProduct(obj, input);
                  },
                  error: function (error) {
                      console.log('error', error);
                  }
              });
          } else {*/
            var obj = {};
            obj.url = null;
            addProduct(obj, input);
            // }
        });
    });
</script>
<div class="modal fade" id="profile-picture-modal" tabindex="-1" role="dialog" aria-labelledby="profile-picture-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profile-picture-modalLabel">Crop Profile Avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin-right:35px">
                <div class="container">
                    <img src="" style="max-width: 100% !important;" id="uploaded-profile-picture" alt="Profile Picture">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="crop-profile-image">Crop Image</button>
            </div>
        </div>
    </div>
</div>
{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
    <div class="gtc-container">
        <div class="row">
            <div class="col-sm-2">
                {{> vendor/vendor-side-navbar}}
            </div>
            <div class="col-sm-10">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="ibox-title">
                            <h2>Add Product</h2>
                            <div class="alert" id="gtc-cart-alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span class="cart-message"></span>
                            </div>
                        </div>
                        <div class="content-body">
                            <form id="productForm" class="form">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label class="label-control">Product Name <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control-customized form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="label-control">Marketplace <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control-customized form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="label-control">Category <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <select class="custom-select form-control-customized form-control-sm custom_left_arrow_style">
                                                    <option disabled selected>Select Category...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="label-control">Sub Category <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <select class="custom-select form-control-customized form-control-sm custom_left_arrow_style">
                                                    <option disabled selected>Select Sub Category...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="label-control">Country <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <select class="custom-select form-control-customized form-control-sm custom_left_arrow_style">
                                                    <option disabled selected>Select Country...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="label-control">State <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <select class="custom-select form-control-customized form-control-sm custom_left_arrow_style">
                                                    <option disabled selected>Select State...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="label-control">City <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control-customized form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="label-control">SKU <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control-customized form-control-sm" placeholder="Stock keep unit">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="label-control">Price <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control-customized form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="label-control">Quantity Available <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control-customized form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="label-control">Description</label>
                                            <textarea class="form-control-customized" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label class="label-control">Upload Image <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="custom-file custom_error_message">
                                                    <input type="file" class="custom-file-input" id="icon" name="vendorIcon" required>
                                                    <label class="custom-file-label customized-file-label" for="icon">Choose file</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                        <button type="submit" class="btn btn-gray btn-sm">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
{{> footer/bottom-footer}} {{!-- {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<section class="showing_categ">
    <div class="">
        <div class="container">
            <div class="row">
                {{> vendor/navbar}}
                <div class="col-md-8" style="background-color: #fff;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">





                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer/bottom-footer}} --}}